<template>
  <b-row>
    <b-colxx class="disable-text-selection">
      <blocks-list-heading>Блоки</blocks-list-heading>
      <template v-if="isLoad">
        <draggable type="div" :list="getBlockList.place_set" class="answers mb-3 sortable" @end="blocks = getBlockList.place_set">
          <div v-for="(block, index) in getBlockList.place_set" :key="index">
<!--            тут костыльный костыль до среды-->
            <QuestionBlock v-if="block.content_object.type == 'test'" :question="block.content_object"></QuestionBlock>
            <QuestionBlock v-if="block.content_object.type == 'question'" :question="block.content_object"></QuestionBlock>
            <TheoryBlock v-if="block.content_object.type == 'theory'" :theory="block.content_object"></TheoryBlock>
            <MessageBlock v-if="block.content_object.type == 'message'" :message="block.content_object"></MessageBlock>
            <OpenQuestionBlock v-if="block.content_object.type == 'open_question'" :id="block.sequence_no" :openQuestion="block.content_object"></OpenQuestionBlock>
            <SafeTextBlock v-if="block.content_object.type == 'safe_text'" :safe_text="block.content_object"></SafeTextBlock>
          </div>
        </draggable>
        <add-open-question v-if="getAddType == 'addOpenQ'"></add-open-question>
        <add-message v-if="getAddType == 'addMessage' || getAddType == 'addPerson'"></add-message>
        <add-person-with-message v-if="getAddType == 'addPerson'"></add-person-with-message>
        <add-question v-else-if="getAddType == 'addQuestion' || getAddType == 'addTestQuestion'"></add-question>
        <add-theory v-else-if="(getAddType == 'addTheory' || getAddType == 'addChapter')"></add-theory>
        <add-chapter v-if="getAddType == 'addChapter'"></add-chapter>
        <add-safe-text v-if="getAddType == 'addSafeText'"></add-safe-text>
<!--        <div class="d-flex justify-content-center w-100">-->
<!--          <b-button class="mb-1 mt-3" variant="primary" @click.prevent="startAdding">Add block</b-button>-->
<!--        </div>-->
      </template>
      <template v-else>
        <div class="loading"></div>
      </template>
    </b-colxx>
  </b-row>
</template>

<script>
    import API from 'Api'
    import BlocksListHeading from "../../../containers/my/BlocksListHeading";
    import addPersonWithMessage from "./persons/addPersonWithMessage";
    import addQuestion from "./question/addQuestion";
    import addTheory from "./theory/addTheory";
    import addChapter from "./theory/addChapter";
    import addMessage from "./messages/addMessage";
    import Draggable from 'vuedraggable';
    import addOpenQuestion from "./openQuestion/addOpenQuestion";
    import QuestionBlock from "./question/QuestionBlock";
    import TheoryBlock from "./theory/TheoryBlock";
    import MessageBlock from "./messages/MessageBlock";
    import OpenQuestionBlock from "./openQuestion/OpenQuestionBlock";
    import { mapGetters } from 'vuex'
    import addSafeText from "./safeText/addSafeText";
    import SafeTextBlock from "./safeText/SafeTextBlock";
    export default {
        name: "allBlocks",
        components: {
            OpenQuestionBlock,
            BlocksListHeading,
            addOpenQuestion,
            addChapter,
            addMessage,
            addPersonWithMessage,
            addQuestion,
            addTheory,
            QuestionBlock,
            TheoryBlock,
            MessageBlock,
            Draggable,
            addSafeText,
            SafeTextBlock
        },
        data() {
            return {
                add: false,
                type: '',
                blocks: [],
                chapters: [],
                editing: false,
                isAfterOpenQuestion: false
            }
        },
        computed: {
            ...mapGetters(['getBlockList', 'getAddType']),
            isLoad(){
                if (this.getBlockList)
                    return true;
                else
                    return false
            }
        },
        methods: {

        },
        mounted() {
            this.$store.dispatch('getAllBlocks', this.$route.params.page_id);
            this.$store.dispatch('getAllPersons', this.$route.params.id);
            this.$store.dispatch('getAllChapters', this.$route.params.id);

        },
        watch: {
            blocks: function(newBlocks){
                console.log('new', newBlocks);
                let blockIds = [];
                const config = {
                    headers: { Authorization: `Bearer ${this.$store.getters.currentUser}`}
                };
                newBlocks.forEach(function (item) {
                    blockIds.push(item.id);
                });
                API
                    .post('admin_pannel/change_places_order/' + this.$route.params.page_id, {'place_id_list': blockIds}, config)
                    .then(response => {
                        this.$store.dispatch('getAllBlocks', this.$route.params.page_id)
                    })
                    .catch(function (error) {
                        console.log(error);
                        if(error.response.status == 404)
                        {

                        }
                        if(error.response.status == 401)
                        {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');

                        }
                        if(error.response.status == 403)
                        {
                            this.$bvToast.toast('У вас нет прав для изменения порядка блоков', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if(error.response.status == 400)
                        {
                            console.log(error.response.status, 'place_id_list does not contain all blocks of given simulator');
                        }
                    })
            }
        },
        beforeRouteLeave(to, from, next){
            this.$store.commit('setAllBlocks', null);
            this.$store.commit('setAllPersons', []);
            this.$store.commit('setAllChapters', []);
            next()
        }
    }
</script>

<style scoped>

</style>
