<template>
  <b-modal
    id="modalright"
    ref="modalright"
    title="Добавить промокод"
    modal-class="modal-right"
  >
    <b-form>
      <b-form-group label="Slug *">
        <b-form-input v-model="newItem.slug" />
      </b-form-group>
      <b-form-group label="Текст">
        <b-form-input v-model="newItem.text" />
      </b-form-group>
      <b-form-group label="Цена *">
        <b-form-input v-model="newItem.price" />
      </b-form-group>
<!--      <b-form-group label="Object id">-->
<!--        <b-form-input v-model="newItem.object_id" />-->
<!--      </b-form-group>-->
      <b-form-group label="Дата истечения">
        <b-form-datepicker placeholder="Выберите дату" v-model="newItem.expires"></b-form-datepicker>
      </b-form-group>
      <b-form-group label="Usage limit">
        <b-form-input v-model="newItem.usage_limit" />
      </b-form-group>
      <b-form-group label="Usage count">
        <b-form-input v-model="newItem.usage_count" />
      </b-form-group>
<!--      <b-form-group label="Content type">-->
<!--        <b-form-input v-model="newItem.content_type" />-->
<!--      </b-form-group>-->
<!--      <b-form-group label="User set">-->
<!--        <b-form-input v-model="newItem.user_set" />-->
<!--      </b-form-group>-->
      <div class="mb-2">* обязательные поля</div>
    </b-form>

    <template slot="modal-footer">
      <b-button
        variant="outline-secondary"
        @click="hideModal('modalright')"
      >Отменить</b-button>
      <b-button variant="primary" @click="addNewPromo()" class="mr-1">Добавить</b-button>
    </template>
  </b-modal>
</template>

<script>
    import API from 'Api'
    export default {
        name: "AddNewPromocode",
        data() {
            return {
                newItem: {
                    slug: '',
                    price: 0,
                    object_id: 0,
                    expires: '',
                    text: '',
                    usage_limit: 0,
                    usage_count: 0,
                    user_set: [1]
                }
            }
        },
        methods: {
            hideModal(refname) {
                this.$refs[refname].hide();
            },
            addNewPromo() {
              console.log(new Date(this.newItem.expires))
                const config = {
                    headers: {
                        Authorization: `Bearer ${this.$store.getters.currentUser}`,
                        'Content-Type': 'multipart/form-data'
                    }
                };
                const data = new FormData();
                if (!this.newItem.slug || !this.newItem.price) {
                    this.$bvToast.toast("Заполните обязательные все поля", {
                        title: "Уведомление",
                        variant: "danger",
                        solid: true,
                    });
                    return false;
                }
                let expires = new Date(this.newItem.expires);
                data.append('slug', this.newItem.slug);
                data.append('price', this.newItem.price);
                data.append('simulator', this.$route.params.id);
                // data.append('object_id', this.newItem.object_id);
                data.append('expires', expires.toISOString());
                data.append('text', this.newItem.text);
                data.append('usage_limit', this.newItem.usage_limit);
                data.append('usage_count', this.newItem.usage_count);
                // data.append('content_type', this.newItem.content_type);
                API
                    .post('admin_pannel/create_promocode/', data, config)
                    .then(response => {
                        console.log(response)
                        this.$store.dispatch('getAllPromo', this.$route.params.id);
                        this.hideModal('modalright');
                    })
                    .catch(function (error) {
                        if (error.response.status == 404) {

                        }
                        if(error.response.status == 500)
                        {
                            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if (error.response.status == 401) {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');
                            //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                        }
                    }.bind(this));
            }
        }
    }
</script>

<style scoped>

</style>
