<template>
  <b-collapse :id="`promoCollapse${promo.id}`" class="question-collapse">
    <div class="card-body pt-4">
      <div class="form-group mb-3" @submit.prevent="changePromo">
        <b-form-group label="Slug *">
          <b-form-input v-model="promo.slug" />
        </b-form-group>
        <b-form-group label="Текст">
          <b-form-input v-model="promo.text" />
        </b-form-group>
        <b-form-group label="Цена *">
          <b-form-input v-model="promo.price" />
        </b-form-group>
<!--        <b-form-group label="Object id">-->
<!--          <b-form-input v-model="promo.object_id" />-->
<!--        </b-form-group>-->
        <b-form-group label="Дата истечения">
          <b-form-datepicker placeholder="Выберите дату" v-model="promo.expires"></b-form-datepicker>
        </b-form-group>
        <b-form-group label="Usage limit">
          <b-form-input v-model="promo.usage_limit" />
        </b-form-group>
        <b-form-group label="Usage count">
          <b-form-input v-model="promo.usage_count" />
        </b-form-group>
<!--        <b-form-group label="Content type">-->
<!--          <b-form-input v-model="promo.content_type" />-->
<!--        </b-form-group>-->
        <!--      <b-form-group label="User set">-->
        <!--        <b-form-input v-model="promo.user_set" />-->
        <!--      </b-form-group>-->
      </div>
      <b-button variant="outline-secondary" @click="hideModal(promo.id)">Отменить</b-button>
      <b-button variant="primary" @click="changePromo(promo.id)" class="mr-1">Изменить</b-button>
    </div>
  </b-collapse>
</template>

<script>
    import API from 'Api'
    export default {
        name: "EditPromocode",
        props: ['promo'],
        methods: {
            hideModal(id) {
                this.$root.$emit("bv::toggle::collapse", `promoCollapse${id}`);
            },
            changePromo(id){
                const config = {
                    headers: {
                        Authorization: `Bearer ${this.$store.getters.currentUser}`,
                        "Content-Type": "multipart/form-data",
                    },
                };
                const data = new FormData();
                if (!this.promo.slug || !this.promo.price){
                    this.$bvToast.toast("Заполните обязательные все поля", {
                        title: "Уведомление",
                        variant: "info",
                        solid: true,
                    });
                    return false;
                }
                let expires = new Date(this.promo.expires)
                data.append('slug', this.promo.slug);
                data.append('price', this.promo.price);
                data.append('simulator', this.$route.params.id);
                // data.append('object_id', this.promo.object_id);
                data.append('expires', expires.toISOString());
                data.append('text', this.promo.text);
                data.append('usage_limit', this.promo.usage_limit);
                data.append('usage_count', this.promo.usage_count);
                API
                    .patch('admin_pannel/promocode_detail/' + id, data, config)
                    .then(response => {
                        this.$root.$emit("bv::toggle::collapse", `promoCollapse${id}`);
                        this.$store.dispatch('getAllPromo', this.$route.params.id);
                        this.$bvToast.toast('Информация о промокоде изменена', {
                            title: 'Уведомление',
                            variant: 'info',
                            solid: true
                        })
                    })
                    .catch(function (error) {
                        if (error.response.status == 404) {

                        }
                        if (error.response.status == 400) {
                            this.$bvToast.toast("Заполните все поля", {
                                title: "Уведомление",
                                variant: "info",
                                solid: true,
                            });
                        }
                        if(error.response.status == 500)
                        {
                            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if (error.response.status == 401) {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');
                            //ошибка токена. Пытается ломануть нас. Выкинуть на главную
                        }
                        if (error.response.status == 403) {
                            this.$bvToast.toast("У вас нет прав для редактирования страниц", {
                                title: "Уведомление",
                                variant: "danger",
                                solid: true,
                            });
                        }
                    }.bind(this))
            }
        }
    }
</script>

<style scoped>

</style>
