<template>
  <div>
  <b-card no-body class="mb-2 p-3" v-for="(promo,index) in getPromoList" :key="index">
    <div class="position-relative d-flex flex-row justify-content-between align-items-center w-100" style="cursor: pointer" >
      <div class="d-flex flex-row justify-content-left m-0">
        <div class="ml-4 d-flex flex-column justify-content-center">
          <h4><span class="align-middle responsive">{{ promo.slug }}</span></h4>
        </div>
      </div>
      <div class="mr-3">
        <b-button variant="outline-theme-3" class="icon-button rotate-icon-click rotate"
                  @click="toggleItem(promo)"
        >
          <i class="simple-icon-pencil"></i>
        </b-button>
        <b-button variant="outline-theme-3" class="icon-button rotate-icon-click rotate"
                  @click="showModal"
        >
          <i class="simple-icon-trash"></i>
        </b-button>
      </div>
    </div>
    <EditPromocode :promo="promo"></EditPromocode>
    <b-modal :id="'my-modal-promo' + promo.id" centered hide-footer hide-header>
      <div class="d-block text-center">
        <h3>Вы действительно хотите удалить промокод?</h3>
      </div>
      <div class="d-flex flex-row justify-content-center mt-5">
        <b-button class="mr-2 w-40" variant="outline-secondary" block @click="hideModal">Отменить</b-button>
        <b-button class="m-0 w-40" variant="primary" block @click="deleteItem(promo.id)">Удалить</b-button>
      </div>
    </b-modal>
  </b-card>
  </div>
</template>

<script>
    import { mapGetters } from 'vuex';
    import EditPromocode from "./EditPromocode";
    import API from 'Api'

    export default {
        name: "PromocodeCard",
        components: {
            EditPromocode,
        },
        data() {
            return{
                promo: []
            }
        },
        computed: {
            ...mapGetters(['getPromoList']),

        },
        methods: {
            showModal() {
                this.$bvModal.show('my-modal-promo' + this.promo.id)
            },
            hideModal() {
                this.$bvModal.hide('my-modal-promo' + this.promo.id)
            },
            toggleItem(page){
                this.$root.$emit('bv::toggle::collapse', `promoCollapse${page.id}`);
            },
            deleteItem(id){
                const config = {
                    headers: { Authorization: `Bearer ${this.$store.getters.currentUser}`}
                };
                API
                    .delete('admin_pannel/delete_promocode/' + id, config)
                    .then(response => {
                        console.log(response);
                        this.hideModal();
                        this.$store.dispatch('getAllPromo', this.$route.params.id)
                    })
                    .catch(function (error) {
                        console.log(error)
                        if(error.response.status == 404)
                        {

                        }
                        if(error.response.status == 500)
                        {
                            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if(error.response.status == 401)
                        {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');
                            //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                        }
                    }.bind(this))
            }
        },
        mounted() {
            this.$store.dispatch('getAllPromo', this.$route.params.id)
        }
    }
</script>

<style scoped>

</style>
