<template>
  <b-row>
    <b-colxx class="disable-text-selection">
      <promocodes-list-heading></promocodes-list-heading>
      <template v-if="isLoad">
        <PromocodeCard></PromocodeCard>
      </template>
      <template v-else>
        <div class="loading"></div>
      </template>
    </b-colxx>
  </b-row>
</template>

<script>
    import PromocodesListHeading from "../../../containers/my/PromocodesListHeading";
    import PromocodeCard from "./PromocodeCard";
    import {mapGetters} from 'vuex'
    export default {
        name: "Promocodes",
        components: {
            PromocodesListHeading,
            PromocodeCard
        },
        computed: {
            ...mapGetters(['getPromoList']),
            isLoad(){
                if (this.getPromoList){
                    return true
                }
                else {
                    return false
                }
            }
        },
        mounted() {
            this.$store.dispatch('getAllPromo', this.$route.params.id)
        },
        beforeRouteLeave(to, from, next){
            this.$store.commit('setAllPromo', []);
            next();
        }
    }
</script>

<style scoped>

</style>
