<template>
  <b-modal
    id="modalright"
    ref="modalright"
    title="Добавить симулятор"
    modal-class="modal-right"
  >
    <b-form v-if="!addGroup">
      <b-form-group label="Название симулятора *">
        <b-form-input v-model="newItem.title" />
      </b-form-group>
      <label for="">Выберите поддомен *</label>
      <b-input-group  :append='"." + domain' style="margin-bottom: 1rem">
        <b-form-input v-model="newItem.domain"  />
      </b-input-group>
      <label for="">Выберите домен</label>
      <b-input-group style="margin-bottom: 1rem">
        <b-form-input v-model="newItem.alias"  />
      </b-input-group>
<!--      <label for="">Описание</label>-->
<!--      <b-input-group style="margin-bottom: 1rem">-->
<!--        <b-form-input v-model="newItem.description"  />-->
<!--      </b-input-group>-->
      <label for="">Цена</label>
      <b-input-group style="margin-bottom: 1rem">
        <b-form-input v-model="newItem.price"  />
      </b-input-group>
      <b-form-group label="Иллюстрация (510х276) *">
        <croppa
          style="cursor: pointer"
          :width="255"
          :height="138"
          :quality="2"
          :disable-drag-to-move="false"
          :disable-scroll-to-zoom="false"
          :disable-pinch-to-zoom="true"
          :disable-rotation="true"
          :canvas-color="'#eee'"
          :remove-button-color="'#008ecc'"
          :remove-button-size="30"
          v-model="myCroppa">
        </croppa>
      </b-form-group>
      <b-form-group label="Логотип (220х128) *">
        <croppa
          style="cursor: pointer"
          :width="110"
          :height="64"
          :quality="2"
          :disable-drag-to-move="false"
          :disable-scroll-to-zoom="false"
          :disable-pinch-to-zoom="true"
          :disable-rotation="true"
          canvas-color="transparent"
          :remove-button-color="'#008ecc'"
          :canvas-color="'#eee'"
          :remove-button-size="30"
          v-model="myCroppaLogo">
        </croppa>
      </b-form-group>
      <b-form-group label="Группа *">
        <v-select v-model="selectedGroup" :options="options" :reduce="text => text.value" label="text"/>
      </b-form-group>
      <b-form-group label="Открывать уроки по порядку">
        <b-form-radio-group
          id="radio-group-1"
          v-model="newItem.order_lesson"
          :options="radio_options"
          name="radio-options"
        ></b-form-radio-group>
      </b-form-group>
    </b-form>
    <b-form v-else>
      <b-form-group label="Название группы *">
        <b-form-input v-model="group_name" />
      </b-form-group>
    </b-form>

    <div class="mb-2">* обязательные поля</div>
    <template slot="modal-footer">
      <b-button
        variant="outline-secondary"
        @click="hideModal('modalright')"
      >Отменить</b-button>
      <b-button variant="primary" @click="addNewItem()" class="mr-1">Создать</b-button>
    </template>
  </b-modal>
</template>
<script>
import Vue from 'vue'
import vSelect from "vue-select";
import "vue-select/dist/vue-select.css";
import { domain } from '../../constants/config'
import Croppa from 'vue-croppa';
import API from "@/api";
import {
    mapGetters,
    mapActions
} from "vuex";

Vue.use(Croppa)

export default {
  components: {
      "v-select": vSelect,
  },
  computed: {
    // смешиваем результат mapGetters с внешним объектом computed
    ...mapGetters([
      'currentUser',
      'getSimGroupsList'
    ]),
    options(){
        let opt = [];
        this.getSimGroupsList.forEach((item) => {
            opt.push({text: item.name, value: item.id});
        });
        opt.push({text: 'Добавить группу', value: 'Добавить группу'});
        return opt;
    }
  },
  props: ["categories", "statuses"],
  data() {
    return {
      selectedGroup: null,
      group_name: '',
      newItem: {
        title: "",
        domain: "",
        description: "",
        price: null,
        group: null,
        order_lesson: true,
        alias: ''
      },
      radio_options: [
          {text: 'Да', value: true},
          {text: 'Нет', value: false}
      ],
      domain,
      logo: null,
      picture: null,
      myCroppa: {},
      myCroppaLogo: {},
      addGroup: false
    };
  },
  mounted()
  {

  },
  methods: {
    ...mapActions(["signOut"]),
    addNewGroup(){
        const config = {
            headers: { Authorization: `Bearer ${this.$store.getters.currentUser}`, 'Content-Type':'multipart/form-data'}
        };
        const data = new FormData();
        data.append('name', this.group_name);
        API
            .post('admin_pannel/create_group/', data, config)
            .then(response => {
                console.log(response)
                this.$store.dispatch('getAllSimGroups');
                this.hideModal('modalright');
                this.group_name = ''
            })
            .catch(function (error) {
                if(error.response.status == 404)
                {

                }
                if(error.response.status == 401)
                {
                    this.$store.dispatch('signOut');
                    this.$router.push('/user');
                    //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                }
            }.bind(this));

    },
    addNewItem() {
      if (this.addGroup){
          this.addNewGroup();
          return true;
      }
      this.myCroppa.generateBlob((blob) => {
          this.myCroppaLogo.generateBlob((blob1) => {
              this.logo = new File([blob1], this.newItem.title + '+' + this.newItem.domain + '.png');
              this.picture = new File([blob], this.newItem.title + '+' + this.newItem.domain + '.jpg');
              const config = {
                  headers: { Authorization: `Bearer ${this.currentUser}`, 'Content-Type':'multipart/form-data' }
              };
              const data = new FormData();
              if (!this.newItem.domain || !this.newItem.title || !this.myCroppa.chosenFile || !this.myCroppaLogo.chosenFile
                || !this.newItem.group){
                this.$bvToast.toast('Проверьте заполнение названия, поддомена и изображений, а также выберите группу', {
                  title: 'Уведомление',
                  variant: 'danger',
                  solid: true
                })
                return
              }
              data.append("name", this.newItem.title);
              data.append("picture", this.picture);
              data.append("logo", this.logo);
              data.append("domain", this.newItem.domain
                  + '.mysimulator.ru'
              );
              if (this.newItem.price)
                  data.append("price", this.newItem.price);
              if (this.newItem.alias)
                  data.append("alias", this.newItem.alias);
              data.append("group", this.newItem.group);
              data.append("order_lesson", this.newItem.order_lesson);
              // data.append("description", this.newItem.description);
              API.post("admin_pannel/create_simulator/", data, config).then(response => {
                  console.log(response.data)
                  this.$store.dispatch('getAllSimulators');
                  this.newItem = {
                      title: "",
                      domain: "",
                      description: "",
                      price: null,
                      alias: null,
                      order_lesson: true,
                      group: null
                  };
                  this.logo = null;
                  this.picture = null;
                  this.$emit('add-new-sim');
                  this.$bvModal.hide('modalright')
              })
                  .catch(function (error) {
                      console.log(error)
                      if(error.response.status == 404)
                      {

                      }
                      if(error.response.status == 400)
                      {
                          this.$bvToast.toast('Проверьте правильность заполнения', {
                              title: 'Уведомление',
                              variant: 'info',
                              solid: true
                          })
                          //уведомление. Выберите другой домен. Vue Bootstrap Toast
                      }
                      if(error.response.status == 500)
                      {
                          this.$bvToast.toast('Выберите другой домен', {
                              title: 'Уведомление',
                              variant: 'info',
                              solid: true
                          })
                          //уведомление. Выберите другой домен. Vue Bootstrap Toast
                      }
                      if(error.response.status == 401)
                      {
                          this.$store.dispatch('signOut');
                          this.$router.push('/user');
                          //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                      }
                      if(error.response.status == 500)
                      {

                      }

                  }.bind(this));
          }, 'image/png', 0.8);
      }, 'image/jpeg', 0.8);

    },
    hideModal(refname) {
      if (this.addGroup)
          this.addGroup = false;
      else
          this.$refs[refname].hide();
    }
  },
    watch: {
      myCroppa: function (newCroppa) {
          console.log(newCroppa)
      },
      selectedGroup: function (newGroup) {
          if (newGroup == 'Добавить группу'){
              this.addGroup = true
          }
          else{
              this.newItem.group = newGroup;
          }
      }
    }
};
</script>
<style lang="scss">
.custom-file-input{
  cursor:pointer !important;
}
</style>

