<template>
  <b-row>
    <b-colxx xxs="12">
      <h1 style=""><slot></slot></h1>
      <div class="separator mb-5" />
    </b-colxx>
  </b-row>
</template>

<script>
    export default {
        name: "SettingsHeading"
    }
</script>

<style scoped>

</style>
