<template>
    <div>
      <b-row>
        <b-colxx>
          <template v-if="curr_user">
          <piaf-breadcrumb />
              <b-row class="mt-5">
                <b-colxx xxs="12" lg="5" xl="4" class="col-left mt-2">
                  <single-lightbox
                    :thumb="curr_user.avatar"
                    class-name="img-thumbnail card-img social-profile-img"
                  />
                  <b-card class="mb-4" no-body>
                    <b-card-body>
                      <div class="text-center pt-4">
                        <p class="list-item-heading pt-2">{{curr_user.first_name}} {{curr_user.last_name}}</p>
                      </div>
                      <p class="text-muted text-small mb-2">Пол</p>
                      <p class="mb-3">{{isMale}}</p>
                      <p class="text-muted text-small mb-2">Email</p>
                      <p class="mb-3">{{curr_user.email}}</p>
                    </b-card-body>
                  </b-card>
                </b-colxx>
                <b-colxx xxs="12" lg="7" xl="8" class="col-right mt-xl-2 mt-lg-2">
                  <b-card class="mb-4" no-body>
                    <b-card-body>
                      <div class="text-center">
                        <p class="list-item-heading pt-2">Информация о пользователе</p>
                      </div>
                      <p class="text-muted text-small mb-2">Email</p>
                      <p class="mb-3">{{isConfirmed}}</p>
                      <p class="text-muted text-small mb-2">Симулятор</p>
                      <p class="mb-3">{{isPaid}}</p>
                      <p class="text-muted text-small mb-2">Баланс</p>
                      <p class="mb-3">{{curr_user.balance}}</p>
                      <p class="text-muted text-small mb-2">Онбординг</p>
                      <p class="mb-3">{{isCompleted}}</p>
                      <p class="text-muted text-small mb-2">Текущая страница</p>
                      <p class="mb-3" v-if="curr_user.sim_info">{{curr_page}}</p>
                    </b-card-body>
                  </b-card>
                </b-colxx>
              </b-row>
          </template>
          <template v-else>
            <div class="loading"></div>
          </template>
        </b-colxx>
      </b-row>
    </div>
</template>

<script>
  import API from 'Api'
  import SingleLightbox from "../../../containers/pages/SingleLightbox";
  import { mapGetters } from 'vuex'
    export default {
        name: "FullInfo",
        components: {
            SingleLightbox
        },
        data(){
            return{
                curr_user: {},
                curr_page: {}
            }
        },
        computed: {
            ...mapGetters(['getPagesList']),
            isMale(){
                if (this.curr_user)
                  return this.curr_user.male ? 'мужской' : 'женский'
            },
            isConfirmed(){
                if (this.curr_user)
                    return this.curr_user.confirmed ? 'подтвержден' : 'не подтвержден'
            },
            isPaid(){
                if (this.curr_user.sim_info)
                    return this.curr_user.sim_info.simulator_paid ? 'оплачен' : 'не оплачен'
            },
            isCompleted(){
                if (this.curr_user.sim_info)
                    return this.curr_user.sim_info.onboarding_complete ? 'пройден' : 'не пройден'
            }
        },
        methods: {
            getUser(){
                const config = {
                    headers: { Authorization: `Bearer ${localStorage.getItem('user')}`}
                };
                API
                    .get('admin_pannel/users/?simulator=' + this.$route.params.id, config)
                    .then(response => {
                        this.curr_user = response.data.filter(i => {
                            return i.id == this.$route.params.user_id;
                        })[0];
                        this.getPage();
                    })
                    .catch(function (error) {
                        if(error.response.status == 404)
                        {

                        }
                        if(error.response.status == 401)
                        {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');

                        }
                        if(error.response.status == 400)
                        {
                            this.$bvToast.toast('Симулятор не принадлежит пользователю', {
                                title: 'Уведомление',
                                variant: 'info',
                                solid: true
                            })
                        }
                        if(error.response.status == 500)
                        {
                            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                    });
            },
            getPage(){
                const config = {
                    headers: { Authorization: `Bearer ${localStorage.getItem('user')}`}
                };
                if (!this.curr_user.sim_info.current_page){
                    this.curr_page = 'Нет текущей страницы';
                    return false
                }
                API
                    .get('admin_pannel/page/' + this.curr_user.sim_info.current_page + '/?type=theory', config)
                    .then(response => {
                        console.log(response);
                        this.curr_page = response.data.name
                    })
                    .catch(function (error) {
                        if(error.response.status == 404)
                        {

                        }
                        if(error.response.status == 401)
                        {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');

                        }
                        if(error.response.status == 400)
                        {
                            this.$bvToast.toast('Симулятор не принадлежит пользователю', {
                                title: 'Уведомление',
                                variant: 'info',
                                solid: true
                            })
                        }
                    });
            },
        },
        mounted() {
            this.getUser();
            // this.$store.dispatch('getAllPages', this.$route.params.lesson_id)
        },
        beforeRouteLeave(to, from, next){
            this.curr_user = {};
            next()
        }
    }
</script>

<style scoped>

</style>
