<template>
  <b-row>
    <b-colxx xxs="12">
      <h1 style="">Пользователи</h1>
      <div class="separator mb-5" />
      <h6>Фильтр</h6>
      <b-form-group v-slot="{ ariaDescribedby }">
        <b-form-radio-group
          id="radio-group-users-1"
          v-model="selected"
          :options="options"
          :aria-describedby="ariaDescribedby"
          name="radio-options-users"
        ></b-form-radio-group>
      </b-form-group>
      <template v-if="Array.isArray(filterUsers)">
        <b-card v-for="(user, index) in filterUsers" :key="index" :class="{'d-flex flex-row mb-2':true}" no-body style="cursor:pointer;">

          <img :src="user.avatar" class="list-thumbnail responsive border-0" :alt="user.first_name" @click.prevent="fullInfo(user.id)"  />

            <div class="pl-3 align-self-center d-flex flex-row justify-content-between min-width-zero align-items-lg-center w-100">
              <div class="w-60" @click.prevent="fullInfo(user.id)" >
                <p class="list-item-heading mb-0 truncate">{{user.first_name}} {{user.last_name}}</p>
              </div>
              <div class="w-30"></div>
              <div class="w-10 mr-3">
                <b-button variant="outline-theme-3" class="icon-button rotate-icon-click rotate"
                          @click="deleteUser(user.id)"
                >
                  <i class="simple-icon-trash"></i>
                </b-button>
              </div>
            </div>
        </b-card>
      </template>
      <template v-else>
        <div class="loading"></div>
      </template>
    </b-colxx>
  </b-row>
</template>

<script>
    import API from 'Api'

    export default {
        name: "UsersList",
        data() {
            return {
                users: {},
                filterUsers: {},
                selected: 'all',
                options: [
                  { text: 'Симулятор оплачен', value: 'paid' },
                  { text: 'Симулятор не оплачен', value: 'not_paid' },
                  { text: 'Все пользователи', value: 'all' }
                ]
            }
        },
        computed: {
            paidUsers(){
                let paid_users = [];
                this.users.forEach(item => {
                    if (item.sim_info.simulator_paid){
                      paid_users.push(item);
                    }
                });
                return paid_users
            },
            notPaidUsers(){
                let not_paid_users = [];
                this.users.forEach(item => {
                    if (!item.sim_info.simulator_paid){
                        not_paid_users.push(item);
                    }
                });
                return not_paid_users
            }
        },
        methods: {
            fullInfo(id){
                this.$router.push('user/' + id)
            },
            getUsers(){
                const config = {
                    headers: { Authorization: `Bearer ${localStorage.getItem('user')}`}
                };
                API
                    .get('admin_pannel/users/?simulator=' + this.$route.params.id, config)
                    .then(response => {
                        this.users = response.data;
                        this.filterUsers = response.data;
                    })
                    .catch(function (error) {
                        if(error.response.status == 404)
                        {

                        }
                        if(error.response.status == 401)
                        {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');

                        }
                        if(error.response.status == 500)
                        {
                            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                title: 'Уведомление',
                                variant: 'info',
                                solid: true
                            })
                        }
                        if(error.response.status == 400)
                        {
                            this.$bvToast.toast('Симулятор не принадлежит пользователю', {
                                title: 'Уведомление',
                                variant: 'info',
                                solid: true
                            })
                        }
                    }.bind(this));
            },
            deleteUser(id){
                const config = {
                    headers: { Authorization: `Bearer ${localStorage.getItem('user')}`}
                };
                API
                    .delete('admin_pannel/delete_user/' + id, config)
                    .then(response => {
                        this.getUsers()
                    })
                    .catch(function (error) {
                        if(error.response.status == 404)
                        {

                        }
                        if(error.response.status == 500)
                        {
                            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if(error.response.status == 401)
                        {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');

                        }
                    }.bind(this));
            }
        },
        mounted() {
            this.getUsers();
            console.log(this.getUsers())
        },
        beforeRouteLeave(to, from, next){
            this.users = [];
            next();
        },
        watch: {
            selected: function(newValue){
                if (newValue == 'all')
                    this.filterUsers = this.users;
                else if (newValue == 'paid'){
                    this.filterUsers = this.paidUsers;
                }
                else
                    this.filterUsers = this.notPaidUsers;
            }
        }
    }
</script>

<style scoped>

</style>
