<template>
<div class="sidebar" @click.stop="()=>{}">
    <div class="main-menu">
        <vue-perfect-scrollbar class="scroll" :settings="{ suppressScrollX: true, wheelPropagation: false }">
            <ul class="list-unstyled">
                <li v-if="isSimulatorsPage" v-for="(i, key) in groups">
                  <a style="cursor: pointer; text-align: center" @click.prevent="toSimGroups(i.id)">
                    <i class="simple-icon-grid" />
                    {{ i.name }}
                  </a>
                </li>
                <li v-if="isSimulatorsPage">
                  <a
                    class="text-center"
                    style="cursor: pointer"
                    v-b-modal.modalright_group
                  >
                    <i class="simple-icon-plus" />
                    Добавить группу
                  </a>
                  <AddNewGroup></AddNewGroup>
                </li>

                <li v-else v-for="item in menuItems" :class="{ 'active' : (selectedParentMenu === item.id && viewingParentMenu === '') || viewingParentMenu === item.id }" :key="`parent_${item.id}`" :data-flag="item.id">
                    <a v-if="item.newWindow" :href="item.to" rel="noopener noreferrer" target="_blank">
                        <i :class="item.icon" />
                        {{ item.label }}
                    </a>
                    <a v-else-if="item.subs && item.subs.length>0" @click.prevent="openSubMenu($event,item)">
                        <i :class="item.icon" />
                        {{ item.label }}
                    </a>
                <template v-else-if="isPages">
                  <a v-if="item.id === 'toPages'" style="cursor: pointer" class="pl-1 pr-1" @click.prevent="toLessons('lessons')">
                    <i :class="item.icon" />
                    {{ item.label }}
                  </a>
                </template>
                <template v-else-if="isGroupsPage">
                  <a v-if="item.id === 'toPages'" style="cursor: pointer" class="pl-1 pr-1" @click.prevent="toSimGroups(0)">
                    <i :class="item.icon" />
                    {{ item.label }}
                  </a>
                </template>
                <template v-else-if="!isBlockPage">
                  <a v-if="item.id === 'lessons'" style="cursor: pointer; text-align: center" @click.prevent="toLessons(item.id)">
                    <i :class="item.icon" />
                    {{ item.label }}
                  </a>
                  <a v-else-if="item.id === 'persons'" style="cursor: pointer; text-align: center" @click.prevent="toPersons(item.id)">
                    <i :class="item.icon" />
                    {{ item.label }}
                  </a>
                  <a v-else-if="item.id === 'chapters'" style="cursor: pointer; text-align: center" @click.prevent="toChapters(item.id)">
                    <i :class="item.icon" />
                    {{ item.label }}
                  </a>
                  <a v-else-if="item.id === 'users'" style="cursor: pointer; text-align: center" @click.prevent="toUsers(item.id)">
                    <i :class="item.icon" />
                    {{ item.label }}
                  </a>
                  <a v-else-if="item.id === 'promocodes'" style="cursor: pointer; text-align: center" @click.prevent="toPromos(item.id)">
                    <i :class="item.icon" />
                    {{ item.label }}
                  </a>
                  <a v-else-if="item.id === 'settings'" style="cursor: pointer; text-align: center" @click.prevent="toSettings(item.id)">
                    <i :class="item.icon" />
                    {{ item.label }}
                  </a>
                </template>
                  <template v-else-if="isBlockPage">
                    <a v-if="item.id === 'toPages'" style="cursor: pointer" class="pl-1 pr-1" @click.prevent="toPages()">
                      <i :class="item.icon" />
                      {{ item.label }}
                    </a>
                    <a v-else-if="item.id === 'addMessage'" style="cursor: pointer; text-align: center" class="pl-1 pr-1" @click.prevent="changeAddType(item.id)">
                      <i :class="item.icon" />
                      {{ item.label }}
                    </a>
                    <a v-else-if="item.id === 'addOpenQ'" style="cursor: pointer; text-align: center" class="pl-1 pr-1" @click.prevent="changeAddType(item.id)">
                      <i :class="item.icon" />
                      {{ item.label }}
                    </a>
                    <a v-else-if="item.id === 'addQuestion'" style="cursor: pointer; text-align: center" class="pl-1 pr-1" @click.prevent="changeAddType(item.id)">
                      <i :class="item.icon" />
                      {{ item.label }}
                    </a>
                    <a v-else-if="item.id === 'addTestQuestion' && isTestPage" style="cursor: pointer; text-align: center" class="pl-1 pr-1" @click.prevent="changeAddType(item.id)">
                      <i :class="item.icon" />
                      {{ item.label }}
                    </a>
                    <a v-else-if="item.id === 'addTheory'" style="cursor: pointer; text-align: center" class="pl-1 pr-1" @click.prevent="changeAddType(item.id)">
                      <i :class="item.icon" />
                      {{ item.label }}
                    </a>
                    <a v-else-if="item.id === 'addSafeText'" style="cursor: pointer; text-align: center" class="pl-1 pr-1" @click.prevent="changeAddType(item.id)">
                      <i :class="item.icon" />
                      {{ item.label }}
                    </a>
                  </template>



                    <router-link v-else @click.native="changeSelectedParentHasNoSubmenu(item.id)" :to="item.to">
                        <i :class="item.icon" />
                        {{ item.label }}
                    </router-link>
                </li>
            </ul>
        </vue-perfect-scrollbar>
    </div>


</div>
</template>

<script>
import {
    mapGetters,
    mapMutations
} from "vuex";
import {
    menuHiddenBreakpoint,
    subHiddenBreakpoint
} from "../../constants/config";
import menuItems from "../../constants/menu";
import AddNewGroup from "../../views/simulator/simulatorGroup/AddNewGroup";

export default {
    components: {
        AddNewGroup
    },
    data() {
        return {
            selectedParentMenu: "",
            menuItems,
            viewingParentMenu: ""
        };
    },
    mounted() {
        this.selectMenu();
        window.addEventListener("resize", this.handleWindowResize);
        document.addEventListener("click", this.handleDocumentClick);
        this.handleWindowResize();
        this.$store.dispatch('getAllSimGroups');
        if (this.isBlockPage){
            this.$store.dispatch('getAllPages', this.$route.params.lesson_id);
        }
        // if(!this.isBlockPage && !this.isGroupsPage && !this.isSimulatorsPage){
        //     this.selectedParentMenu = this.$route.path.split('/')[this.$route.path.split('/').length - 1];
        //     this.viewingParentMenu = this.$route.path.split('/')[this.$route.path.split('/').length - 1];
        // }
    },
    beforeDestroy() {
        document.removeEventListener("click", this.handleDocumentClick);
        window.removeEventListener("resize", this.handleWindowResize);
    },

    methods: {
        ...mapMutations([
            "changeSideMenuStatus",
            "addMenuClassname",
            "changeSelectedMenuHasSubItems"
        ]),

        changeAddType(type){
            this.changeSelectedParentHasNoSubmenu(type);
            this.$store.dispatch('getNewAddType', type)
        },
        hidemodal(refname){
            this.$refs[refname].show();
        },
        toSimGroups(id){
            if (id == 0)
                this.$router.push('/my/simulators');
            else{
                this.$store.dispatch('getCurrSimGroup', id);
                this.$router.push("/my/group/" + id + '/simulators');
            }
        },
        toLessons(path){
            if (this.viewingParentMenu != 'lessons'){
                this.changeSelectedParentHasNoSubmenu(path);
                if (this.$route.params.id && this.$route.path.indexOf('/simulator/') > -1)
                    this.$router.push('/simulator/' + this.$route.params.id + '/lessons');
                else
                    this.$router.push("/app/dashboards");
            }
        },
        toSettings(path){
            if (this.viewingParentMenu != 'settings'){
                this.changeSelectedParentHasNoSubmenu(path);
                if (this.$route.params.id && this.$route.path.indexOf('/simulator/') > -1)
                    this.$router.push('/simulator/' + this.$route.params.id + '/settings');
                else
                    this.$router.push("/app/dashboards");
            }
        },
        toUsers(path){
            if (this.viewingParentMenu != 'users'){
                this.changeSelectedParentHasNoSubmenu(path);
                if (this.$route.params.id && this.$route.path.indexOf('/simulator/') > -1)
                    this.$router.push('/simulator/' + this.$route.params.id + '/users');
                else
                    this.$router.push("/app/dashboards");
            }
        },
        toPromos(path){
            if (this.viewingParentMenu != 'promocodes'){
                this.changeSelectedParentHasNoSubmenu(path);
                if (this.$route.params.id && this.$route.path.indexOf('/simulator/') > -1)
                    this.$router.push('/simulator/' + this.$route.params.id + '/promocodes');
                else
                    this.$router.push("/app/dashboards");
            }
        },
        toPersons(path){
            if (this.viewingParentMenu != 'persons'){
                this.changeSelectedParentHasNoSubmenu(path);
                if (this.$route.params.id && this.$route.path.indexOf('/simulator/') > -1)
                    this.$router.push('/simulator/' + this.$route.params.id + '/persons');
                else
                    this.$router.push("/app/dashboards");
            }
        },
        toChapters(path){
            if (this.viewingParentMenu != 'chapters'){
                this.changeSelectedParentHasNoSubmenu(path);
                if (this.$route.params.id && this.$route.path.indexOf('/simulator/') > -1)
                    this.$router.push('/simulator/' + this.$route.params.id + '/chapters');
                else
                    this.$router.push("/app/dashboards");
            }
        },
        toPages(){
            if (this.viewingParentMenu != 'toPages'){
                this.changeSelectedParentHasNoSubmenu('');
                if(typeof(this.$route.params.lesson_id) != 'undefined')
                {
                    this.$router.push('/simulator/' + this.$route.params.id + '/lesson/' + this.$route.params.lesson_id + '/pages')
                }
                else{
                    this.$router.push('/simulator/' + this.$route.params.id + '/lessons')
                }

            }
        },

        selectMenu() {
            const currentParentUrl = this.$route.path
                .split("/")
                .filter(x => x !== "");
            // console.log(currentParentUrl)
            if (currentParentUrl && currentParentUrl[2]) {
                this.selectedParentMenu = currentParentUrl[2].toLowerCase();
            } else {
                this.selectedParentMenu = "lessons";
            }
            this.isCurrentMenuHasSubItem();
        },
        isCurrentMenuHasSubItem() {
            const menuItem = this.menuItems.find(
                x => x.id === this.selectedParentMenu
            );
            const isCurrentMenuHasSubItem =
                menuItem && menuItem.subs && menuItem.subs.length > 0 ? true : false;
            if (isCurrentMenuHasSubItem != this.selectedMenuHasSubItems) {
                if (!isCurrentMenuHasSubItem) {
                    this.changeSideMenuStatus({
                        step: 0,
                        classNames: this.menuType,
                        selectedMenuHasSubItems: false
                    });
                }else{
                    this.changeSideMenuStatus({
                        step: 0,
                        classNames: this.menuType,
                        selectedMenuHasSubItems: true
                    });
                }
            }

            return isCurrentMenuHasSubItem;
        },

        changeSelectedParentHasNoSubmenu(parentMenu) {
            this.selectedParentMenu = parentMenu;
            this.viewingParentMenu = parentMenu;
            this.changeSelectedMenuHasSubItems(false);
            this.changeSideMenuStatus({
                step: 0,
                classNames: this.menuType,
                selectedMenuHasSubItems: false
            });
        },

        openSubMenu(e, menuItem) {
            const selectedParent = menuItem.id;
            const hasSubMenu = menuItem.subs && menuItem.subs.length > 0;
            this.changeSelectedMenuHasSubItems(hasSubMenu);
            if (!hasSubMenu) {
                this.viewingParentMenu = selectedParent;
                this.selectedParentMenu = selectedParent;
                this.toggle();
            } else {
                const currentClasses = this.menuType ?
                    this.menuType.split(" ").filter(x => x !== "") :
                    "";

                if (!currentClasses.includes("menu-mobile")) {
                    if (
                        currentClasses.includes("menu-sub-hidden") &&
                        (this.menuClickCount === 2 || this.menuClickCount === 0)
                    ) {
                        this.changeSideMenuStatus({
                            step: 3,
                            classNames: this.menuType,
                            selectedMenuHasSubItems: hasSubMenu
                        });
                    } else if (
                        currentClasses.includes("menu-hidden") &&
                        (this.menuClickCount === 1 || this.menuClickCount === 3)
                    ) {
                        this.changeSideMenuStatus({
                            step: 2,
                            classNames: this.menuType,
                            selectedMenuHasSubItems: hasSubMenu
                        });
                    } else if (
                        currentClasses.includes("menu-default") &&
                        !currentClasses.includes("menu-sub-hidden") &&
                        (this.menuClickCount === 1 || this.menuClickCount === 3)
                    ) {
                        this.changeSideMenuStatus({
                            step: 0,
                            classNames: this.menuType,
                            selectedMenuHasSubItems: hasSubMenu
                        });
                    }
                } else {
                    this.addMenuClassname({
                        classname: "sub-show-temporary",
                        currentClasses: this.menuType
                    });
                }
                this.viewingParentMenu = selectedParent;
            }
        },
        handleDocumentClick(e) {
            this.viewingParentMenu = "";
            this.selectMenu();
            this.toggle();
        },
        toggle() {
            const currentClasses = this.menuType.split(" ").filter(x => x !== "");
            if (
                currentClasses.includes("menu-sub-hidden") &&
                this.menuClickCount === 3
            ) {
                this.changeSideMenuStatus({
                    step: 2,
                    classNames: this.menuType,
                    selectedMenuHasSubItems: this.selectedMenuHasSubItems
                });
            } else if (
                currentClasses.includes("menu-hidden") ||
                currentClasses.includes("menu-mobile")
            ) {
                if (!(this.menuClickCount === 1 && !this.selectedMenuHasSubItems)) {
                    this.changeSideMenuStatus({
                        step: 0,
                        classNames: this.menuType,
                        selectedMenuHasSubItems: this.selectedMenuHasSubItems
                    });
                }
            }
        },
        // Resize
        handleWindowResize(event) {
            if (event && !event.isTrusted) {
                return;
            }
            let nextClasses = this.getMenuClassesForResize(this.menuType);
            this.changeSideMenuStatus({
                step: 0,
                classNames: nextClasses.join(" "),
                selectedMenuHasSubItems: this.selectedMenuHasSubItems
            });
        },
        getMenuClassesForResize(classes) {
            let nextClasses = classes.split(" ").filter(x => x !== "");
            const windowWidth = window.innerWidth;

            if (windowWidth < menuHiddenBreakpoint) {
                nextClasses.push("menu-mobile");
            } else if (windowWidth < subHiddenBreakpoint) {
                nextClasses = nextClasses.filter(x => x !== "menu-mobile");
                if (
                    nextClasses.includes("menu-default") &&
                    !nextClasses.includes("menu-sub-hidden")
                ) {
                    nextClasses.push("menu-sub-hidden");
                }
            } else {
                nextClasses = nextClasses.filter(x => x !== "menu-mobile");
                if (
                    nextClasses.includes("menu-default") &&
                    nextClasses.includes("menu-sub-hidden")
                ) {
                    nextClasses = nextClasses.filter(x => x !== "menu-sub-hidden");
                }
            }
            return nextClasses;
        }
    },
    computed: {
        ...mapGetters({
            menuType: "getMenuType",
            menuClickCount: "getMenuClickCount",
            selectedMenuHasSubItems: "getSelectedMenuHasSubItems",
            groups: 'getSimGroupsList',
            pages: 'getPagesList'
        }),
        isSimulatorsPage(){
            return this.$route.path.indexOf('/my/simulators') > -1;
        },
        isGroupsPage(){
            return this.$route.path.indexOf('/my/group') > -1;
        },
        isBlockPage(){
            return this.$route.path.indexOf('/page/') > -1;
        },
        isPages(){
            return this.$route.path.indexOf('/pages') > -1;
        },
        isTestPage(){
            if (this.pages){
                let curr_page = this.pages.filter(item => {
                    return item.id == this.$route.params.page_id;
                });
                if (curr_page[0])
                    return curr_page[0].is_test;
            }
        }
    },
    watch: {
        $route(to, from) {
            if (to.path !== from.path) {
                const toParentUrl = to.path.split("/").filter(x => x !== "")[1];
                if (toParentUrl !== undefined || toParentUrl !== null) {
                    this.selectedParentMenu = toParentUrl.toLowerCase();
                } else {
                    this.selectedParentMenu = "dashboards";
                }
                this.selectMenu();
                this.toggle();
                this.changeSideMenuStatus({
                    step: 0,
                    classNames: this.menuType,
                    selectedMenuHasSubItems: this.selectedMenuHasSubItems
                });

                window.scrollTo(0, top);
            }
        }
    }
};
</script>
