<template>
  <div>
    <h4 class="mb-3"><span class="align-middle responsive">Добавить письмо</span></h4>
    <b-form>
      <b-form-group label="Назначение *">
        <b-form-radio-group
          id="aim-radio-group"
          v-model="aim"
          :options="aim_options"
          name="aim-radio-options"
        ></b-form-radio-group>
      </b-form-group>
      <b-form-group label="Тип письма *">
        <b-form-radio-group
          v-if="aim == 1"
          id="letter-radio-group"
          v-model="newItem.email_type"
          :options="options"
          name="radio-options"
        ></b-form-radio-group>
        <div v-else>Регистрация</div>
      </b-form-group>
      <b-form-group label="Тема *">
        <b-form-input v-model="newItem.theme" />
      </b-form-group>
      <b-form-group label="Шаблон письма *">
        <editor
          api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
          v-model="newItem.template"
          :init="{
                 height: 250,
                 menubar: false,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | image | code | help'
               }"
        />
      </b-form-group>
    </b-form>
    <div class="mb-2">* обязательные поля</div>
    <b-button
      variant="outline-secondary"
      @click="closeAdding()"
    >Отменить</b-button>
    <b-button variant="primary" @click="addNewLetter()" class="mr-1">Добавить</b-button>
  </div>
</template>

<script>

import API from 'Api'
import Editor from '@tinymce/tinymce-vue'

export default {
  name: "AddLetter",
  props: ['group'],
  components: {
    Editor
  },
  data() {
    return {
      aim: 1,
      newItem: {
        email_type: 1,
        theme: "",
        template: "",
      },
      options: [
        {text: 'Покупка', value: 1},
        {text: 'Отмена покупки', value: 2}
      ],
      aim_options: [
        {text: 'Для симулятора', value: 1},
        {text: 'Для группы', value: 2}
      ],
    }
  },
  methods: {
    closeAdding(){
      this.$emit('close-adding');
    },
    addNewLetter(){
      const config = {
        headers: { Authorization: `Bearer ${this.$store.getters.currentUser}`, 'Content-Type':'multipart/form-data'}
      };
      if (!this.newItem.theme || !this.newItem.template){
        this.$bvToast.toast('Заполните тему и шаблон письма', {
          title: 'Уведомление',
          variant: 'danger',
          solid: true
        });
        return false
      }
      const data = new FormData();
      if (this.aim == 2) {
        this.newItem.email_type = 0;
        data.append('group', this.group);
      }
      else {
        data.append('simulator', this.$route.params.id);
      }
      data.append('email_type', this.newItem.email_type);
      data.append('theme', this.newItem.theme);
      data.append('template', this.newItem.template);
      // data.append('group', null);
      API
        .post('admin_pannel/create_email/', data, config)
        .then(response => {
          console.log(response);
          this.$store.dispatch('getAllLetters', this.$route.params.id);
          this.$store.dispatch('getLettersByGroup', this.group);
          this.closeAdding()
          this.newItem = {
            email_type: 1,
            theme: "",
            template: "",
          }
        })
        .catch(function (error) {
          console.log(error)
          if(error.response.status == 404)
          {

          }
          if(error.response.status == 400)
          {
            this.$bvToast.toast('Симулятор не принадлежит пользователю', {
              title: 'Уведомление',
              variant: 'info',
              solid: true
            })
          }
          if(error.response.status == 500)
          {
            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
              title: 'Уведомление',
              variant: 'danger',
              solid: true
            })
          }
          if(error.response.status == 401)
          {
            this.$store.dispatch('signOut');
            this.$router.push('/user');
            //ошибка токена. Пытается ломануть нас. Выкинуть на главную

          }
        }.bind(this));
    }
  }
}
</script>

<style scoped>

</style>
