<template>
  <b-collapse :id="`letterCollapse${letter.id}`" class="question-collapse">
    <div class="card-body pt-0 pl-4 pr-4 pb-4 w-100">
      <b-form @submit.prevent="">
        <b-form-group label="Тип письма *">
          <div v-if="letter.email_type == 0">Регистрация</div>
          <b-form-radio-group
            v-else
            :id="letter.id.toString() + letter.email_type"
            v-model="letter.email_type"
            :options="options"
            name="radio-options"
          ></b-form-radio-group>
        </b-form-group>
        <b-form-group label="Тема *">
          <b-form-input v-model="letter.theme" />
        </b-form-group>
        <b-form-group label="Шаблон письма *">
          <editor
            api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
            v-model="letter.template"
            :init="{
                 height: 250,
                 menubar: false,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | image | code | help'
               }"
          />
        </b-form-group>
      </b-form>
      <div class="mb-2">* обязательные поля</div>
      <b-button variant="outline-secondary" @click="hideModal(letter.id)">Отменить</b-button>
      <b-button variant="primary" @click="changeLetter(letter.id)" class="mr-1">Изменить</b-button>
    </div>
  </b-collapse>
</template>

<script>
import API from 'Api'
import Editor from '@tinymce/tinymce-vue'


export default {
  name: "EditLetter",
  props: ['letter', 'group'],
  components: {
    Editor
  },
  data() {
    return {
      options: [
        {text: 'Покупка', value: 1},
        {text: 'Отмена покупки', value: 2}
      ]
    }
  },
  methods: {
    hideModal(id) {
      this.$root.$emit("bv::toggle::collapse", `letterCollapse${id}`);
    },
    changeLetter(id){
      const config = {
        headers: {
          Authorization: `Bearer ${this.$store.getters.currentUser}`,
          "Content-Type": "multipart/form-data",
        },
      };
      if (!this.letter.theme || !this.letter.template){
        this.$bvToast.toast('Заполните тему и шаблон письма', {
          title: 'Уведомление',
          variant: 'danger',
          solid: true
        });
        return false
      }
      const data = new FormData();
      if (this.letter.email_type == 0) {
        data.append('group', this.group);
      }
      else {
        data.append('simulator', this.$route.params.id);
      }
      data.append('email_type', this.letter.email_type);
      data.append('theme', this.letter.theme);
      data.append('template', this.letter.template);
      // data.append('group', null);
      API
        .patch('admin_pannel/email/' + id, data, config)
        .then(response => {
          console.log(response);
          this.$store.dispatch("getAllLetters", this.$route.params.id);
          this.$root.$emit("bv::toggle::collapse", `letterCollapse${id}`);
          this.$bvToast.toast('Письмо изменено', {
            title: 'Уведомление',
            variant: 'info',
            solid: true
          })
        })
        .catch(function (error) {
          if (error.response.status == 404) {

          }
          if (error.response.status == 400) {
            this.$bvToast.toast("Заполните все поля", {
              title: "Уведомление",
              variant: "info",
              solid: true,
            });
          }
          if(error.response.status == 500)
          {
            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
              title: 'Уведомление',
              variant: 'danger',
              solid: true
            })
          }
          if (error.response.status == 401) {
            this.$store.dispatch('signOut');
            this.$router.push('/user');
            //ошибка токена. Пытается ломануть нас. Выкинуть на главную
          }
          if (error.response.status == 403) {
            this.$bvToast.toast("У вас нет прав для редактирования страниц", {
              title: "Уведомление",
              variant: "danger",
              solid: true,
            });
          }
        }.bind(this))
    },
  }
}
</script>

<style scoped>

</style>
