<template>
    <div class="">
      <div>
        <div>
          <div class="form-group mb-3">
            <label>Название</label>
            <b-input v-model="simulator.name" />
          </div>
          <div class="form-group mb-3">
            <label>Описание</label>
<!--            <quill-editor ref="myTextEditor"-->
<!--                          v-model="simulator.description"-->
<!--                          :options="editorOption">-->
<!--            </quill-editor>-->
            <editor
              api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
              v-model="simulator.description"
              :init="{
                 height: 250,
                 menubar: false,
                 images_upload_handler: upload_image,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | insertfile image | code | help',
               }"
            />
          </div>
          <div class="form-group mb-3">
            <label>Количество звезд, необходимых для запроса оценки от администратора</label>
            <b-input v-model="simulator.admin_comment_request_price" />
          </div>
          <div class="form-group mb-3">
            <label>Основной цвет сайта</label>
            <b-input v-model="simulator.color" type="color" />
          </div>
          <div class="form-group mb-3">
            <label>Цена</label>
            <b-input v-model="simulator.price" />
          </div>
          <div class="form-group mb-3">
            <label>Поддомен</label>
            <b-input-group :append='domain' style="margin-bottom: 1rem">
              <b-form-input v-model="no_domain"  />
            </b-input-group>
          </div>
          <div class="form-group mb-3">
            <label>Домен</label>
            <b-input-group style="margin-bottom: 1rem">
              <b-form-input v-model="simulator.alias"  />
            </b-input-group>
          </div>
          <div>
            <label>Открывать уроки по порядку</label>
            <b-form-radio-group
              id="radio-group-1"
              v-model="simulator.order_lesson"
              :options="radio_options"
              name="radio-options"
              class="mb-3"
            ></b-form-radio-group>
          </div>
          <div>
            <b-form-group label="Группа">
              <v-select v-model="simulator.group" :options="options" :reduce="text => text.value" label="text"/>
            </b-form-group>
          </div>
          <div v-if="simulator.group == 'Добавить группу'">
            <b-form>
              <b-form-group label="Название группы">
                <b-form-input v-model="group_name" />
              </b-form-group>
              <b-button variant="primary" @click="addNewGroup()" class="mr-1">Добавить</b-button>
              <b-button variant="primary" @click="simulator.group = selectedGroup" class="mr-1">Отменить</b-button>
            </b-form>
          </div>
          <div>
            <b-button variant="primary" v-if="this.simulator.group != 'Добавить группу'" @click="editSimulator()" class="mr-1">Изменить</b-button>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
    import API from 'Api';
    import 'quill/dist/quill.core.css'
    import 'quill/dist/quill.snow.css'
    import 'quill/dist/quill.bubble.css'
    import { quillEditor } from 'vue-quill-editor'
    import Editor from '@tinymce/tinymce-vue'
    import { mapGetters } from 'vuex'
    import vSelect from "vue-select";
    import "vue-select/dist/vue-select.css";

    export default {
        name: "Info",
        components: {
            quillEditor,
            'editor': Editor,
            vSelect
        },
        data(){
            return {
                addGroup: false,
                selectedGroup: null,
                group_name: '',
                num_stars: '',
                postreply_text: '',
                newMce: '',
                simulator: {},
                domain: '.mysimulator.ru',
                no_domain: '',
                editorOption: {
                    modules: {
                        toolbar: [
                            ['bold', 'italic', 'underline', 'strike'],
                            ['blockquote', 'code-block'],
                            [{ 'header': 1 }, { 'header': 2 }],
                            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                            [{ 'script': 'sub' }, { 'script': 'super' }],
                            [{ 'indent': '-1' }, { 'indent': '+1' }],
                            [{ 'direction': 'rtl' }],
                            [{ 'size': ['small', false, 'large', 'huge'] }],
                            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                            [{ 'font': [] }],
                            [{ 'color': [] }, { 'background': [] }],
                            [{ 'align': [] }],
                            ['clean'],
                            ['link', 'image', 'video']
                        ]
                    }
                },
                radio_options: [
                    {text: 'Да', value: true},
                    {text: 'Нет', value: false}
                ],
            }
        },
        computed: {
            ...mapGetters([
                'currentUser',
                'getSimGroupsList',
                'upload_image'
            ]),
            options(){
                let opt = [];
                this.getSimGroupsList.forEach((item) => {
                    opt.push({text: item.name, value: item.id});
                });
                opt.push({text: 'Добавить группу', value: 'Добавить группу'});
                return opt;
            }
        },
        methods: {
            toggleItem(){
                this.$root.$emit('bv::toggle::collapse', `infoCollapse`);
            },
            addNewGroup() {
                const config = {
                    headers: {
                        Authorization: `Bearer ${this.$store.getters.currentUser}`,
                        'Content-Type': 'multipart/form-data'
                    }
                };
                const data = new FormData();
                data.append('name', this.group_name);
                API
                    .post('admin_pannel/create_group/', data, config)
                    .then(response => {
                        console.log(response);
                        this.$store.dispatch('getAllSimGroups');
                        this.simulator.group = this.selectedGroup;
                        this.group_name = ''
                        this.addGroup = false;
                    })
                    .catch(function (error) {
                        if (error.response.status == 404) {

                        }
                        if(error.response.status == 500)
                        {
                            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if (error.response.status == 401) {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');
                            //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                        }
                    }.bind(this));
            },
            editSimulator(){
                const config = {
                    headers: { Authorization: `Bearer ${localStorage.getItem('user')}`}
                };
                const data = new FormData();
                if (this.simulator.pay_TerminalKey)
                    data.append('pay_TerminalKey', this.simulator.pay_TerminalKey);
                if (this.simulator.pay_EmailCompany)
                    data.append('pay_EmailCompany', this.simulator.pay_EmailCompany);
                if (this.simulator.pay_password)
                    data.append('pay_password', this.simulator.pay_password);
                if (this.simulator.admin_comment_request_price)
                    data.append('admin_comment_request_price', this.simulator.admin_comment_request_price);
                if (this.simulator.name)
                    data.append('name', this.simulator.name);
                if (this.simulator.description)
                    data.append('description', this.simulator.description);
                if (this.simulator.price)
                    data.append('price', this.simulator.price);
                if (this.simulator.color)
                    data.append('color', this.simulator.color);
                if (this.no_domain)
                    data.append('domain', this.no_domain + this.domain);
                if (this.simulator.alias)
                    data.append('alias', this.simulator.alias);
                if (this.simulator.group != 'Добавить группу')
                    data.append('group', this.simulator.group);
                data.append('order_lesson', this.simulator.order_lesson);
                API
                    .put('admin_pannel/update_simulator/' + this.$route.params.id, data, config)
                    .then(response => {
                        this.message = response.data;
                        this.getInfo();
                        this.toggleItem()
                        this.$bvToast.toast('Информация о симуляторе изменена', {
                            title: 'Уведомление',
                            variant: 'info',
                            solid: true
                        })
                    })
                    .catch(function (error) {
                        if(error.response.status == 404)
                        {

                        }
                        if(error.response.status == 500)
                        {
                            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if(error.response.status == 401)
                        {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');

                        }
                    }.bind(this));
            },
            getInfo(){
                const config = {
                    headers: { Authorization: `Bearer ${localStorage.getItem('user')}`}
                };
                API
                    .get('admin_pannel/update_simulator/' + this.$route.params.id, config)
                    .then(response => {
                        this.simulator = response.data;
                        this.no_domain = this.simulator.domain.substr(0, this.simulator.domain.length - 15);
                        this.selectedGroup = this.simulator.group;
                    })
                    .catch(function (error) {
                        if(error.response.status == 404)
                        {

                        }
                        if(error.response.status == 500)
                        {
                            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if(error.response.status == 401)
                        {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');

                        }
                    });
            }
        },
        watch: {
            // selectedGroup: function (newGroup) {
            //     if (newGroup == 'Добавить группу'){
            //         this.addGroup = true
            //     }
            // }
        },
        mounted() {
            this.getInfo();
        }
    }
</script>

<style scoped>

</style>
