<template>
  <div>
    <div :class="{'mt-4': !adding}" style="border-bottom: 1px solid #bbbbbb"></div>
    <div class="position-relative d-flex flex-row justify-content-between align-items-center w-100 mt-3 mb-3">
      <div class="d-flex flex-row justify-content- align-items-center m-0 w-60">
        <div class="ml-4 d-flex flex-column justify-content-center">
          <h4 class="m-0"><span class="align-middle responsive">{{ letter.theme }}</span></h4>
        </div>
      </div>
      <div class="mr-3">
        <b-button variant="outline-theme-3" class="icon-button rotate-icon-click rotate"
                  @click="toggleItem(letter)"
        >
          <i class="simple-icon-pencil"></i>
        </b-button>
        <b-button variant="outline-theme-3" class="icon-button rotate-icon-click rotate"
                  @click="showModal(letter.id)"
        >
          <i class="simple-icon-trash"></i>
        </b-button>
      </div>
    </div>
    <EditLetter :letter="letter" :group="group"></EditLetter>
    <b-modal :id="'my-modal-letter' + letter.id" centered hide-footer hide-header>
      <div class="d-block text-center">
        <h3>Вы действительно хотите удалить письмо?</h3>
      </div>
      <div class="d-flex flex-row justify-content-center mt-5">
        <b-button class="mr-2 w-40" variant="outline-secondary" block @click="hideModal(letter.id)">Отменить</b-button>
        <b-button class="m-0 w-40" variant="primary" block @click="deleteItem(letter.id)">Удалить</b-button>
      </div>
    </b-modal>
  </div>
</template>

<script>
import EditLetter from "@/views/simulator/settings/EditLetter";
import API from "Api/index";

export default {
  name: "LetterCard",
  props: ['letter', 'adding', 'group'],
  components: {
    EditLetter
  },
  methods: {
    toggleItem(letter){
      this.$root.$emit('bv::toggle::collapse', `letterCollapse${letter.id}`);
    },
    showModal(id) {
      this.$bvModal.show('my-modal-letter' + id)
    },
    hideModal(id) {
      this.$bvModal.hide('my-modal-letter' + id)
    },
    deleteItem(id){
      const config = {
        headers: { Authorization: `Bearer ${this.$store.getters.currentUser}`}
      };
      API
        .delete('admin_pannel/delete_email/' + id, config)
        .then(response => {
          console.log(response);
          this.hideModal(id);
          this.$store.dispatch('getAllLetters', this.$route.params.id)
        })
        .catch(function (error) {
          console.log(error)
          if(error.response.status == 404)
          {

          }
          if(error.response.status == 401)
          {
            this.$store.dispatch('signOut');
            this.$router.push('/user');
            //ошибка токена. Пытается ломануть нас. Выкинуть на главную

          }
          if(error.response.status == 500)
          {
            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
              title: 'Уведомление',
              variant: 'danger',
              solid: true
            })
          }
        }.bind(this))
    }
  }
}
</script>

<style scoped>

</style>
