<template>
  <div>
    <b-button v-if="!addLesson" variant="primary" @click="addLesson = true">Создать письмо</b-button>
    <template v-if="Array.isArray(getLettersList) && Array.isArray(getLettersGroupList)">
      <div v-for="(letter, key) in getLettersList" :key="key">
        <LetterCard :letter="letter" :group="group" :adding="addLesson"></LetterCard>
      </div>
      <div v-for="(letter, key) in getLettersGroupList" :key="key + getLettersList.length">
        <LetterCard :letter="letter" :group="group" :adding="addLesson"></LetterCard>
      </div>
      <div v-if="getLettersList.length > 0 || getLettersGroupList.length > 0" style="border-bottom: 1px solid #bbbbbb"
           :class="{'mb-4': addLesson, 'mb-1': !addLesson}"></div>
    </template>
    <template v-else>
      <div class="loading mt-5 mb-4" style="display: flex; align-items: center; position: relative"></div>
    </template>
    <AddLetter v-if="addLesson" @close-adding="addLesson = false" :group="group"></AddLetter>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import AddLetter from "@/views/simulator/settings/AddLetter";
import LetterCard from "@/views/simulator/settings/LetterCard";

export default {
  name: "Letters",
  props: ['group'],
  components: {
    AddLetter,
    LetterCard
  },
  data() {
    return {
      addLesson: false,
    }
  },
  computed: {
    ...mapGetters(['getLettersList', 'getLettersGroupList'])
  },
  mounted() {

  }
}
</script>

<style scoped>

</style>
