<template>
  <div class="">
    <div>
      <div>
        <div class="form-group mb-3">
          <label>Terminal Key</label>
          <b-input v-model="simulator.pay_TerminalKey" />
        </div>
        <div class="form-group mb-3">
          <label>Email</label>
          <b-input v-model="simulator.pay_EmailCompany" />
        </div>
        <div class="form-group mb-3">
          <label>Пароль</label>
          <b-input v-model="simulator.pay_password" />
        </div>
      </div>
      <div>
        <b-button variant="primary" @click="editSimulator()" class="mr-1">Изменить</b-button>
      </div>
    </div>
  </div>
</template>

<script>
    import API from 'Api'

    export default {
        name: "Payment",
        props: ['simulator'],
        data(){
            return {

            }
        },
        methods: {
            editSimulator(){
                const config = {
                    headers: { Authorization: `Bearer ${localStorage.getItem('user')}`}
                };
                const data = new FormData();
                if (this.simulator.pay_TerminalKey)
                    data.append('pay_TerminalKey', this.simulator.pay_TerminalKey);
                if (this.simulator.pay_EmailCompany)
                    data.append('pay_EmailCompany', this.simulator.pay_EmailCompany);
                if (this.simulator.pay_password)
                    data.append('pay_password', this.simulator.pay_password);
                if (this.simulator.name)
                    data.append('name', this.simulator.name);
                if (this.simulator.description)
                    data.append('description', this.simulator.description);
                if (this.simulator.price)
                    data.append('price', this.simulator.price);
                if (this.simulator.domain)
                    data.append('domain', this.simulator.domain);
                API
                    .put('admin_pannel/update_simulator/' + this.$route.params.id, data, config)
                    .then(response => {
                        console.log(response);
                        this.$emit('get-info');
                        this.$bvToast.toast('Информация о симуляторе изменена', {
                            title: 'Уведомление',
                            variant: 'info',
                            solid: true
                        })
                    })
                    .catch(function (error) {
                        if(error.response.status == 404)
                        {

                        }
                        if(error.response.status == 500)
                        {
                            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if(error.response.status == 401)
                        {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');

                        }
                    });
            },
        }
    }
</script>

<style scoped>

</style>
