<template>
    <div>
      <b-row>
        <b-colxx>
          <template v-if="simulator">
          <b-card class="mb-4" no-body>
            <b-tabs card no-fade>
              <b-tab title="Информация" active>
                <Info></Info>
              </b-tab>
              <b-tab title="Изображения">
                <label>Логотип (220х128)</label>
                <div class="d-flex flex-row justify-content-between w-100 mb-5">
                  <div class="d-flex flex-row justify-content-between align-items-center w-100">
                    <img v-if="!editLogo" :src="simulator.logo" style="cursor: pointer; width: 220px; height: 128px; background-size: cover" :alt="simulator.name">
                    <b-form-group v-else>
                      <croppa
                        style="cursor: pointer"
                        class="rounded-circle mb-2"
                        :width="220"
                        :height="128"
                        :quality="1"
                        :initial-image="simulator.logo"
                        :placeholder-font-size="10"
                        :disable-drag-to-move="false"
                        :disable-scroll-to-zoom="false"
                        :disable-pinch-to-zoom="true"
                        :disable-rotation="true"
                        canvas-color="transparent"
                        :remove-button-color="'#008ecc'"
                        :remove-button-size="30"
                        v-model="myCroppa">
                      </croppa>
                      <b-button variant="outline-secondary" @click="editSimulatorLogo()" class="mr-1 mb-0">Изменить</b-button>
                      <b-button variant="primary" @click="editLogo = false" class="mr-1 mb-0">Отменить</b-button>
                    </b-form-group>
                    <div>
                      <b-button variant="outline-theme-3" class="icon-button rotate-icon-click rotate"
                                @click="editLogo = !editLogo"
                      >
                        <i class="simple-icon-pencil"></i>
                      </b-button>
                    </div>
                  </div>
                </div>

                <label>Favicon (128х128)</label>
                <div class="d-flex flex-row justify-content-between w-100">
                  <div class="d-flex flex-row justify-content-between align-items-center w-100">
                    <img v-if="!editFavicon" :src="simulator.favicon" style="cursor: pointer; width: 128px; height: 128px; background-size: cover" class="mb-4" :alt="simulator.name">
                    <b-form-group v-else>
                      <croppa
                        style="cursor: pointer"
                        class="rounded-circle"
                        :width="128"
                        :height="128"
                        :quality="1"
                        :initial-image="simulator.favicon"
                        :placeholder-font-size="10"
                        :disable-drag-to-move="false"
                        :disable-scroll-to-zoom="false"
                        :disable-pinch-to-zoom="true"
                        :disable-rotation="true"
                        :canvas-color="'#eee'"
                        :remove-button-color="'#008ecc'"
                        :remove-button-size="30"
                        v-model="myCroppaFavicon">
                      </croppa>
                      <b-button variant="outline-secondary" @click="editSimulatorFavicon()" class="mr-1">Изменить</b-button>
                      <b-button variant="primary" @click="editFavicon = false" class="mr-1 mb-0">Отменить</b-button>
                    </b-form-group>
                    <div>
                      <b-button variant="outline-theme-3" class="icon-button rotate-icon-click rotate"
                                @click="editFavicon = !editFavicon"
                      >
                        <i class="simple-icon-pencil"></i>
                      </b-button>
                    </div>
                  </div>
                </div>

                <label>Изображение (510х276)</label>
                <div class="d-flex flex-row justify-content-between w-100">
                  <div class="d-flex flex-row justify-content-between align-items-center w-100">
                    <img v-if="!editImg" :src="simulator.picture" style="cursor: pointer; width: 306px; height: 166px; background-size: cover" :alt="simulator.name">
                    <b-form-group v-else>
                      <croppa
                        style="cursor: pointer"
                        class="rounded-circle"
                        :width="306"
                        :height="166"
                        :quality="1.66"
                        :initial-image="simulator.picture"
                        :placeholder-font-size="10"
                        :disable-drag-to-move="false"
                        :disable-scroll-to-zoom="false"
                        :disable-pinch-to-zoom="true"
                        :disable-rotation="true"
                        :canvas-color="'#eee'"
                        :remove-button-color="'#008ecc'"
                        :remove-button-size="30"
                        v-model="myCroppaImg">
                      </croppa>
                      <b-button variant="outline-secondary" @click="editSimulatorImg()" class="mr-1">Изменить</b-button>
                      <b-button variant="primary" @click="editImg = false" class="mr-1 mb-0">Отменить</b-button>
                    </b-form-group>
                    <div>
                      <b-button variant="outline-theme-3" class="icon-button rotate-icon-click rotate"
                                @click="editImg = !editImg"
                      >
                        <i class="simple-icon-pencil"></i>
                      </b-button>
                    </div>
                  </div>
                </div>
              </b-tab>
              <b-tab title="Параметры" active>
                <WelcomeMessage></WelcomeMessage>
              </b-tab>
              <b-tab title="Оплата" active>
                <Payment :simulator="simulator" @get-info="getInfo"></Payment>
              </b-tab>
              <b-tab title="Письма" active>
                <Letters :group="simulator.group"></Letters>
              </b-tab>
            </b-tabs>
          </b-card>
          </template>
          <template v-else>
            <div class="loading"></div>
          </template>
        </b-colxx>
      </b-row>
<!--      <SettingsHeading>Информация</SettingsHeading>-->
<!--      <Info></Info>-->
<!--      <SettingsHeading>Логотип</SettingsHeading>-->
<!--      <b-card class="mb-5 d-flex flex-row justify-content-between">-->
<!--        <div class="d-flex flex-row justify-content-between">-->
<!--        <img v-if="!editLogo" :src="simulator.logo" style="cursor: pointer; width: 110px; height: 64px; background-size: cover" :alt="simulator.name">-->
<!--        <b-form-group v-else>-->
<!--          <croppa-->
<!--            style="cursor: pointer"-->
<!--            class="rounded-circle"-->
<!--            :width="110"-->
<!--            :height="64"-->
<!--            :quality="1"-->
<!--            :initial-image="simulator.logo"-->
<!--            :placeholder-font-size="10"-->
<!--            :disable-drag-to-move="false"-->
<!--            :disable-scroll-to-zoom="true"-->
<!--            :disable-pinch-to-zoom="true"-->
<!--            :disable-rotation="true"-->
<!--            :canvas-color="'#eee'"-->
<!--            :remove-button-color="'#008ecc'"-->
<!--            :remove-button-size="30"-->
<!--            v-model="myCroppa">-->
<!--          </croppa>-->
<!--          <b-button variant="outline-secondary" @click="editSimulatorLogo()" class="mr-1">Изменить</b-button>-->
<!--        </b-form-group>-->
<!--        <div>-->
<!--          <b-button variant="outline-theme-3" class="icon-button rotate-icon-click rotate"-->
<!--                    @click="editLogo = !editLogo"-->
<!--          >-->
<!--            <i class="simple-icon-pencil"></i>-->
<!--          </b-button>-->
<!--        </div>-->
<!--        </div>-->
<!--      </b-card>-->

<!--      <SettingsHeading>Изображение</SettingsHeading>-->
<!--      <b-card class="mb-5 d-flex flex-row justify-content-between">-->
<!--        <div class="d-flex flex-row justify-content-between">-->
<!--        <img v-if="!editImg" :src="simulator.picture" style="cursor: pointer; width: 306px; height: 166px; background-size: cover" :alt="simulator.name">-->
<!--        <b-form-group v-else>-->
<!--          <croppa-->
<!--            style="cursor: pointer"-->
<!--            class="rounded-circle"-->
<!--            :width="306"-->
<!--            :height="166"-->
<!--            :quality="1.66"-->

           <!-- :placeholder-font-size="10"-->
<!--            :disable-drag-to-move="false"-->
<!--            :disable-scroll-to-zoom="true"-->
<!--            :disable-pinch-to-zoom="true"-->
<!--            :disable-rotation="true"-->
<!--            :canvas-color="'#eee'"-->
<!--            :remove-button-color="'#008ecc'"-->
<!--            :remove-button-size="30"-->
<!--            v-model="myCroppaImg">-->
<!--          </croppa>-->
<!--          <b-button variant="outline-secondary" @click="editSimulatorImg()" class="mr-1">Изменить</b-button>-->
<!--        </b-form-group>-->
<!--        <div>-->
<!--          <b-button variant="outline-theme-3" class="icon-button rotate-icon-click rotate"-->
<!--                    @click="editImg = !editImg"-->
<!--          >-->
<!--            <i class="simple-icon-pencil"></i>-->
<!--          </b-button>-->
<!--        </div>-->
<!--        </div>-->
<!--      </b-card> -->
     <SettingsHeading>Приветственное сообщение</SettingsHeading>
     <WelcomeMessage></WelcomeMessage>
    </div>
</template>

<script>
    import SettingsHeading from "../../../containers/pages/SettingsHeading";
    import WelcomeMessage from "./WelcomeMessage";
    import Info from "./Info";
    import API from 'Api';
    import Vue from 'vue'
    import Croppa from 'vue-croppa';
    import Payment from "./Payment";
    import Letters from "@/views/simulator/settings/Letters";

    Vue.use(Croppa)

    export default {
        name: "Settings",
        components: {
            Payment,
            SettingsHeading,
            WelcomeMessage,
            Info,
            Letters
        },
        data(){
            return{
                simulator: {},
                myCroppa: {},
                editLogo: false,
                myCroppaImg: {},
                editImg: false,
                myCroppaFavicon: {},
                editFavicon: false
            }
        },
        methods: {
            editSimulatorLogo(){
                this.myCroppa.generateBlob((blob) => {
                    this.simulator.logo = new File([blob], this.simulator.id + '.png');
                    this.editSimulator(true, false, false);
                    this.editLogo = !this.editLogo;
                    this.$bvToast.toast('Логотип изменен', {
                        title: 'Уведомление',
                        variant: 'info',
                        solid: true
                    })
                }, 'image/png', 0.8);
            },
            editSimulatorFavicon(){
                this.myCroppaFavicon.generateBlob((blob) => {
                    this.simulator.favicon = new File([blob], this.simulator.id + 'favicon.png');
                    this.editSimulator(false, false, true);
                    this.editFavicon = !this.editFavicon;
                    this.$bvToast.toast('Favicon изменен', {
                        title: 'Уведомление',
                        variant: 'info',
                        solid: true
                    })
                }, 'image/png', 0.8);
            },
            editSimulatorImg(){
                this.myCroppaImg.generateBlob((blob) => {
                    console.log(this.simulator)
                    this.simulator.picture = new File([blob], this.simulator.id + '.png');
                    this.editSimulator(false, true, false);
                    this.editImg = !this.editImg;
                    this.$bvToast.toast('Изображение изменено', {
                        title: 'Уведомление',
                        variant: 'info',
                        solid: true
                    })
                }, 'image/jpeg', 0.8);
            },
            getInfo(){
                const config = {
                    headers: { Authorization: `Bearer ${localStorage.getItem('user')}`}
                };
                API
                    .get('admin_pannel/update_simulator/' + this.$route.params.id, config)
                    .then(response => {
                        this.simulator = response.data;
                        this.$store.dispatch('getAllLetters', this.$route.params.id);
                        this.$store.dispatch('getLettersByGroup', this.simulator.group);
                    })
                    .catch(function (error) {
                        if(error.response.status == 404)
                        {

                        }
                        if(error.response.status == 500)
                        {
                            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if(error.response.status == 401)
                        {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');

                        }
                    });
            },
            editSimulator(withLogo, withPicture, withFavicon){
                const config = {
                    headers: { Authorization: `Bearer ${localStorage.getItem('user')}`}
                };
                const data = new FormData();
                if (this.simulator.name)
                    data.append('name', this.simulator.name);
                if (this.simulator.description)
                    data.append('description', this.simulator.description);
                if (this.simulator.price)
                    data.append('price', this.simulator.price);
                if (this.simulator.domain)
                    data.append('domain', this.simulator.domain);
                if (this.simulator.picture && withPicture)
                    data.append('picture', this.simulator.picture);
                if (this.simulator.logo && withLogo)
                    data.append('logo', this.simulator.logo);
                if (this.simulator.favicon && withFavicon)
                    data.append('favicon', this.simulator.favicon);
                data.append('admin_comment_request_price', this.simulator.admin_comment_request_price);
                API
                    .put('admin_pannel/update_simulator/' + this.$route.params.id, data, config)
                    .then(response => {
                        this.message = response.data;
                        this.getInfo();
                    })
                    .catch(function (error) {
                        if(error.response.status == 404)
                        {

                        }
                        if(error.response.status == 500)
                        {
                            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if(error.response.status == 401)
                        {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');

                        }
                    });
            },
        },
        mounted() {
            this.getInfo()
        },
        beforeRouteLeave(to, from, next){
            this.simulator = {};
            next()
        }
    }
</script>

<style scoped>

</style>
