<template>
  <div>
    <div class="d-flex flex-row justify-content-between flex-wrap">
      <img :src="message.welcome_message_author_img" style="cursor: pointer; width: 100px; height: 100px; background-size: cover; border-radius: 50px;" :alt="message.welcome_message_author_name">
    </div>
    <div class="pt-4">
      <b-form-group>
        <croppa
          style="cursor: pointer"
          :width="100"
          :height="100"
          :image-border-radius="100"
          prevent-white-space
          :quality="2"
          :placeholder-font-size="10"
          :disable-drag-to-move="false"
          :disable-scroll-to-zoom="false"
          :disable-pinch-to-zoom="true"
          :disable-rotation="true"
          :canvas-color="'#eee'"
          :remove-button-color="'#008ecc'"
          :remove-button-size="30"
          v-model="myCroppa">
        </croppa>
      </b-form-group>
      <div class="form-group mb-3">
        <label>Автор</label>
        <b-input v-model="message.welcome_message_author_name" />
      </div>
      <b-form-group label="Текст">
        <!--            <quill-editor ref="myTextEditor"-->
        <!--                          v-model="message.welcome_message_text"-->
        <!--                          :options="editorOption">-->
        <!--            </quill-editor>-->
        <editor
          api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
          v-model="message.welcome_message_text"
          :init="{
                 height: 250,
                 menubar: false,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | image | code | help'
               }"
        />
      </b-form-group>
      <div class="form-group mb-3">
        <label>Сообщение после каждого задания</label>
        <!--            <quill-editor ref="myTextEditor"-->
        <!--                          v-model="simulator.description"-->
        <!--                          :options="editorOption">-->
        <!--            </quill-editor>-->
        <editor
          api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
          v-model="message.message_after_task"
          :init="{
                 height: 250,
                 menubar: false,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | image | code | help'
               }"
        />
      </div>
      <div>
        <b-button variant="primary" @click="editMessageWithImg()" class="mr-1">Изменить</b-button>
      </div>
    </div>
  </div>
</template>

<script>
    import API from 'Api';
    import Vue from 'vue'
    import Croppa from 'vue-croppa';
    import 'quill/dist/quill.core.css'
    import 'quill/dist/quill.snow.css'
    import 'quill/dist/quill.bubble.css'
    import { quillEditor } from 'vue-quill-editor'
    import Editor from '@tinymce/tinymce-vue'
    import { mapGetters } from 'vuex'

    Vue.use(Croppa)

    export default {
        name: "WelcomeMessage",
        components: {
            quillEditor,
            Editor
        },
        data(){
            return {
                opened: false,
                message: {},
                myCroppa: {},
                myCroppaFavicon: {},
                editorOption: {
                    modules: {
                        toolbar: [
                            ['bold', 'italic', 'underline', 'strike'],
                            ['blockquote', 'code-block'],
                            [{ 'header': 1 }, { 'header': 2 }],
                            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                            [{ 'script': 'sub' }, { 'script': 'super' }],
                            [{ 'indent': '-1' }, { 'indent': '+1' }],
                            [{ 'direction': 'rtl' }],
                            [{ 'size': ['small', false, 'large', 'huge'] }],
                            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                            [{ 'font': [] }],
                            [{ 'color': [] }, { 'background': [] }],
                            [{ 'align': [] }],
                            ['clean'],
                            ['link', 'image', 'video']
                        ]
                    }
                },
            }
        },
        computed: {
            ...mapGetters(['upload_image']),
            getAuthor(){
                if (this.message.welcome_message_author_name)
                    return this.message.welcome_message_author_name;
                else
                    return 'не добавлено'
            },
            getText(){
                return this.message.welcome_message_text ? true : false
            }
        },
        methods: {
            toggleItem(){
                this.$root.$emit('bv::toggle::collapse', `welcomeMessageCollapse`);
                this.opened = !this.opened;
            },
            editMessageWithImg(){
                this.myCroppa.generateBlob((blob) => {
                    // this.myCroppaFavicon.generateBlob((blob1) => {
                        this.message.welcome_message_author_img = new File([blob], this.message.simulator + '.png');
                        // this.message.favicon = new File([blob1], this.message.simulator + 'favicon.png');
                        this.editMessage();
                    // }, 'image/png', 0.8);
                }, 'image/png', 0.8);
            },
            getMessage(){
                const config = {
                    headers: { Authorization: `Bearer ${localStorage.getItem('user')}`}
                };
                API
                    .get('admin_pannel/welcome_message/?simulator=' + this.$route.params.id, config)
                    .then(response => {
                        this.message = response.data;
                    })
                    .catch(function (error) {
                        if(error.response.status == 404)
                        {

                        }
                        if(error.response.status == 401)
                        {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');

                        }
                    });
            },
            editMessage(){
                const config = {
                    headers: { Authorization: `Bearer ${localStorage.getItem('user')}`}
                };
                const data = new FormData();
                if (this.myCroppa.chosenFile)
                    data.append('welcome_message_author_img', this.message.welcome_message_author_img);
                // if (this.myCroppaFavicon.chosenFile)
                //     data.append('favicon', this.message.favicon);
                if (this.message.welcome_message_author_name)
                    data.append('welcome_message_author_name', this.message.welcome_message_author_name);
                if (this.message.welcome_message_text)
                    data.append('welcome_message_text', this.message.welcome_message_text);
                if (this.message.message_after_task)
                    data.append('message_after_task', this.message.message_after_task);
                data.append('simulator', this.$route.params.id);
                API
                    .put('admin_pannel/update_welcome_message/', data, config)
                    .then(response => {
                        this.getMessage();
                        this.$bvToast.toast('Приветственное ообщение изменено', {
                            title: 'Уведомление',
                            variant: 'info',
                            solid: true
                        })
                    })
                    .catch(function (error) {
                        if(error.response.status == 404)
                        {

                        }
                        if(error.response.status == 500)
                        {
                            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if(error.response.status == 401)
                        {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');

                        }
                    }.bind(this));
            }
        },
        mounted(){
            this.getMessage();
        }
    }
</script>

<style scoped>

</style>
