<template>
  <b-row>
    <b-colxx xxs="12">
      <h1 style="">Главы теории</h1>
      <div class="top-right-button-container">
        <b-button
          v-b-modal.modalright
          variant="primary"
          size="lg"
          class="top-right-button"
        >Создать</b-button>

      </div>
      <AddNewChapter></AddNewChapter>
      <div class="separator mb-5" />
    </b-colxx>
  </b-row>
</template>

<script>
    import AddNewChapter from "../../views/simulator/chapters/AddNewChapter";
    export default {
        name: "ChaptersListHeading",
        components: {
            AddNewChapter
        }
    }
</script>

<style scoped>

</style>
