<template>
  <b-row>
    <b-colxx xxs="12">
      <h1 style="">Уроки</h1>
      <div class="top-right-button-container">
        <b-button
          v-b-modal.modalright
          variant="primary"
          size="lg"
          class="top-right-button"
        >Создать</b-button>

      </div>
      <add-new-lesson></add-new-lesson>
      <div class="separator mb-5" />
    </b-colxx>
  </b-row>
</template>

<script>
  import AddNewLesson from "../../views/simulator/lessons/AddNewLesson";
  export default {
      name: "LessonListHeading",
      components: {
          AddNewLesson
      }
  }
</script>

<style scoped>

</style>
