<template>
  <b-row>
    <b-colxx xxs="12">
      <h1 style="">Страницы</h1>
      <div class="top-right-button-container">
        <b-button
          v-b-modal.modalright
          variant="primary"
          size="lg"
          class="top-right-button"
        >Создать</b-button>

      </div>
      <AddNewPage></AddNewPage>
      <div class="separator mb-5" />
    </b-colxx>
  </b-row>
</template>

<script>
    import AddNewPage from "../../views/simulator/pages/AddNewPage";
    import {mapGetters} from 'vuex'
    export default {
        name: "PagesListHeading",
        components: {
            AddNewPage
        },
        computed: {
            // ...mapGetters(['getLessonsList']),
            // currentLesson: function () {
            //     let lesson;
            //     let currId = this.$route.params.lesson_id;
            //     lesson = this.getLessonsList.filter(item => {
            //         return item.id == currId;
            //     });
            //     return lesson[0];
            // }
        },
        mounted() {
            this.$store.dispatch('getAllLessons', this.$route.params.id);
        }
    }
</script>

<style scoped>

</style>
