<template>
  <b-row>
    <b-colxx xxs="12">
      <h1 style="">Промокоды</h1>
      <div class="top-right-button-container">
        <b-button
          v-b-modal.modalright
          variant="primary"
          size="lg"
          class="top-right-button"
        >Создать</b-button>

      </div>
      <AddNewPromocode></AddNewPromocode>
      <div class="separator mb-5" />
    </b-colxx>
  </b-row>
</template>

<script>
    import AddNewPromocode from "../../views/simulator/promocodes/AddNewPromocode";
    export default {
        name: "PromocodesListHeading",
        components: {
            AddNewPromocode
        },
        computed: {

        },
        mounted() {
            // this.$store.dispatch('getAllPromo', this.$route.params.id);
        }
    }
</script>

<style scoped>

</style>
