<template>
  <b-row>
    <b-colxx xxs="12">
      <h1 style="">Группы</h1>
      <div class="top-right-button-container">
        <b-button
          v-b-modal.modalright
          variant="primary"
          size="lg"
          class="top-right-button"
        >Создать</b-button>

      </div>
      <AddNewGroup></AddNewGroup>
      <div class="separator mb-5" />
    </b-colxx>
  </b-row>
</template>

<script>
    import AddNewGroup from "../../views/simulator/simulatorGroup/AddNewGroup";
    export default {
        name: "SimGroupsListHeading",
        components: {
            AddNewGroup
        }
    }
</script>

<style scoped>

</style>
