<template>
  <b-card class="mb-4">
    <h4 class="mb-3">Добавить главу теории</h4>
    <b-form>
      <b-form-group label="Название *">
        <b-form-input v-model="newItem.name" />
      </b-form-group>
    </b-form>
    <div class="mb-2">* обязательные поля</div>
    <template>
      <b-button
        variant="outline-secondary"
        @click.prevent="changeAddType"
      >Отменить</b-button>
      <b-button variant="primary" @click.prevent="addChapter" class="mr-1">Добавить</b-button>
    </template>
  </b-card>
</template>

<script>
    import API from 'Api'
    import {mapGetters} from 'vuex'
    export default {
        name: "addChapter",
        data(){
            return{
                newItem: {
                    name: ''
                }
            }
        },
        computed: {
            ...mapGetters(['getAddType'])
        },
        methods: {
            changeAddType(){
                if (this.getAddType == 'addChapterWithTheory')
                    this.$store.dispatch('getNewAddType', '');
                else
                    this.$store.dispatch('getNewAddType', 'addTheory')
            },
            addChapter(){
                const config = {
                    headers: { Authorization: `Bearer ${this.$store.getters.currentUser}`, 'Content-Type':'multipart/form-data'}
                };
                const data = new FormData();
                if (!this.newItem.name){
                    this.$bvToast.toast('Заполните все обязательные поля', {
                        title: 'Уведомление',
                        variant: 'danger',
                        solid: true
                    })
                }
                else {
                    data.append('simulator', this.$route.params.id);
                    data.append('name', this.newItem.name);
                    data.append('sequence_no', this.$store.getters.getChapters.length);
                    API
                        .post('admin_pannel/create_theory_chapter/', data, config)
                        .then(response => {
                            console.log(response);
                            this.$store.dispatch('getAllChapters', this.$route.params.id);
                            this.changeAddType()
                        })
                        .catch(function (error) {
                            console.log(error)
                            if(error.response.status == 404)
                            {

                            }
                            if(error.response.status == 400)
                            {
                                this.$bvToast.toast('Симулятор не принадлежит пользователю', {
                                    title: 'Уведомление',
                                    variant: 'info',
                                    solid: true
                                })
                            }
                            if(error.response.status == 500)
                            {
                                this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                    title: 'Уведомление',
                                    variant: 'danger',
                                    solid: true
                                })
                            }
                            if(error.response.status == 401)
                            {
                                this.$store.dispatch('signOut');
                                this.$router.push('/user');
                                //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                            }
                        })
                }
            }
        }
    }
</script>

<style scoped>

</style>
