<template>
  <b-collapse :id="`theoryCollapse${theory.id}`" class="question-collapse">
    <div class="card-body pt-4">
      <b-form>
        <b-form-group label="Название *">
          <b-form-input v-model="theory.name" />
        </b-form-group>
        <b-form-group label="Текст *">
<!--          <quill-editor ref="myTextEditor"-->
<!--                        v-model="theory.text"-->
<!--                        :options="editorOption">-->
<!--          </quill-editor>-->
          <editor
            api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
            v-model="theory.text"
            :init="{
                 height: 250,
                 menubar: false,
                 images_upload_handler: upload_image,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount imagetools'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | image | code | help'
               }"
          />
        </b-form-group>
        <b-form-group label="Глава *">
          <v-select v-model="selectedChapter" :options="options" :reduce="text => text.value" label="text"/>
        </b-form-group>
      </b-form>
      <div class="mb-2">* обязательные поля</div>
      <template>
        <b-button
          variant="outline-secondary"
          @click="toggleItem(theory.id)"
        >Отменить</b-button>
        <b-button variant="primary" @click="editTheory" class="mr-1">Изменить</b-button>
      </template>
    </div>
  </b-collapse>
</template>

<script>
    import vSelect from "vue-select";
    import "vue-select/dist/vue-select.css";
    import 'quill/dist/quill.core.css'
    import 'quill/dist/quill.snow.css'
    import 'quill/dist/quill.bubble.css'
    import { quillEditor } from 'vue-quill-editor'
    import {mapGetters} from 'vuex';
    import AddNewChapter from "../../chapters/AddNewChapter";
    import API from 'Api'
    import Editor from '@tinymce/tinymce-vue'

    export default {
        name: "EditTheory",
        components: {
            AddNewChapter,
            vSelect,
            quillEditor,
            Editor
        },
        props: ['theory'],
        data(){
            return{
                selectedChapter: null,
                editorOption: {
                    modules: {
                        toolbar: [
                            ['bold', 'italic', 'underline', 'strike'],
                            ['blockquote', 'code-block'],
                            [{ 'header': 1 }, { 'header': 2 }],
                            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                            [{ 'script': 'sub' }, { 'script': 'super' }],
                            [{ 'indent': '-1' }, { 'indent': '+1' }],
                            [{ 'direction': 'rtl' }],
                            [{ 'size': ['small', false, 'large', 'huge'] }],
                            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                            [{ 'font': [] }],
                            [{ 'color': [] }, { 'background': [] }],
                            [{ 'align': [] }],
                            ['clean'],
                            ['link', 'image', 'video']
                        ]
                    }
                },
            }
        },
        computed: {
            ...mapGetters(['getChapters', 'upload_image']),
            currChapter(){
                console.log(this.theory.chapter)
                return this.options.filter(function (item) {
                    return item.value == this.theory.chapter
                }).name
            },
            options(){
                let opt = [];
                this.getChapters.forEach((item) => {
                    opt.push({text: item.name, value: item.id})
                });
                opt.push({text: 'Добавить главу', value: 'Добавить главу'});
                return opt;
            }
        },
        methods: {
            toggleItem(id){
                this.$root.$emit('bv::toggle::collapse', `theoryCollapse${id}`);
                this.$store.dispatch('getNewAddType', '');
            },
            editTheory(){
                const config = {
                    headers: { Authorization: `Bearer ${this.$store.getters.currentUser}`, 'Content-Type':'multipart/form-data'}
                };
                if (!this.theory.text || !this.theory.name || !this.theory.chapter){
                    this.$bvToast.toast('Заполните все обязательные поля', {
                        title: 'Уведомление',
                        variant: 'danger',
                        solid: true
                    })
                }
                else{
                    const data = new FormData();
                    data.append('simulator', this.$route.params.id);
                    data.append('text', this.theory.text);
                    data.append('name', this.theory.name);
                    data.append('chapter', this.theory.chapter);
                    API
                        .put('admin_pannel/theory/' + this.theory.id, data, config)
                        .then(response => {
                            console.log(response);
                            this.$store.dispatch('getAllBlocks', this.$route.params.page_id);
                            this.$store.dispatch('getNewAddType', '');
                            this.toggleItem(this.theory.id)
                            this.$bvToast.toast('Теория изменена', {
                                title: 'Уведомление',
                                variant: 'info',
                                solid: true
                            })
                        })
                        .catch(function (error) {
                            console.log(error)
                            if(error.response.status == 404)
                            {

                            }
                            if(error.response.status == 400)
                            {
                                this.$bvToast.toast('Симулятор не принадлежит пользователю', {
                                    title: 'Уведомление',
                                    variant: 'info',
                                    solid: true
                                })
                            }
                            if(error.response.status == 500)
                            {
                                this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                    title: 'Уведомление',
                                    variant: 'danger',
                                    solid: true
                                })
                            }
                            if(error.response.status == 401)
                            {
                                this.$store.dispatch('signOut');
                                this.$router.push('/user');
                                //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                            }
                        })
                }
            },
        },
        watch: {
            selectedChapter: function (newChapter) {
                if (newChapter == 'Добавить главу'){
                    this.$store.dispatch('getNewAddType', 'addChapterWithTheory');;
                }
                else{
                    this.theory.chapter = newChapter;
                }
            }
        },
        mounted() {
            this.selectedChapter = this.theory.chapter
        }
    }
</script>

<style scoped>

</style>
