<template>
  <div>
  <b-card no-body class="mb-2 p-3">
  <div class="position-relative d-flex flex-row justify-content-between align-items-center w-100">
    <div class="d-flex flex-row justify-content-left m-0">
      <div class="ml-4 d-flex flex-column justify-content-center">
        <h6 style="font-weight: bold">Теория</h6>
        <h6><span class="align-middle responsive">{{ theory.name }}</span></h6>
<!--        <h6><span class="align-middle responsive" v-if="currChapter(theory.chapter)">{{ currChapter(theory.chapter).name }}</span></h6>-->
<!--        <p class="align-middle responsive" v-html="theory.text"></p>-->
      </div>
    </div>
    <div class="mr-3">
      <b-button variant="outline-theme-3" class="icon-button rotate-icon-click rotate"
                @click="toggleItem(theory.id)"
      >
        <i class="simple-icon-pencil"></i>
      </b-button>
      <b-button variant="outline-theme-3" class="icon-button rotate-icon-click rotate"
                @click="showModal"
      >
        <i class="simple-icon-trash"></i>
      </b-button>
    </div>
  </div>
    <EditTheory :theory="theory"></EditTheory>
    <b-modal :id="'my-modal-theory' + theory.id" centered hide-footer hide-header>
      <div class="d-block text-center">
        <h3>Вы действительно хотите удалить теорию?</h3>
      </div>
      <div class="d-flex flex-row justify-content-center mt-5">
        <b-button class="mr-2 w-40" variant="outline-secondary" block @click="hideModal">Отменить</b-button>
        <b-button class="m-0 w-40" variant="primary" block @click="deleteTheory">Удалить</b-button>
      </div>
    </b-modal>
  </b-card>
    <add-chapter v-if="getAddType == 'addChapterWithTheory' && isEditing"></add-chapter>
  </div>
</template>

<script>
    import EditTheory from "./EditTheory";
    import {mapGetters} from 'vuex';
    import API from 'Api'
    import addChapter from "./addChapter";
    export default {
        name: "TheoryBlock",
        props: ['theory'],
        components: {
            addChapter,
            EditTheory
        },
        data(){
            return{
                isEditing: false
            }
        },
        computed: {
            ...mapGetters(['getChapters', 'getAddType']),

        },
        methods: {
            showModal() {
                this.$bvModal.show('my-modal-theory' + this.theory.id)
            },
            hideModal() {
                this.$bvModal.hide('my-modal-theory' + this.theory.id)
            },
            currChapter(id){
                let ch = this.getChapters.filter(function (item) {
                    return item.id == id
                });
                return ch[0]
            },
            toggleItem(id){
                console.log(111)
                this.$root.$emit('bv::toggle::collapse', `theoryCollapse${id}`);
            },
            deleteTheory(){
                const config = {
                    headers: { Authorization: `Bearer ${this.$store.getters.currentUser}`}
                };
                API
                    .delete('admin_pannel/delete_theory/' + this.theory.id, config)
                    .then(response => {
                        this.hideModal();
                        this.$store.dispatch('getAllBlocks', this.$route.params.page_id);
                    })
                    .catch(function (error) {
                        console.log(error)
                        if(error.response.status == 404)
                        {

                        }
                        if(error.response.status == 500)
                        {
                            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if(error.response.status == 401)
                        {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');
                            //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                        }
                    })
            }
        }
    }
</script>

<style scoped>

</style>
