<template>
  <b-modal
    id="modalright"
    ref="modalright"
    title="Добавить новую страницу"
    modal-class="modal-right"
  >
    <b-form @submit.prevent="addNewPage">
      <b-form-group label="Название страницы">
        <b-form-input v-model="newItem.name" />
      </b-form-group>
      <b-form-group label="Страница теста">
        <b-form-radio-group
          id="radio-group-5"
          v-model="newItem.is_test"
          :options="radio_options"
          name="radio-options"
        ></b-form-radio-group>
      </b-form-group>
      <b-form-group v-if="newItem.is_test" label="Страница после теста">
        <v-select v-model="newItem.page_after_test" :options="options" :reduce="text => text.value" label="text"/>
      </b-form-group>
      <b-form-group v-if="newItem.is_test" label="Необходимое кол-во правильных ответов">
        <b-form-input v-model="newItem.need_answers" />
      </b-form-group>
    </b-form>

    <template slot="modal-footer">
      <b-button
        variant="outline-secondary"
        @click="hideModal('modalright')"
      >Отменить</b-button>
      <b-button variant="primary" @click="addNewPage()" class="mr-1">Добавить</b-button>
    </template>
  </b-modal>
</template>

<script>
    import API from 'Api'
    import { mapGetters } from 'vuex'
    import vSelect from "vue-select";
    import "vue-select/dist/vue-select.css";

    export default {
        name: "AddNewPage",
        components: {
            vSelect
        },
        data(){
            return{
                newItem: {
                    name: '',
                    is_test: false,
                    need_answers: 0,
                    page_after_test: null
                },
                radio_options: [
                    {text: 'Да', value: true},
                    {text: 'Нет', value: false}
                ],
            }
        },
        computed: {
            ...mapGetters(['getPagesList']),
            options(){
                let opt = [];
                let nextPageIds = [];
                this.getPagesList.forEach((item) => {
                    opt.push({text: item.name, value: item.id});
                    if (item.is_test)
                        nextPageIds.push(item.page_after_test);
                });
                opt = opt.filter(item => {
                    return nextPageIds.indexOf(item.value) == -1
                });
                return opt;
            }
        },
        methods: {
            preventClick(){
                this.addNewPage()
            },
            hideModal(refname) {
                this.$refs[refname].hide();
            },
            addNewPage(){
                const config = {
                    headers: { Authorization: `Bearer ${this.$store.getters.currentUser}`, 'Content-Type':'multipart/form-data'}
                };
                const data = new FormData();
                if (!this.newItem.name){
                    this.$bvToast.toast('Заполните все поля', {
                        title: 'Уведомление',
                        variant: 'danger',
                        solid: true
                    });
                    return false
                }
                data.append('name', this.newItem.name);
                data.append('lesson', this.$route.params.lesson_id);
                data.append('simulator', this.$route.params.id);
                data.append('is_test', this.newItem.is_test);
                if (this.newItem.is_test){
                    data.append('need_answers', this.newItem.need_answers);
                    data.append('page_after_test', this.newItem.page_after_test);
                }
                API
                    .post('admin_pannel/create_page/', data, config)
                    .then(response => {
                        console.log(response)
                        if (this.newItem.is_test) {
                            let pagesIds = [];
                            for (let i = 0; i < this.getPagesList.length; i++) {
                                if (this.getPagesList[i].id != this.newItem.page_after_test) {
                                    pagesIds.push(this.getPagesList[i].id);
                                } else {
                                    pagesIds.push(response.data.id);
                                    pagesIds.push(this.getPagesList[i].id)
                                }
                            }
                            this.reorderPages(pagesIds);
                        }
                        else
                            this.$store.dispatch('getAllPages', this.$route.params.lesson_id)
                        this.hideModal('modalright');
                        this.newItem.name = '';
                        this.newItem.is_test = false;
                        this.newItem.page_after_test = null;
                        this.newItem.need_answers = 0
                    })
                    .catch(function (error) {
                        if(error.response.status == 404)
                        {

                        }
                        if(error.response.status == 500)
                        {
                            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if(error.response.status == 401)
                        {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');
                            //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                        }
                    }.bind(this));

            },
            reorderPages(lst){
                const config = {
                    headers: { Authorization: `Bearer ${this.$store.getters.currentUser}`}
                };
                API
                    .post('admin_pannel/change_pages_order/' + this.$route.params.lesson_id, {'page_id_list': lst}, config)
                    .then(response => {
                        this.$store.dispatch('getAllPages', this.$route.params.lesson_id)
                    })
                    .catch(function (error) {
                        console.log(error);
                        if(error.response.status == 404)
                        {

                        }
                        if(error.response.status == 401)
                        {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');

                        }
                        if(error.response.status == 403)
                        {
                            this.$bvToast.toast('У вас нет прав для изменения порядка страниц', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if(error.response.status == 500)
                        {
                            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if(error.response.status == 400)
                        {
                            console.log(error.response.status, 'page_id_list does not contain all pages of given lesson');
                        }
                    })
            }

        },
        mounted() {
            // this.$store.dispatch('getAllPages', this.$route.params.lesson_id);
        }
    }
</script>

<style scoped>

</style>
