<template>
  <b-collapse :id="`pageCollapse${page.id}`" class="question-collapse">
    <div class="card-body pt-4 w-100">
      <div class="form-group mb-3">
        <label>Название</label>
        <b-input v-model="page.name" />
      </div>
<!--      {{nextPage}}-->
      <b-form-group label="Страница теста">
        <b-form-radio-group
          :id="page.id.toString()"
          v-model="page.is_test"
          :options="radio_options"
          name="radio-options"
        ></b-form-radio-group>
      </b-form-group>
      <b-form-group v-if="page.is_test" label="Страница после теста">
        <v-select v-model="page.page_after_test" :options="options" :reduce="text => text.value" label="text"/>
      </b-form-group>
      <b-form-group v-if="page.is_test" label="Необходимое кол-во правильных ответов">
        <b-form-input v-model="page.need_answers" />
      </b-form-group>
        <b-button variant="outline-secondary" @click="hideModal(page.id)">Отменить</b-button>
        <b-button variant="primary" @click="changePage(page.id)" class="mr-1">Изменить</b-button>
      </div>
  </b-collapse>
</template>

<script>
    import API from 'Api'
    import { mapGetters } from 'vuex'
    import vSelect from "vue-select";
    import "vue-select/dist/vue-select.css";

    export default {
        name: "EditPage",
        props: ['page'],
        components: {
            vSelect
        },
        data(){
            return {
                nextPage: null,
                picture: null,
                radio_options: [
                    {text: 'Да', value: true},
                    {text: 'Нет', value: false}
                ],
            }
        },
        computed: {
            ...mapGetters(['getPagesList']),
            options(){
                let opt = [];
                this.getPagesList.forEach((item) => {
                    opt.push({text: item.name, value: item.id});
                });
                return opt;
            }
        },
        methods: {
            hideModal(id) {
                this.$root.$emit("bv::toggle::collapse", `pageCollapse${id}`);
            },
            changePage(id){
                const config = {
                    headers: {
                        Authorization: `Bearer ${this.$store.getters.currentUser}`,
                        "Content-Type": "multipart/form-data",
                    },
                };
                const data = new FormData();
                if (!this.page.name){
                    this.$bvToast.toast('Заполните название страницы', {
                        title: 'Уведомление',
                        variant: 'danger',
                        solid: true
                    });
                    return false
                }
                data.append('name', this.page.name);
                if (this.picture){
                    data.append('picture', this.picture);
                }
                data.append('is_test', this.page.is_test);
                if (this.page.is_test){
                    data.append('need_answers', this.page.need_answers);
                    data.append('page_after_test', this.page.page_after_test);
                }
                else{
                    data.append('need_answers', '0');
                    data.append('page_after_test', '');
                }
                API
                    .patch('admin_pannel/page/' + id, data, config)
                    .then(response => {
                        this.$root.$emit("bv::toggle::collapse", `pageCollapse${id}`);
                        if (this.page.is_test && this.nextPage != this.page.page_after_test){
                            let pageIds = [];
                            this.getPagesList.forEach((item, i) => {
                                if (item.id != this.page.id && item.id != this.page.page_after_test)
                                    pageIds.push(item.id);
                                else{
                                    if (item.id == this.page.page_after_test){
                                        pageIds.push(this.page.id);
                                        pageIds.push(item.id);
                                    }
                                }
                            });
                            this.reorderPages(pageIds);
                        }
                        else
                            this.$store.dispatch('getAllPages', this.$route.params.lesson_id);
                        this.picture = null;
                        this.$bvToast.toast('Информация о странице изменена', {
                            title: 'Уведомление',
                            variant: 'info',
                            solid: true
                        })
                    })
                    .catch(function (error) {
                        if (error.response.status == 404) {

                        }
                        if (error.response.status == 400) {
                            this.$bvToast.toast("Заполните все поля", {
                                title: "Уведомление",
                                variant: "info",
                                solid: true,
                            });
                        }
                        if(error.response.status == 500)
                        {
                            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if (error.response.status == 401) {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');
                            //ошибка токена. Пытается ломануть нас. Выкинуть на главную
                        }
                        if (error.response.status == 403) {
                            this.$bvToast.toast("У вас нет прав для редактирования страниц", {
                                title: "Уведомление",
                                variant: "danger",
                                solid: true,
                            });
                        }
                    }.bind(this))
            },
            reorderPages(lst){
                const config = {
                    headers: { Authorization: `Bearer ${this.$store.getters.currentUser}`}
                };
                API
                    .post('admin_pannel/change_pages_order/' + this.$route.params.lesson_id, {'page_id_list': lst}, config)
                    .then(response => {
                        this.$store.dispatch('getAllPages', this.$route.params.lesson_id)
                    })
                    .catch(function (error) {
                        console.log(error);
                        if(error.response.status == 404)
                        {

                        }
                        if(error.response.status == 401)
                        {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');

                        }
                        if(error.response.status == 403)
                        {
                            this.$bvToast.toast('У вас нет прав для изменения порядка страниц', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if(error.response.status == 500)
                        {
                            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if(error.response.status == 400)
                        {
                            console.log(error.response.status, 'page_id_list does not contain all pages of given lesson');
                        }
                    })
            }
        },
        mounted() {
            // this.$store.dispatch('getAllPages', this.$route.params.lesson_id);
            this.nextPage = this.page.page_after_test;
        }
    }
</script>

<style scoped>

</style>
