<template>
  <b-row>
    <b-colxx class="disable-text-selection">
      <pages-list-heading></pages-list-heading>
      <template v-if="isLoad">
        <PageCard></PageCard>
      </template>
      <template v-else>
        <div class="loading"></div>
      </template>
    </b-colxx>
  </b-row>
</template>

<script>
    import PagesListHeading from "../../../containers/my/PagesListHeading";
    import PageCard from "./PageCard";
    import {mapGetters} from 'vuex'
    export default {
        name: "Pages",
        components: {
            PagesListHeading,
            PageCard
        },
        data() {
            return {

            }
        },
        computed: {
            ...mapGetters(['getPagesList']),
            isLoad(){
                if (Array.isArray(this.getPagesList)){
                    return true
                }
                else {
                    return false
                }
            }
        },
        mounted() {
            this.$store.dispatch('getAllPages', this.$route.params.lesson_id)
        },
        beforeRouteLeave(to, from, next){
            this.$store.commit('setAllPages', null);
            next()
        }
    }
</script>

<style scoped>

</style>
