<template>
  <draggable type="div" :list="getPagesList" class="answers mb-3 sortable d-flex flex-column align-items-end" @end="pages = getPagesList">
    <b-card no-body :class="{'mb-2': true, 'p-3': true, 'w-85': isAfterTest(index), 'w-100': !isAfterTest(index)}" v-for="(page,index) in getPagesList" :key="index">
      <div class="position-relative d-flex flex-row justify-content-between align-items-center w-100">
        <div class="d-flex flex-row justify-content-left m-0 w-60" @click.prevent="toBlocks(page.id)" style="cursor: pointer">
          <div class="ml-4 d-flex flex-column justify-content-center">
            <h4><span class="align-middle responsive">{{ page.name }}</span></h4>
          </div>
        </div>
        <div class="mr-3">
          <b-button variant="outline-theme-3" class="icon-button rotate-icon-click rotate"
                    @click="toggleItem(page)"
          >
            <i class="simple-icon-pencil"></i>
          </b-button>
          <b-button variant="outline-theme-3" class="icon-button rotate-icon-click rotate"
                    @click="showModal(page.id)"
          >
            <i class="simple-icon-trash"></i>
          </b-button>
        </div>
      </div>
      <EditPage :page="page"></EditPage>
      <b-modal :id="'my-modal-page' + page.id" centered hide-footer hide-header>
        <div class="d-block text-center">
          <h3>Вы действительно хотите удалить страницу?</h3>
        </div>
        <div class="d-flex flex-row justify-content-center mt-5">
          <b-button class="mr-2 w-40" variant="outline-secondary" block @click="hideModal(page.id)">Отменить</b-button>
          <b-button class="m-0 w-40" variant="primary" block @click="deleteItem(page.id)">Удалить</b-button>
        </div>
      </b-modal>
    </b-card>
  </draggable>
</template>

<script>
    import { mapGetters } from 'vuex';
    import Draggable from 'vuedraggable';
    import EditPage from "./EditPage";
    import API from 'Api'
    export default {
        name: "PageCard",
        components: {
            EditPage,
            Draggable
        },
        data() {
            return{
                pages: []
            }
        },
        computed: {
            ...mapGetters(['getPagesList']),
        },
        methods: {
            showModal(id) {
                this.$bvModal.show('my-modal-page' + id)
            },
            hideModal(id) {
                this.$bvModal.hide('my-modal-page' + id)
            },
            isAfterTest(index){
                return index > 0 && this.getPagesList[index - 1].is_test ? true : false;
            },
            toBlocks(id){
                this.$router.push(`/simulator/${this.$route.params.id}/lesson/${this.$route.params.lesson_id}/page/` + id);
            },
            toggleItem(page){
                this.$root.$emit('bv::toggle::collapse', `pageCollapse${page.id}`);
            },
            deleteItem(id){
                const config = {
                    headers: { Authorization: `Bearer ${this.$store.getters.currentUser}`}
                };
                API
                    .delete('admin_pannel/page/' + id, config)
                    .then(response => {
                        console.log(response);
                        this.hideModal(id);
                        this.$store.dispatch('getAllPages', this.$route.params.lesson_id)
                    })
                    .catch(function (error) {
                        console.log(error)
                        if(error.response.status == 404)
                        {

                        }
                        if(error.response.status == 401)
                        {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');
                            //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                        }
                        if(error.response.status == 500)
                        {
                            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if (error.response.status == 403){
                            this.$bvToast.toast('Вы не можете удалить онбординг', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                    }.bind(this))
            }
        },
        watch: {
            pages: function(newPages){
                console.log('new', newPages);
                let pagesIds = [];
                const config = {
                    headers: { Authorization: `Bearer ${this.$store.getters.currentUser}`}
                };
                newPages.forEach(function (item) {
                    pagesIds.push(item.id);
                });
                API
                    .post('admin_pannel/change_pages_order/' + this.$route.params.lesson_id, {'page_id_list': pagesIds}, config)
                    .then(response => {
                        this.$store.dispatch('getAllPages', this.$route.params.lesson_id)
                    })
                    .catch(function (error) {
                        console.log(error);
                        if(error.response.status == 404)
                        {

                        }
                        if(error.response.status == 401)
                        {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');

                        }
                        if(error.response.status == 403)
                        {
                            this.$bvToast.toast('У вас нет прав для изменения порядка страниц', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if(error.response.status == 500)
                        {
                            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if(error.response.status == 400)
                        {
                            console.log(error.response.status, 'page_id_list does not contain all pages of given lesson');
                        }
                    })
            }
        }
    }
</script>

<style scoped>

</style>
