<template>
  <b-card class="mb-5">
    <h4 class="mb-3">Добавить открытый вопрос</h4>
    <b-form>
      <b-form-group label="Тип вопроса">
        <b-form-input v-model="newItem.title" />
      </b-form-group>
      <b-form-group label="Текст *">
<!--        <quill-editor ref="myTextEditor"-->
<!--                      v-model="newItem.text"-->
<!--                      :options="editorOption">-->
<!--        </quill-editor>-->
        <editor
          api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
          v-model="newItem.text"
          :init="{
                 height: 250,
                 menubar: false,
                 images_upload_handler: upload_image,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | image | code | help'
               }"
        />
      </b-form-group>
      <b-form-group label="Описание">
        <!--        <quill-editor ref="myTextEditor"-->
        <!--                      v-model="newItem.text"-->
        <!--                      :options="editorOption">-->
        <!--        </quill-editor>-->
        <editor
          api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
          v-model="newItem.text_description"
          :init="{
                 height: 250,
                 menubar: false,
                 images_upload_handler: upload_image,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | image | code | help'
               }"
        />
      </b-form-group>
      <b-form-group label="Родительское сообщение">
        <v-select v-model="pMessage" :options="options" :reduce="text => text.value" label="text"/>
      </b-form-group>
      <b-form-group label="Текст для женского персонажа (Если отличается)">
<!--        <quill-editor ref="myTextEditor"-->
<!--                      v-model="newItem.female_text"-->
<!--                      :options="editorOption">-->
<!--        </quill-editor>-->
        <editor
          api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
          v-model="newItem.female_text"
          :init="{
                 height: 250,
                 menubar: false,
                 images_upload_handler: upload_image,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | image | code | help'
               }"
        />
      </b-form-group>
      <b-form-group label="Комментарий после ответа">
<!--        <quill-editor ref="myTextEditor"-->
<!--                      v-model="newItem.postreply_text"-->
<!--                      :options="editorOption">-->
<!--        </quill-editor>-->
        <editor
          api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
          v-model="newItem.postreply_text"
          :init="{
                 height: 250,
                 menubar: false,
                 images_upload_handler: upload_image,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | image | code | help'
               }"
        />
      </b-form-group>
      <b-form-group label="Комментарий для женского персонажа (Если отличается)">
<!--        <quill-editor ref="myTextEditor"-->
<!--                      v-model="newItem.postreply_female_text"-->
<!--                      :options="editorOption">-->
<!--        </quill-editor>-->
        <editor
          api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
          v-model="newItem.postreply_female_text"
          :init="{
                 height: 250,
                 menubar: false,
                 images_upload_handler: upload_image,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | image | code | help'
               }"
        />
      </b-form-group>
      <b-form-group label="Количество комментариев, которые должен оценить пользователь">
        <b-form-input v-model="newItem.comment_number" />
      </b-form-group>
    </b-form>
    <div class="mb-2">* обязательные поля</div>
    <template>
      <b-button
        variant="outline-secondary"
        @click.prevent="changeType"
      >Отменить</b-button>
      <b-button variant="primary" @click.prevent="addOpenQuestion" class="mr-1">Добавить</b-button>
    </template>
  </b-card>
</template>

<script>
    import 'quill/dist/quill.core.css'
    import 'quill/dist/quill.snow.css'
    import 'quill/dist/quill.bubble.css'
    import { mapGetters } from 'vuex'
    import { quillEditor } from 'vue-quill-editor'
    import vSelect from "vue-select";
    import "vue-select/dist/vue-select.css";
    import API from 'Api'
    import Editor from '@tinymce/tinymce-vue'

    export default {
        name: "addOpenQuestion",
        components: {
            quillEditor,
            vSelect,
            Editor
        },
        data() {
            return {
                newItem: {
                    title: null,
                    text: '',
                    text_description: null,
                    parent_message: '',
                    female_text: '',
                    postreply_text: '',
                    postreply_female_text: '',
                    comment_number: ''
                },
                pMessage: null,
                editorOption: {
                    modules: {
                        toolbar: [
                            ['bold', 'italic', 'underline', 'strike'],
                            ['blockquote', 'code-block'],
                            [{ 'header': 1 }, { 'header': 2 }],
                            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                            [{ 'script': 'sub' }, { 'script': 'super' }],
                            [{ 'indent': '-1' }, { 'indent': '+1' }],
                            [{ 'direction': 'rtl' }],
                            [{ 'size': ['small', false, 'large', 'huge'] }],
                            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                            [{ 'font': [] }],
                            [{ 'color': [] }, { 'background': [] }],
                            [{ 'align': [] }],
                            ['clean'],
                            ['link', 'image', 'video']
                        ]
                    }
                },
            }
        },
        computed: {
            ...mapGetters(['getMessages', 'upload_image']),
            options(){
                let opt = [];
                
                if(!this.getMessages.place_set)
                {
                    return []
                }
                this.getMessages.place_set.forEach((item) => {
                    opt.push({text: item.content_object.text.replace(/<[^>]*>/g, ''), value: item.content_object.id})
                });
                opt.push({text: 'Без родительского сообщения', value: null});
                return opt.reverse();
            }
        },
        methods: {
            changeType(){
                this.$store.dispatch('getNewAddType', '')
            },
            addOpenQuestion() {
                const config = {
                    headers: {
                        Authorization: `Bearer ${this.$store.getters.currentUser}`
                    }
                };
                if (!this.newItem.text){
                    this.$bvToast.toast('Заполните все обязательные поля', {
                        title: 'Уведомление',
                        variant: 'danger',
                        solid: true
                    })
                }
                else{
                    const data = new FormData();
                    data.append('simulator', this.$route.params.id);
                    data.append('text', this.newItem.text);
                    data.append('page_id', this.$route.params.page_id);
                    if (this.newItem.title)
                        data.append('title', this.newItem.title);
                    if (this.newItem.text_description)
                        data.append('text_description', this.newItem.text_description);
                    if (this.pMessage)
                        data.append('parent_message', this.pMessage);
                    if (this.newItem.female_text)
                        data.append('female_text', this.newItem.female_text);
                    if (this.newItem.postreply_text)
                        data.append('postreply_text', this.newItem.postreply_text);
                    if (this.newItem.postreply_female_text)
                        data.append('postreply_female_text', this.newItem.postreply_female_text);
                    if (this.newItem.comment_number)
                        data.append('comment_number', this.newItem.comment_number);
                    API
                        .post('admin_pannel/create_open_question/', data, config)
                        .then(response => {
                            console.log(response);
                            this.$store.dispatch('getNewAddType', '');
                            this.$store.dispatch('getAllBlocks', this.$route.params.page_id)
                        })
                        .catch(function (error) {
                            console.log(error)
                            if(error.response.status == 404)
                            {

                            }
                            if(error.response.status == 400)
                            {
                                this.$bvToast.toast('Симулятор не принадлежит пользователю', {
                                    title: 'Уведомление',
                                    variant: 'info',
                                    solid: true
                                })
                            }
                            if(error.response.status == 500)
                            {
                                this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                    title: 'Уведомление',
                                    variant: 'danger',
                                    solid: true
                                })
                            }
                            if(error.response.status == 401)
                            {
                                this.$store.dispatch('signOut');
                                this.$router.push('/user');
                                //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                            }
                        })
                }
            }
        },
        watch: {
            pMessage: function (newMessage, event) {
                this.newItem.parent_message = newMessage;
            }
        },
        mounted() {
            this.$store.dispatch('getAllMessages', this.$route.params.page_id)
        }
    }
</script>

<style scoped>

</style>
