<template>
  <b-collapse :id="`openQCollapse${openQuestion.id}`" class="question-collapse">
    <div class="card-body pt-4">
      <b-form>
        <b-form-group label="Тип вопроса">
          <b-form-input v-model="openQuestion.title" />
        </b-form-group>
        <b-form-group label="Текст *">
<!--          <b-form-input v-model="openQuestion.text" />-->
          <editor
            api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
            v-model="openQuestion.text"
            :init="{
                 height: 250,
                 menubar: false,
                 images_upload_handler: upload_image,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | image | code | help'
               }"
          />
        </b-form-group>
        <b-form-group label="Описание">
          <!--          <b-form-input v-model="openQuestion.text" />-->
          <editor
            api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
            v-model="openQuestion.text_description"
            :init="{
                 height: 250,
                 menubar: false,
                 images_upload_handler: upload_image,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | image | code | help'
               }"
          />
        </b-form-group>
        <b-form-group label="Родительское сообщение">
          <v-select v-model="pMessage" :options="options" :reduce="text => text.value" label="text"/>
        </b-form-group>
        <b-form-group label="Текст для женского персонажа (Если отличается)">
<!--          <quill-editor ref="myTextEditor"-->
<!--                        v-model="openQuestion.female_text"-->
<!--                        :options="editorOption">-->
<!--          </quill-editor>-->
          <editor
            api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
            v-model="openQuestion.female_text"
            :init="{
                 height: 250,
                 menubar: false,
                 images_upload_handler: upload_image,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | image | code | help'
               }"
          />
        </b-form-group>
        <b-form-group label="Комментарий после ответа">
<!--          <quill-editor ref="myTextEditor"-->
<!--                        v-model="openQuestion.postreply_text"-->
<!--                        :options="editorOption">-->
<!--          </quill-editor>-->
          <editor
            api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
            v-model="openQuestion.postreply_text"
            :init="{
                 height: 250,
                 menubar: false,
                 images_upload_handler: upload_image,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | image | code | help'
               }"
          />
        </b-form-group>
        <b-form-group label="Комментарий для женского персонажа (Если отличается)">
<!--          <quill-editor ref="myTextEditor"-->
<!--                        v-model="openQuestion.postreply_female_text"-->
<!--                        :options="editorOption">-->
<!--          </quill-editor>-->
          <editor
            api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
            v-model="openQuestion.postreply_female_text"
            :init="{
                 height: 250,
                 menubar: false,
                 images_upload_handler: upload_image,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | image | code | help'
               }"
          />
        </b-form-group>
        <b-form-group label="Количество комментариев, которые должен оценить пользователь">
          <b-form-input v-model="openQuestion.comment_number" />
        </b-form-group>
      </b-form>
      <div class="mb-2">* обязательные поля</div>
      <template>
        <b-button
          variant="outline-secondary"
          @click="toggleItem(openQuestion.id)"
        >Отменить</b-button>
        <b-button variant="primary" @click="editItem(openQuestion.id)" class="mr-1">Изменить</b-button>
      </template>
    </div>
  </b-collapse>
</template>

<script>
    import 'quill/dist/quill.core.css'
    import 'quill/dist/quill.snow.css'
    import 'quill/dist/quill.bubble.css'
    import { mapGetters } from 'vuex'
    import { quillEditor } from 'vue-quill-editor'
    import vSelect from "vue-select";
    import "vue-select/dist/vue-select.css";
    import API from 'Api'
    import Editor from '@tinymce/tinymce-vue'

    export default {
        name: "EditOpenQuestion",
        props: ['openQuestion', 'id'],
        components: {
            vSelect,
            quillEditor,
            Editor
        },
        data(){
            return{
                pMessage: null,
                editorOption: {
                    modules: {
                        toolbar: [
                            ['bold', 'italic', 'underline', 'strike'],
                            ['blockquote', 'code-block'],
                            [{ 'header': 1 }, { 'header': 2 }],
                            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                            [{ 'script': 'sub' }, { 'script': 'super' }],
                            [{ 'indent': '-1' }, { 'indent': '+1' }],
                            [{ 'direction': 'rtl' }],
                            [{ 'size': ['small', false, 'large', 'huge'] }],
                            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                            [{ 'font': [] }],
                            [{ 'color': [] }, { 'background': [] }],
                            [{ 'align': [] }],
                            ['clean'],
                            ['link', 'image', 'video']
                        ]
                    }
                },
            }
        },
        computed: {
            ...mapGetters(['getMessages', 'upload_image']),
            options(){
                let opt = [];
                if(!this.getMessages.place_set)
                {
                    return []
                }
                this.getMessages.place_set.forEach((item) => {
                    if (this.id > item.sequence_no)
                    {
                        opt.push({text: item.content_object.text.replace(/<[^>]*>/g, ''), value: item.content_object.id})

                    }
                })
                opt.push({text: 'Без родительского сообщения', value: null});
                return opt;
            }
        },
        methods: {
            toggleItem(id){
                this.$store.dispatch('getNewAddType', '');
                this.$root.$emit('bv::toggle::collapse', `openQCollapse${id}`);
            },
            editItem(id){
                const config = {
                    headers: {
                        Authorization: `Bearer ${this.$store.getters.currentUser}`
                    }
                };
                if (!this.openQuestion.text){
                    this.$bvToast.toast('Заполните все обязательные поля', {
                        title: 'Уведомление',
                        variant: 'danger',
                        solid: true
                    })
                }
                else {
                    const data = new FormData();
                    data.append('simulator', this.$route.params.id);
                    data.append('text', this.openQuestion.text);
                    data.append('page_id', this.$route.params.page_id);
                    if (this.openQuestion.title)
                        data.append('title', this.openQuestion.title);
                    if (this.openQuestion.text_description)
                        data.append('text_description', this.openQuestion.text_description);
                    if (this.pMessage)
                        data.append('parent_message', this.pMessage);
                    if (this.openQuestion.female_text)
                        data.append('female_text', this.openQuestion.female_text);
                    if (this.openQuestion.postreply_text)
                        data.append('postreply_text', this.openQuestion.postreply_text);
                    if (this.openQuestion.postreply_female_text)
                        data.append('postreply_female_text', this.openQuestion.postreply_female_text);
                    if (this.openQuestion.comment_number)
                        data.append('comment_number', this.openQuestion.comment_number);
                    API
                        .put('admin_pannel/open_question_detail/' + id, data, config)
                        .then(response => {
                            console.log(response);
                            this.toggleItem(id);
                            this.$store.dispatch('getAllBlocks', this.$route.params.page_id);
                            this.$store.dispatch('getNewAddType', '')
                            this.$bvToast.toast('Открытый вопрос изменен', {
                                title: 'Уведомление',
                                variant: 'info',
                                solid: true
                            })
                        })
                        .catch(function (error) {
                            console.log(error)
                            if(error.response.status == 404)
                            {

                            }
                            if(error.response.status == 400)
                            {
                                this.$bvToast.toast('Симулятор не принадлежит пользователю', {
                                    title: 'Уведомление',
                                    variant: 'info',
                                    solid: true
                                })
                            }
                            if(error.response.status == 500)
                            {
                                this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                    title: 'Уведомление',
                                    variant: 'danger',
                                    solid: true
                                })
                            }
                            if(error.response.status == 401)
                            {
                                this.$store.dispatch('signOut');
                                this.$router.push('/user');
                                //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                            }
                        })
                }
            }
        },
        mounted(){
            console.log(this.openQuestion.pMessage)
            this.pMessage = this.openQuestion.parent_message
        },
        watch: {
            pMessage: function (newMessage, event) {
                this.openQuestion.parent_message = newMessage;
            }
        },
    }
</script>

<style scoped>

</style>
