<template>
  <b-card no-body class="mb-2 p-3">
  <div class="position-relative d-flex flex-row justify-content-between align-items-center w-100">
    <div class="d-flex flex-row justify-content-left m-0">
      <div class="ml-4 d-flex flex-column justify-content-center">
        <h6 style="font-weight: bold">Открытый вопрос</h6>
        <h6 class="align-middle responsive">{{openQuestion.text}}</h6>
<!--        <h6 v-if="openQuestion.parent_message">Parent message: <span class="align-middle responsive" v-html="getCurrMessage.text"></span></h6>-->
<!--        <h6 v-if="openQuestion.female_text">Female text: <span class="align-middle responsive" v-html="openQuestion.female_text"></span></h6>-->
<!--        <h6 v-if="openQuestion.postreply_text">Комментарий после ответа: <span class="align-middle responsive" v-html="openQuestion.postreply_text"></span></h6>-->
<!--        <h6 v-if="openQuestion.postreply_female_text">Postreply female text: <span class="align-middle responsive" v-html="openQuestion.postreply_female_text"></span></h6>-->
<!--        <h6 v-if="openQuestion.comment_number"><span class="align-middle responsive">Количество комментариев, которые должен оценить пользователь: {{ openQuestion.comment_number }}</span></h6>-->
      </div>
    </div>
    <div class="mr-3">
      <b-button variant="outline-theme-3" class="icon-button rotate-icon-click rotate"
                @click="toggleItem(openQuestion.id)"
      >
        <i class="simple-icon-pencil"></i>
      </b-button>
      <b-button variant="outline-theme-3" class="icon-button rotate-icon-click rotate"
                @click="showModal"
      >
        <i class="simple-icon-trash"></i>
      </b-button>
    </div>
  </div>
    <EditOpenQuestion :id="id" :openQuestion="changeOpenQuestion()"></EditOpenQuestion>
    <b-modal :id="'my-modal-openq' + openQuestion.id" centered hide-footer hide-header>
      <div class="d-block text-center">
        <h3>Вы действительно хотите удалить открытый вопрос?</h3>
      </div>
      <div class="d-flex flex-row justify-content-center mt-5">
        <b-button class="mr-2 w-40" variant="outline-secondary" block @click="hideModal">Отменить</b-button>
        <b-button class="m-0 w-40" variant="primary" block @click="deleteItem(openQuestion.id)">Удалить</b-button>
      </div>
    </b-modal>
  </b-card>
</template>

<script>
    import EditOpenQuestion from "./EditOpenQuestion";
    import API from 'Api';
    import {mapGetters} from 'vuex'
    export default {
        name: "OpenQuestionBlock",
        components: {
            EditOpenQuestion
        },
        props: ['openQuestion', 'id'],
        computed: {
            ...mapGetters(['getMessages']),
            getCurrMessage(){
                return this.getMessages.filter(item => {
                    return item.id == this.openQuestion.parent_message
                })[0]
            }
        },
        methods: {
            changeOpenQuestion(){
                if (this.openQuestion.title == 'null')
                    this.openQuestion.title = null;
                if (this.openQuestion.text_description == 'null')
                    this.openQuestion.text_description = null;
                return this.openQuestion;
            },
            showModal() {
                this.$bvModal.show('my-modal-openq' + this.openQuestion.id)
            },
            hideModal() {
                this.$bvModal.hide('my-modal-openq' + this.openQuestion.id)
            },
            toggleItem(id){
                this.$root.$emit('bv::toggle::collapse', `openQCollapse${id}`);
            },
            deleteItem(id){
                const config = {
                    headers: { Authorization: `Bearer ${localStorage.getItem('user')}`}
                };
                API
                    .delete('admin_pannel/delete_open_question/' + id, config)
                    .then(response => {
                        console.log(response);
                        this.hideModal();
                        this.$store.dispatch('getAllBlocks', this.$route.params.id)
                    })
                    .catch(function (error) {
                        console.log(error)
                        if(error.response.status == 404)
                        {

                        }
                        if(error.response.status == 500)
                        {
                            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if(error.response.status == 401)
                        {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');
                            //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                        }
                    })
            }
        },
        mounted() {
            this.$store.dispatch('getAllMessages', this.$route.params.page_id)
        }
    }
</script>

<style scoped>

</style>
