<template>
  <b-modal
    id="modalright"
    ref="modalright1"
    title="Добавить новую главу теории"
    modal-class="modal-right"
  >
    <b-form @submit.prevent="addChapter">
      <b-form-group label="Название главы">
        <b-form-input v-model="newItem.name" />
      </b-form-group>
    </b-form>

    <template slot="modal-footer">
      <b-button
        variant="outline-secondary"
        @click="hideModal('modalright')"
      >Отменить</b-button>
      <b-button variant="primary" @click="addChapter()" class="mr-1">Добавить</b-button>
    </template>
  </b-modal>
</template>

<script>
    import API from 'Api'
    export default {
        name: "AddNewChapter",
        data(){
            return{
                newItem: {
                    name: '',
                }
            }
        },
        methods: {
            hideModal(refname) {
                this.$refs[refname].hide();
                this.newItem.name = ''
            },
            addChapter(){
                const config = {
                    headers: { Authorization: `Bearer ${this.$store.getters.currentUser}`, 'Content-Type':'multipart/form-data'}
                };
                const data = new FormData();
                if (!this.newItem.name){
                    this.$bvToast.toast('Введите название главы', {
                        title: 'Уведомление',
                        variant: 'danger',
                        solid: true
                    })
                }
                else {
                    data.append('simulator', this.$route.params.id);
                    data.append('name', this.newItem.name);
                    data.append('sequence_no', this.$store.getters.getChapters.length);
                    API
                        .post('admin_pannel/create_theory_chapter/', data, config)
                        .then(response => {
                            console.log(response);
                            this.$store.dispatch('getAllChapters', this.$route.params.id);
                            this.hideModal('modalright1');
                        })
                        .catch(function (error) {
                            console.log(error)
                            if(error.response.status == 404)
                            {

                            }
                            if(error.response.status == 400)
                            {
                                this.$bvToast.toast('Симулятор не принадлежит пользователю', {
                                    title: 'Уведомление',
                                    variant: 'info',
                                    solid: true
                                })
                            }
                            if(error.response.status == 500)
                            {
                                this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                    title: 'Уведомление',
                                    variant: 'danger',
                                    solid: true
                                })
                            }
                            if(error.response.status == 401)
                            {
                                this.$store.dispatch('signOut');
                                this.$router.push('/user');
                                //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                            }
                        })
                }
            }
        }
    }
</script>

<style scoped>

</style>
