<template>
  <div>
  <b-card no-body class="mb-2 p-3" v-for="(chapter,index) in getChapters" :key="index">
    <div class="position-relative d-flex flex-row justify-content-between align-items-center w-100">
      <div class="d-flex flex-row justify-content-left m-0 w-60" @click.prevent="toTheory(chapter.id)" style="cursor: pointer">
        <div class="ml-4 d-flex flex-column justify-content-center">
          <h4><span class="align-middle responsive">{{ chapter.name }}</span></h4>
        </div>
      </div>
      <div class="mr-3">
        <b-button variant="outline-theme-3" class="icon-button rotate-icon-click rotate"
                  @click="toggleItem(chapter)"
        >
          <i class="simple-icon-pencil"></i>
        </b-button>
        <b-button variant="outline-theme-3" class="icon-button rotate-icon-click rotate"
                  @click="showModal"
        >
          <i class="simple-icon-trash"></i>
        </b-button>
      </div>
    </div>
    <EditChapter :chapter="chapter"></EditChapter>
    <b-modal :id="'my-modal-chapter' + chapter.id" centered hide-footer hide-header>
      <div class="d-block text-center">
        <h3>Вы действительно хотите удалить главу?</h3>
      </div>
      <div class="d-flex flex-row justify-content-center mt-5">
        <b-button class="mr-2 w-40" variant="outline-secondary" block @click="hideModal">Отменить</b-button>
        <b-button class="m-0 w-40" variant="primary" block @click="deleteItem(chapter.id)">Удалить</b-button>
      </div>
    </b-modal>
  </b-card>
  </div>
</template>

<script>
    import {mapGetters} from 'vuex';
    import EditChapter from "./EditChapter";
    import API from 'Api'
    import Draggable from 'vuedraggable';
    export default {
        name: "ChapterCard",
        components: {
            EditChapter,
            Draggable
        },
        computed: {
            ...mapGetters(['getChapters', 'getTheory']),
        },
        methods: {
            showModal() {
                this.$bvModal.show('my-modal-chapter' + this.chapter.id)
            },
            hideModal() {
                this.$bvModal.hide('my-modal-chapter' + this.chapter.id)
            },
            toTheory(id){
                this.$router.push('chapter/' + id + '/theory');
            },
            toggleItem(page){
                this.$root.$emit('bv::toggle::collapse', `chapterCollapse${page.id}`);
            },
            deleteItem(id){
                const config = {
                    headers: { Authorization: `Bearer ${this.$store.getters.currentUser}`}
                };
                API
                    .delete('admin_pannel/delete_theory_chapter/' + id, config)
                    .then(response => {
                        console.log(response);
                        this.hideModal();
                        this.$store.dispatch('getAllChapters', this.$route.params.id)
                    })
                    .catch(function (error) {
                        console.log(error)
                        if(error.response.status == 404)
                        {

                        }
                        if(error.response.status == 500)
                        {
                            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if(error.response.status == 401)
                        {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');
                            //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                        }
                    })
            }
        },
        mounted() {
            this.$store.dispatch('getAllChapters', this.$route.params.id)
        },
    }
</script>

<style scoped>

</style>
