<template>
  <b-row>
    <b-colxx class="disable-text-selection">
      <chapters-list-heading></chapters-list-heading>
      <template v-if="getChapters">
        <ChapterCard></ChapterCard>
      </template>
      <template v-else>
        <div class="loading"></div>
      </template>
    </b-colxx>
  </b-row>
</template>

<script>
    import {mapGetters} from 'vuex'
    import ChaptersListHeading from "../../../containers/my/ChaptersListHeading";
    import ChapterCard from "./ChapterCard";
    export default {
        name: "Chapters",
        components: {
            ChaptersListHeading,
            ChapterCard
        },
        data(){
            return{
                isLoad: true
            }
        },
        computed: {
            ...mapGetters(['getChapters'])
        },
        mounted() {
            this.$store.dispatch('getAllChapters', this.$route.params.id)
        },
        beforeRouteLeave(to, from, next){
            this.$store.commit('setAllChapters', []);
            next()
        }
    }
</script>

<style scoped>

</style>
