<template>
  <b-collapse :id="`chapterCollapse${chapter.id}`" class="question-collapse">
    <div class="card-body pt-4">
      <div class="form-group mb-3">
        <label>Название</label>
        <b-input v-model="chapter.name" />
      </div>
      <b-button variant="outline-secondary" @click="hideModal(chapter.id)">Отменить</b-button>
      <b-button variant="primary" @click="changeChapter(chapter.id)" class="mr-1">Изменить</b-button>
    </div>
  </b-collapse>
</template>

<script>
    import API from 'Api'
    export default {
        name: "EditChapter",
        props: ['chapter'],
        methods: {
            hideModal(id) {
                this.$root.$emit("bv::toggle::collapse", `chapterCollapse${id}`);
            },
            changeChapter(id) {
                if (!this.chapter.name){
                    this.$bvToast.toast('Введите название главы', {
                        title: 'Уведомление',
                        variant: 'danger',
                        solid: true
                    })
                }
                const config = {
                    headers: {
                        Authorization: `Bearer ${this.$store.getters.currentUser}`,
                        "Content-Type": "multipart/form-data",
                    },
                };
                const data = new FormData();
                data.append('name', this.chapter.name);
                data.append('sequence_no', this.chapter.sequence_no);
                data.append('simulator', this.$route.params.id);
                API
                    .patch('admin_pannel/theory_chapter_detail/' + id, data, config)
                    .then(response => {
                        this.$root.$emit("bv::toggle::collapse", `chapterCollapse${id}`);
                        this.$store.dispatch('getAllChapters', this.$route.params.id);
                        this.$bvToast.toast('Глава изменена', {
                            title: 'Уведомление',
                            variant: 'info',
                            solid: true
                        })
                    })
                    .catch(function (error) {
                        if (error.response.status == 404) {

                        }
                        if(error.response.status == 500)
                        {
                            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if (error.response.status == 400) {
                            this.$bvToast.toast("Симулятор не принадлежит пользователю", {
                                title: "Уведомление",
                                variant: "info",
                                solid: true,
                            });
                        }
                        if (error.response.status == 401) {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');
                            //ошибка токена. Пытается ломануть нас. Выкинуть на главную
                        }
                    })
            }
        }
    }
</script>

<style scoped>

</style>
