<template>
  <b-card no-body class="mb-2 p-3">
    <div class="position-relative d-flex flex-row justify-content-between align-items-center w-100">
      <div class="d-flex flex-row justify-content-left m-0">
        <div class="ml-4 d-flex flex-column justify-content-center">
          <h4><span class="align-middle responsive">{{ theory.name }}</span></h4>
          <p class="align-middle responsive" v-html="theory.text"></p>
        </div>
      </div>
      <div class="mr-3">
        <b-button variant="outline-theme-3" class="icon-button rotate-icon-click rotate"
                  @click="toggleItem(theory.id)"
        >
          <i class="simple-icon-pencil"></i>
        </b-button>
      </div>
    </div>
    <edit-theory :is-editing-in-theory="true" :theory="theory"></edit-theory>
  </b-card>
</template>

<script>
    import {mapGetters} from 'vuex';
    import EditTheory from "../pageBlocks/theory/EditTheory";
    export default {
        name: "TheoryCard",
        components: {
            EditTheory
        },
        props: ['theory'],
        computed: {

        },
        methods: {
            toggleItem(id){
                this.$root.$emit('bv::toggle::collapse', `theoryCollapse${id}`);
            },
        },
        mounted() {
            this.$store.dispatch('getAllChapters', this.$route.params.id)
        }
    }
</script>

<style scoped>

</style>
