<template>
  <b-row>
    <b-colxx xxs="12">
      <h1 v-if="getChapterName" style="">{{getChapterName.name}}</h1>
      <div class="separator mb-5" />
      <template v-if="getTheory">
        <draggable type="div" :list="getCurrTheory" class="answers mb-3 sortable" @end="currTheory = getCurrTheory">
        <template v-for="(t, index) in getCurrTheory">
              <TheoryCard v-if="getCurrTheory.length > 0"  :key="index" :theory="t"></TheoryCard>
              <h5 v-else :key="index">Для этой главы теория пока не добавлена</h5>
        </template>
        </draggable>
      </template>
      <template v-else>
        <div class="loading"></div>
      </template>
    </b-colxx>
  </b-row>
</template>

<script>
    import {mapGetters} from 'vuex';
    import API from 'Api'
    import TheoryCard from "./TheoryCard";
    import Draggable from 'vuedraggable';
    export default {
        name: "Theory",
        components: {
            TheoryCard,
            Draggable
        },
        data(){
            return {
                currTheory: []
            }
        },
        computed: {
            ...mapGetters(['getTheory', 'getChapters']),
            getCurrTheory(){
                return this.getTheory.filter(item => {
                    return item.chapter == this.$route.params.chapter_id;
                })
            },
            getChapterName(){
                return this.getChapters.filter(item => {
                    return item.id == this.$route.params.chapter_id;
                })[0]
            }
        },
        mounted() {
            this.$store.dispatch('getAllChapters', this.$route.params.id);
            this.$store.dispatch('getAllTheory', this.$route.params.id)
        },
        watch: {
            currTheory: function(newTheory) {
                console.log('new', newTheory);
                let theoryIds = [];
                const config = {
                    headers: {Authorization: `Bearer ${this.$store.getters.currentUser}`}
                };
                newTheory.forEach(function (item) {
                    theoryIds.push(item.id);
                });
                API
                    .post('admin_pannel/change_theory_order/' + this.$route.params.chapter_id, {'theory_id_list': theoryIds}, config)
                    .then(response => {
                        this.$store.dispatch('getAllChapters', this.$route.params.id)
                    })
                    .catch(function (error) {
                        console.log(error);
                        if (error.response.status == 404) {

                        }
                        if (error.response.status == 401) {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');

                        }
                        if (error.response.status == 403) {
                            this.$bvToast.toast('У вас нет прав для изменения порядка страниц', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if (error.response.status == 400) {
                            console.log(error.response.status, 'theory_id_list does not contain all theory of given sim-r');
                        }
                    })
            }
        },
        beforeRouteLeave(to, from, next){
            this.$store.commit('setAllTheory', []);
            this.$store.commit('setAllChapters', []);
            next()
        }
    }
</script>

<style scoped>

</style>
