<template>
  <b-modal
    id="modalright_group"
    ref="modalright"
    title="Добавить новую группу"
    modal-class="modal-right"
  >
    <b-form>
      <b-form-group label="Название группы">
        <b-form-input v-model="newItem.name" />
      </b-form-group>
    </b-form>

    <template slot="modal-footer">
      <b-button
        variant="outline-secondary"
        @click="hideModal('modalright')"
      >Отменить</b-button>
      <b-button variant="primary" @click="addNewGroup()" class="mr-1">Добавить</b-button>
    </template>
  </b-modal>
</template>

<script>
    import API from 'Api'
    export default {
        name: "AddNewGroup",
        data() {
            return {
                newItem: {
                    name: ''
                }
            }
        },
        methods: {
            hideModal(refname) {
                this.$refs[refname].hide();
            },
            addNewGroup(){
                const config = {
                    headers: { Authorization: `Bearer ${this.$store.getters.currentUser}`, 'Content-Type':'multipart/form-data'}
                };
                const data = new FormData();
                data.append('name', this.newItem.name);
                API
                    .post('admin_pannel/create_group/', data, config)
                    .then(response => {
                        console.log(response)
                        this.$store.dispatch('getAllSimGroups');
                        this.hideModal('modalright');
                        this.newItem.name = ''
                    })
                    .catch(function (error) {
                        if(error.response.status == 404)
                        {

                        }
                        if(error.response.status == 500)
                        {
                            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if(error.response.status == 401)
                        {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');
                            //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                        }
                    }.bind(this));

            }
        }
    }
</script>

<style scoped>

</style>
