<template>
  <div>
    <b-card no-body class="mb-2 p-3" @click.prevent="toSimulators(0)" style="cursor: pointer">
      <div class="position-relative d-flex flex-row justify-content-between align-items-center w-100" >
        <div class="d-flex flex-row justify-content-left m-0 w-60">
          <div class="ml-4 d-flex flex-column justify-content-center">
            <h4><span class="align-middle responsive">Список всех симуляторов</span></h4>
          </div>
        </div>
      </div>
    </b-card>
    <b-card no-body class="mb-2 p-3" v-for="(group,index) in getSimGroupsList" :key="index">
      <div class="position-relative d-flex flex-row justify-content-between align-items-center w-100" >
        <div class="d-flex flex-row justify-content-left m-0 w-60" @click.prevent="toSimulators(group.id)" style="cursor: pointer">
          <div class="ml-4 d-flex flex-column justify-content-center">
            <h4><span class="align-middle responsive">{{ group.name }}</span></h4>
          </div>
        </div>
        <div class="mr-3">
          <b-button variant="outline-theme-3" class="icon-button rotate-icon-click rotate"
                    @click="showModal"
          >
            <i class="simple-icon-trash"></i>
          </b-button>
        </div>
      </div>
      <b-modal :id="'my-modal-group' + group.id" centered hide-footer hide-header>
        <div class="d-block text-center">
          <h3>Вы действительно хотите удалить группу?</h3>
        </div>
        <div class="d-flex flex-row justify-content-center mt-5">
          <b-button class="mr-2 w-40" variant="outline-secondary" block @click="hideModal">Отменить</b-button>
          <b-button class="m-0 w-40" variant="primary" block @click="deleteItem(group.id)">Удалить</b-button>
        </div>
      </b-modal>
    </b-card>
  </div>
</template>

<script>
    import { mapGetters } from 'vuex'
    import API from 'Api'
    export default {
        name: "GroupCard",
        computed: {
            ...mapGetters(['getSimGroupsList'])
        },
        methods: {
            showModal() {
                this.$bvModal.show('my-modal-group' + this.group.id)
            },
            hideModal() {
                this.$bvModal.hide('my-modal-group' + this.group.id)
            },
            toSimulators(id){
                if (id == 0)
                    this.$router.push('/my');
                else
                    this.$router.push('/my/group/' + id + '/simulators');
            },
            deleteItem(id){
                const config = {
                    headers: { Authorization: `Bearer ${this.$store.getters.currentUser}`}
                };
                API
                    .delete('admin_pannel/delete_group/' + id, config)
                    .then(response => {
                        console.log(response);
                        this.hideModal();
                        this.$store.dispatch('getAllSimGroups')
                    })
                    .catch(function (error) {
                        console.log(error)
                        if(error.response.status == 404)
                        {

                        }
                        if(error.response.status == 401)
                        {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');
                            //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                        }
                    }.bind(this))
            }
        }
    }
</script>

<style scoped>

</style>
