<template>
  <b-row>
    <b-colxx class="disable-text-selection">
      <sim-groups-list-heading></sim-groups-list-heading>
      <template v-if="isLoad">
        <GroupCard></GroupCard>
      </template>
      <template v-else>
        <div class="loading"></div>
      </template>
    </b-colxx>
  </b-row>
</template>

<script>
    import { mapGetters } from 'vuex'
    import GroupCard from "./GroupCard";
    import SimGroupsListHeading from "../../../containers/my/SimGroupsListHeading";
    export default {
        name: "Groups",
        components: {
            GroupCard,
            SimGroupsListHeading
        },
        computed: {
            ...mapGetters(['getSimGroupsList']),
            isLoad(){
                if (this.getSimGroupsList){
                    return true
                }
                else {
                    return false
                }
            }
        },
        mounted() {
            this.$store.dispatch('getAllSimGroups')
        }
    }
</script>

<style scoped>

</style>
