<template>
  <b-modal
    id="modalright"
    ref="modalright"
    title="Добавить новый урок"
    modal-class="modal-right"
  >
    <b-form @submit.prevent="addNewLesson">
      <b-form-group label="Название урока *">
        <b-form-input v-model="newItem.name" />
      </b-form-group>
      <label for="">Описание *</label>
      <b-input-group  style="margin-bottom: 1rem">
       <b-form-input v-model="newItem.description"  />
        <!-- <editor
          api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
          v-model="newItem.description"
          :init="{
                 height: 250,
                 menubar: false,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | image | code | help'
               }"
        /> -->
      </b-input-group>
      <b-form-group label="Доступен">
        <b-form-radio-group
          id="radio-group-1"
          v-model="newItem.active"
          :options="options"
          name="radio-options"
        ></b-form-radio-group>
      </b-form-group>
      <b-form-group label="Изображение (220х128) *">
        <croppa
          style="cursor: pointer"
          :width="220"
          :height="128"
          :quality="1"
          :disable-drag-to-move="false"
          :disable-scroll-to-zoom="true"
          :disable-pinch-to-zoom="true"
          :disable-rotation="false"
          :canvas-color="'#eee'"
          :remove-button-color="'#008ecc'"
          :remove-button-size="30"
          v-model="myCroppaImg">
        </croppa>
      </b-form-group>
      <label for="">Цена</label>
      <b-input-group style="margin-bottom: 1rem">
        <b-form-input v-model="newItem.price"  />
      </b-input-group>
    </b-form>
    <div class="mb-2">* обязательные поля</div>
    <template slot="modal-footer">
      <b-button
        variant="outline-secondary"
        @click="hideModal('modalright')"
      >Отменить</b-button>
      <b-button variant="primary" @click="addNewLessonWithImg()" class="mr-1">Добавить</b-button>
    </template>
  </b-modal>
</template>
<script>
    import Vue from 'vue'
    import "vue-select/dist/vue-select.css";
    import API from "Api";
    import Croppa from 'vue-croppa';
    import Editor from '@tinymce/tinymce-vue'
    import {
        mapGetters,
        mapActions
    } from "vuex";

    Vue.use(Croppa)

    export default {
        components: {
            Editor
        },
        computed: {

        },
        data() {
            return {
                myCroppaImg: {},
                newItem: {
                    name: "",
                    active: true,
                    description: "",
                    picture:null,
                    price: null,
                },
                options: [
                    {text: 'Да', value: true},
                    {text: 'Нет', value: false}
                ]
            };
        },
        mounted()
        {

        },
        methods: {
            // картинку придется нафиг убрать
            addNewLessonWithImg(){
                this.myCroppaImg.generateBlob((blob) => {
                    this.newItem.picture = new File([blob], this.newItem.name + '.jpg');
                    this.addNewLesson();
                }, 'image/jpeg', 0.8);
            },
            addNewLesson(){
                if (!this.newItem.name || !this.newItem.description || !this.myCroppaImg.chosenFile){
                    this.$bvToast.toast('Проверьте, заполнили ли Вы название, описание и изображение', {
                        title: 'Уведомление',
                        variant: 'danger',
                        solid: true
                    })
                }
                else{
                    const config = {
                        headers: { Authorization: `Bearer ${this.$store.getters.currentUser}`, 'Content-Type':'multipart/form-data'}
                    };
                    const data = new FormData();
                    data.append('name', this.newItem.name);
                    data.append('simulator', this.$route.params.id);
                    data.append('description', this.newItem.description);
                    data.append('picture', this.newItem.picture);
                    data.append('active', this.newItem.active);
                    if (this.newItem.price)
                        data.append('price', this.newItem.price);
                    API
                        .post('admin_pannel/create_lesson/', data, config)
                        .then(response => {
                            console.log(response);
                            this.$store.dispatch('getAllLessons', this.$route.params.id);
                            this.$bvModal.hide('modalright');
                            this.newItem = {
                                name: "",
                                active: true,
                                description: "",
                                picture:null,
                                price: null,
                            }
                        })
                        .catch(function (error) {
                            console.log(error)
                            if(error.response.status == 404)
                            {

                            }
                            if(error.response.status == 400)
                            {
                                this.$bvToast.toast('Симулятор не принадлежит пользователю', {
                                    title: 'Уведомление',
                                    variant: 'info',
                                    solid: true
                                })
                            }
                            if(error.response.status == 500)
                            {
                                this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                    title: 'Уведомление',
                                    variant: 'danger',
                                    solid: true
                                })
                            }
                            if(error.response.status == 401)
                            {
                                this.$store.dispatch('signOut');
                                this.$router.push('/user');
                                //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                            }
                        }.bind(this));

                }
            },
            hideModal(refname) {
                this.$refs[refname].hide();
            }
        },
        watch: {

        }
    };
</script>
<style lang="scss">
  .custom-file-input{
    cursor:pointer !important;
  }
</style>

