<template>
  <b-collapse :id="`questionCollapse${lesson.id}`" class="question-collapse">
    <div class="card-body pt-4">
      <div class="form-group mb-3">
        <label>Название</label>
        <b-input v-model="lesson.name" />
      </div>
      <div v-if="isNotOnboarding" class="form-group mb-5">
        <label>Описание</label>

        <editor
          api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
          v-model="lesson.description"
          :init="{
                 height: 250,
                 menubar: false,
                 images_upload_handler: upload_image,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | insertfile image | code | help',
               }"
        />
      </div>
      <div v-if="isNotOnboarding" class="form-group mb-5">
        <label>Доступен</label>
        <b-form-radio-group :id="getRadioId" v-model="lesson.active" :options="options" :name="getRadioId"></b-form-radio-group>
      </div>
      <div v-if="isNotOnboarding" class="form-group mb-5">
        <label>Изображение (Чтобы не менять оставьте поле незаполненным)</label>
        <croppa
          style="cursor: pointer"
          :width="220"
          :height="128"
          :quality="4"
          :disable-drag-to-move="false"
          :disable-scroll-to-zoom="true"
          :disable-pinch-to-zoom="true"
          :disable-rotation="true"
          :canvas-color="'#eee'"
          :remove-button-color="'#008ecc'"
          :remove-button-size="30"
          v-model="myCroppaImg">
        </croppa>
      </div>
      <div v-if="isNotOnboarding" class="form-group mb-5">
        <label>Цена</label>
        <b-input v-model="lesson.price" />
      </div>
      <div>
        <b-button variant="outline-secondary" @click="hideModal(lesson.id)">Отменить</b-button>
        <b-button variant="primary" @click="editLessonWithImg(lesson.id)" class="mr-1">Изменить</b-button>
      </div>
    </div>
  </b-collapse>
</template>

<script>
import Vue from 'vue'
import Croppa from 'vue-croppa';
import API from "Api";
import Editor from '@tinymce/tinymce-vue'
import { mapGetters } from 'vuex'

Vue.use(Croppa)

export default {
  name: "EditLesson",
  props: ["lesson", 'isNotOnboarding'],
  components: {
    Editor
  },
  data() {
    return {
      myCroppaImg: {},
      picture: null,
      options: [
        { text: "Да", value: true },
        { text: "Нет", value: false },
      ],
    };
  },
  computed: {
    ...mapGetters(['upload_image']),
    getRadioId(){
      return 'radio-group-lesson' + this.lesson.id.toString()
    }
  },
  mounted() {

  },
  methods: {
    hideModal(id) {
      this.$root.$emit("bv::toggle::collapse", `questionCollapse${id}`);
    },
    editLessonWithImg(id){
      this.myCroppaImg.generateBlob((blob) => {
        this.picture = new File([blob], this.lesson.name + id.toString() + '.jpg');
        this.changeLesson(id);
      }, 'image/jpeg', 0.8);
    },
    changeLesson(id) {
      if (id === 0) {
        this.hideModal(id);
      } else {
        const config = {
          headers: {
            Authorization: `Bearer ${this.$store.getters.currentUser}`,
            "Content-Type": "multipart/form-data",
          },
        };
        const data = new FormData();
        data.append("name", this.lesson.name);
        data.append("simulator", this.$route.params.id);
        data.append("description", this.lesson.description);
        if(this.myCroppaImg.chosenFile)
        {
          data.append("picture", this.picture);
        }
        data.append("active", this.lesson.active);
        data.append("price", this.lesson.price);
        API.patch("admin_pannel/lesson/" + id, data, config)
          .then((response) => {
            console.log(response);
            this.$store.dispatch("getAllLessons", this.$route.params.id);
            this.$root.$emit("bv::toggle::collapse", `questionCollapse${id}`);
            this.picture = null;
              this.$bvToast.toast('Урок изменен', {
                  title: 'Уведомление',
                  variant: 'info',
                  solid: true
              })
          })
          .catch(function (error) {
            console.log(error);
            if (error.response.status == 404) {

            }
            if (error.response.status == 400) {
              this.$bvToast.toast("Заполните все поля", {
                title: "Уведомление",
                variant: "info",
                solid: true,
              });
            }
            if(error.response.status == 500)
            {
                this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                    title: 'Уведомление',
                    variant: 'danger',
                    solid: true
                })
            }
            if (error.response.status == 401) {
                this.$store.dispatch('signOut');
                this.$router.push('/user');
              //ошибка токена. Пытается ломануть нас. Выкинуть на главную
            }
            if (error.response.status == 403) {
              this.$bvToast.toast("У вас нет прав для редактирования уроков", {
                title: "Уведомление",
                variant: "danger",
                solid: true,
              });
            }
          }.bind(this));
      }
    },
  },
};
</script>

<style scoped>
</style>
