<template>
  <b-row>
    <b-colxx class="disable-text-selection">
      <lesson-list-heading></lesson-list-heading>
      <template v-if="Array.isArray(getLessonsList)">
<!--          <div class="l-columns">-->
<!--            <div class="l-name">Название</div>-->
<!--            <div class="l-price">Цена</div>-->
<!--          </div>-->
          <Onboarding></Onboarding>
          <LessonCard></LessonCard>

      </template>
      <template v-else>
        <div class="loading"></div>
      </template>
    </b-colxx>
  </b-row>
</template>

<script>
    import API from 'Api';
    import Onboarding from "./Onboarding";
    import LessonListHeading from "../../../containers/my/LessonListHeading";
    import { mapGetters } from "vuex";
    import LessonCard from "./LessonCard";
    export default {
        name: "Lessons",
        components: {
            LessonListHeading,
            LessonCard,
            Onboarding
        },
        data(){
            return{
                areLessonsExisting: false
            }
        },
        computed: {
            ...mapGetters(['getLessonsList']),
            isLoad(){
                if (this.getLessonsList)
                    return true;
                else
                    return false
            }
        },
        methods: {

        },
        watch: {

        },
        mounted() {
            this.$store.dispatch('getAllLessons', this.$route.params.id);
        },
        beforeRouteLeave(to, from, next){
            this.$store.commit('setAllLessons', null);
            next();
        }
    }
</script>

<style scoped>
    .l-columns{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      padding-bottom: 20px;
      font-weight: bold;
      font-size: 13px;
    }
    .l-price{
      width: 40.5%;
      text-align: left;
    }
    .l-name{
      width: 57%;
    }
    @media (max-width: 1050px) {
      .l-name{
        width: 56%;
      }
    }
    @media (max-width: 900px) {
      .l-name{
        width: 55%;
      }
      /*.l-price{*/
      /*  width: 40%;*/
      /*}*/
    }
</style>
