<template>
  <draggable type="div" :list="getLessonsList" class="answers mb-3 sortable" @end="lessons = getLessonsList">
  <b-card no-body class="mb-2" v-for="(lesson,index) in getLessonsList" :key="index">
    <div class="position-relative d-flex flex-row justify-content-between align-items-center w-100">
    <div class="d-flex flex-row justify-content-left m-0 w-80" @click.prevent="toPages(lesson.id)">
      <img v-if="lesson.picture" :src="lesson.picture" style="cursor: pointer; width: 25% !important;" class="list-thumbnail h-100 responsive m-0 border-0"  :alt="lesson.name" />
      <div class="ml-2 d-flex flex-column justify-content-center align-items-left p-3 w-70" style="cursor: pointer">
        <h4><span class="align-middle h-100 responsive">{{ lesson.name}}</span></h4>
<!--        <div class="d-flex flex-row">-->
<!--          <h6><span class="align-left responsive">{{ lesson.description }}</span></h6>-->
<!--        </div>-->
      </div>
      <div class="ml-4 d-flex flex-column justify-content-center align-items-left p-3 w-70">
        <h6 class="align-right responsive m-4">{{ lesson.price }}</h6>
      </div>
    </div>
      <div class="mr-3">
        <b-button variant="outline-theme-3" class="icon-button rotate-icon-click rotate"
                  @click="toggleItem(lesson)"
        >
          <i class="simple-icon-pencil"></i>
        </b-button>
        <b-button variant="outline-theme-3" class="icon-button rotate-icon-click rotate"
                  @click="showModal(lesson.id)"
        >
          <i class="simple-icon-trash"></i>
        </b-button>
      </div>
    </div>
    <EditLesson :lesson="lesson" :is-not-onboarding="true"></EditLesson>
    <b-modal :id="'my-modal-lesson' + lesson.id" centered hide-footer hide-header>
      <div class="d-block text-center">
        <h3>Вы действительно хотите удалить урок?</h3>
      </div>
      <div class="d-flex flex-row justify-content-center mt-5">
        <b-button class="mr-2 w-40" variant="outline-secondary" block @click="hideModal(lesson.id)">Отменить</b-button>
        <b-button class="m-0 w-40" variant="primary" block @click="deleteItem(lesson.id)">Удалить</b-button>
      </div>
    </b-modal>
  </b-card>
  </draggable>
</template>

<script>
    import API from 'Api';
    import { mapGetters } from "vuex";
    import Draggable from 'vuedraggable';
    import EditLesson from "./EditLesson";
    export default {
        name: "LessonCard",
        components: {
            Draggable,
            EditLesson
        },
        data() {
            return {
                lessons: []
            }
        },
        computed: {
            ...mapGetters(['getLessonsList'])
        },
        methods: {
            showModal(id) {
                this.$bvModal.show('my-modal-lesson' + id)
            },
            hideModal(id) {
                this.$bvModal.hide('my-modal-lesson' + id)
            },
            toPages(id){
                this.$router.push(`lesson/${id}/pages`)
            },
            toggleItem(lesson){
                this.$root.$emit('bv::toggle::collapse', `questionCollapse${lesson.id}`);
            },
            deleteItem(id){
                const config = {
                    headers: { Authorization: `Bearer ${this.$store.getters.currentUser}`}
                };
                API
                    .delete('admin_pannel/lesson/' + id, config)
                    .then(response => {
                        console.log(response);
                        this.$store.dispatch('getAllLessons', this.$route.params.id);
                        this.hideModal(id)
                    })
                    .catch(function (error) {
                        console.log(error)
                        if(error.response.status == 404)
                        {

                        }
                        if(error.response.status == 500)
                        {
                            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if(error.response.status == 401)
                        {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');
                            //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                        }
                        if (error.response.status == 403){
                            this.$bvToast.toast('У вас нет прав для удаления уроков', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                    }.bind(this))
            }
        },
        watch: {
            lessons: function(newLessons){
                console.log('new', newLessons);
                let lessonIds = [];
                const config = {
                    headers: { Authorization: `Bearer ${this.$store.getters.currentUser}`}
                };
                newLessons.forEach(function (item) {
                    lessonIds.push(item.id);
                });
                API
                    .post('admin_pannel/change_lessons_order/' + this.$route.params.id, {'lesson_id_list': lessonIds}, config)
                    .then(response => {
                        console.log(response);
                        this.$store.dispatch('getAllLessons', this.$route.params.id)
                    })
                    .catch(function (error) {
                        console.log(error);
                        if(error.response.status == 404)
                        {

                        }
                        if(error.response.status == 401)
                        {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');

                        }
                        if(error.response.status == 403)
                        {
                            this.$bvToast.toast('У вас нет прав для изменения порядка уроков', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if(error.response.status == 500)
                        {
                            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if(error.response.status == 400)
                        {
                            console.log(error.response.status, 'lesson_id_list does not contain all lessons of given simulator');
                        }
                    })
            }
        },
        mounted() {
            // this.$store.dispatch('getAllLessons', this.$route.params.id);
        }
    }
</script>

<style scoped>

</style>
