<template>
  <b-card no-body class="mb-2" >
    <div class="position-relative d-flex flex-row justify-content-between align-items-center w-100" style="height:85px;">
      <div class="d-flex flex-row justify-content-left m-0">
        
        <div class="ml-4 d-flex flex-column justify-content-center">
          <h4><span class="align-middle responsive" style="cursor: pointer" @click="toZeroPage()" >{{ onboarding.name }}</span></h4>
        </div>
      </div>
      <div class="mr-3">
        <b-button variant="outline-theme-3" class="icon-button rotate-icon-click rotate"
                  @click="toggleItem(onboarding)"
        >
          <i class="simple-icon-pencil"></i>
        </b-button>
      </div>
    </div>
    <EditLesson :lesson="onboarding" :is-not-onboarding="false"></EditLesson>
  </b-card>
</template>

<script>
  import EditLesson from "./EditLesson";
  import {mapGetters} from 'vuex'
    export default {
        name: "Onboarding",
        components: {
            EditLesson
        },
        data() {
            return{
                onboarding: {
                    id: 0,
                    name: "Onboarding",
                    active: true,
                    description: "Onboarding",
                    price: 10000,
                },
            }
        },
        computed: {
            ...mapGetters(['getSimulatorsList']),
            getOnboardingId(){
                return this.getSimulatorsList.filter(item => {
                    return item.id == this.$route.params.id;
                })[0]
            }
        },
        methods: {
            toggleItem(lesson){
                this.$root.$emit('bv::toggle::collapse', `questionCollapse${lesson.id}`);
            },
            toZeroPage(){
                console.log(this.getOnboardingId.onboarding.id)
                this.$router.push('onboarding/page/' + this.getOnboardingId.onboarding.id);
            }
        },
        mounted() {
            this.$store.dispatch('getAllSimulators');
        }
    }
</script>

<style scoped>

</style>
