<template>
  <b-card class="mb-4">
    <h4 class="mb-3">Добавить safe_text</h4>
    <b-form>
      <b-form-group label="Текст *">
<!--        <quill-editor ref="myTextEditor"-->
<!--                      v-model="newItem.text"-->
<!--                      :options="editorOption">-->
<!--        </quill-editor>-->
        <editor
          api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
          v-model="newItem.text"
          :init="{
                 height: 250,
                 menubar: false,
                 images_upload_handler: upload_image,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | image | code | help'
               }"
        />
      </b-form-group>
    </b-form>
    <div class="mb-2">* обязательные поля</div>
    <template>
      <b-button
        variant="outline-secondary"
        @click.prevent="changeAddType"
      >Отменить</b-button>
      <b-button variant="primary" @click.prevent="addSafeText" class="mr-1">Добавить</b-button>
    </template>
  </b-card>
</template>

<script>
    import 'quill/dist/quill.core.css'
    import 'quill/dist/quill.snow.css'
    import 'quill/dist/quill.bubble.css'
    import { quillEditor } from 'vue-quill-editor'
    import "vue-select/dist/vue-select.css";
    import { mapGetters } from 'vuex'
    import API from 'Api'
    import Editor from '@tinymce/tinymce-vue'

    export default {
        name: "addSafeText",
        components: {
            quillEditor,
            Editor
        },
        data() {
            return {
                newItem: {
                    text: ''
                },
                selectedChapter: null,
                editorOption: {
                    modules: {
                        toolbar: [
                            ['bold', 'italic', 'underline', 'strike'],
                            ['blockquote', 'code-block'],
                            [{ 'header': 1 }, { 'header': 2 }],
                            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                            [{ 'script': 'sub' }, { 'script': 'super' }],
                            [{ 'indent': '-1' }, { 'indent': '+1' }],
                            [{ 'direction': 'rtl' }],
                            [{ 'size': ['small', false, 'large', 'huge'] }],
                            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                            [{ 'font': [] }],
                            [{ 'color': [] }, { 'background': [] }],
                            [{ 'align': [] }],
                            ['clean'],
                            ['link', 'image', 'video']
                        ]
                    }
                },
            }
        },
        computed: {
           ...mapGetters(['upload_image'])
        },
        methods: {
            changeAddType(){
                this.$store.dispatch('getNewAddType', '');
            },
            addSafeText(){
                const config = {
                    headers: { Authorization: `Bearer ${this.$store.getters.currentUser}`, 'Content-Type':'multipart/form-data'}
                };
                if (!this.newItem.text){
                    this.$bvToast.toast('Заполните все обязательные поля', {
                        title: 'Уведомление',
                        variant: 'danger',
                        solid: true
                    })
                }
                else {
                    const data = new FormData();
                    data.append('simulator', this.$route.params.id);
                    data.append('page_id', this.$route.params.page_id);
                    data.append('text', this.newItem.text);
                    API
                        .post('admin_pannel/create_save_text/', data, config)
                        .then(response => {
                            console.log(response);
                            this.$store.dispatch('getAllBlocks', this.$route.params.page_id);
                            this.changeAddType()
                        })
                        .catch(function (error) {
                            console.log(error)
                            if(error.response.status == 404)
                            {

                            }
                            if(error.response.status == 400)
                            {
                                this.$bvToast.toast('Симулятор не принадлежит пользователю', {
                                    title: 'Уведомление',
                                    variant: 'info',
                                    solid: true
                                })
                            }
                            if(error.response.status == 500)
                            {
                                this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                    title: 'Уведомление',
                                    variant: 'danger',
                                    solid: true
                                })
                            }
                            if(error.response.status == 401)
                            {
                                this.$store.dispatch('signOut');
                                this.$router.push('/user');
                                //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                            }
                        })
                }
            }
        }
    }
</script>

<style scoped>

</style>
