<template>
  <b-card no-body class="mb-2 p-3">
    <div class="position-relative d-flex flex-row justify-content-between align-items-center w-100">
      <div class="d-flex flex-row justify-content-left m-0">
        <div class="ml-4 d-flex flex-column justify-content-center">
          <h6 style="font-weight: bold">Safe text</h6>
          <span class="align-middle responsive" v-html="safe_text.text"></span>
        </div>
      </div>
      <div class="mr-3">
        <b-button variant="outline-theme-3" class="icon-button rotate-icon-click rotate"
                  @click="toggleItem(safe_text.id)"
        >
          <i class="simple-icon-pencil"></i>
        </b-button>
        <b-button variant="outline-theme-3" class="icon-button rotate-icon-click rotate"
                  @click="showModal"
        >
          <i class="simple-icon-trash"></i>
        </b-button>
      </div>
    </div>
    <b-collapse :id="`safeTextCollapse${safe_text.id}`" class="question-collapse">
      <div class="card-body pt-4">
        <b-form>
          <b-form-group label="Текст *">
<!--            <quill-editor ref="myTextEditor"-->
<!--                          v-model="safe_text.text"-->
<!--                          :options="editorOption">-->
<!--            </quill-editor>-->
            <editor
              api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
              v-model="safe_text.text"
              :init="{
                 height: 250,
                 menubar: false,
                 images_upload_handler: upload_image,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | image | code | help'
               }"
            />
          </b-form-group>
        </b-form>
        <div class="mb-2">* обязательные поля</div>
        <template>
          <b-button
            variant="outline-secondary"
            @click="toggleItem(safe_text.id)"
          >Отменить</b-button>
          <b-button variant="primary" @click="editSafeText" class="mr-1">Изменить</b-button>
        </template>
      </div>
    </b-collapse>
    <b-modal :id="'my-modal-st' + safe_text.id" centered hide-footer hide-header>
      <div class="d-block text-center">
        <h3>Вы действительно хотите удалить safe text?</h3>
      </div>
      <div class="d-flex flex-row justify-content-center mt-5">
        <b-button class="mr-2 w-40" variant="outline-secondary" block @click="hideModal">Отменить</b-button>
        <b-button class="m-0 w-40" variant="primary" block @click="deleteSafeText">Удалить</b-button>
      </div>
    </b-modal>
  </b-card>
</template>

<script>
    import API from 'Api';
    import 'quill/dist/quill.core.css'
    import 'quill/dist/quill.snow.css'
    import 'quill/dist/quill.bubble.css'
    import { quillEditor } from 'vue-quill-editor'
    import Editor from '@tinymce/tinymce-vue'
    import { mapGetters } from 'vuex'

    export default {
        name: "SaveTextBlock",
        props: ['safe_text'],
        components: {
            quillEditor,
            Editor
        },
        data(){
            return {
                editorOption: {
                    modules: {
                        toolbar: [
                            ['bold', 'italic', 'underline', 'strike'],
                            ['blockquote', 'code-block'],
                            [{ 'header': 1 }, { 'header': 2 }],
                            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                            [{ 'script': 'sub' }, { 'script': 'super' }],
                            [{ 'indent': '-1' }, { 'indent': '+1' }],
                            [{ 'direction': 'rtl' }],
                            [{ 'size': ['small', false, 'large', 'huge'] }],
                            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                            [{ 'font': [] }],
                            [{ 'color': [] }, { 'background': [] }],
                            [{ 'align': [] }],
                            ['clean'],
                            ['link', 'image', 'video']
                        ]
                    }
                },
            }
        },
        computed: {
            ...mapGetters(['upload_image'])
        },
        methods: {
            showModal() {
                this.$bvModal.show('my-modal-st' + this.safe_text.id)
            },
            hideModal() {
                this.$bvModal.hide('my-modal-st' + this.safe_text.id)
            },
            editSafeText(){
                const config = {
                    headers: { Authorization: `Bearer ${this.$store.getters.currentUser}`, 'Content-Type':'multipart/form-data'}
                };
                if (!this.safe_text.text){
                    this.$bvToast.toast('Заполните все обязательные поля', {
                        title: 'Уведомление',
                        variant: 'danger',
                        solid: true
                    })
                }
                else{
                    const data = new FormData();
                    data.append('simulator', this.$route.params.id);
                    data.append('text', this.safe_text.text);
                    data.append('page_id', this.$route.params.page_id);
                    API
                        .put('admin_pannel/save_text_detail/' + this.safe_text.id, data, config)
                        .then(response => {
                            console.log(response);
                            this.$store.dispatch('getAllBlocks', this.$route.params.page_id);
                            this.toggleItem(this.safe_text.id)
                            this.$bvToast.toast('Safe text изменен', {
                                title: 'Уведомление',
                                variant: 'info',
                                solid: true
                            })
                        })
                        .catch(function (error) {
                            console.log(error)
                            if(error.response.status == 404)
                            {

                            }
                            if(error.response.status == 400)
                            {
                                this.$bvToast.toast('Симулятор не принадлежит пользователю', {
                                    title: 'Уведомление',
                                    variant: 'info',
                                    solid: true
                                })
                            }
                            if(error.response.status == 401)
                            {
                                this.$store.dispatch('signOut');
                                this.$router.push('/user');
                                //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                            }
                        })
                }
            },
            toggleItem(id){
                this.$root.$emit('bv::toggle::collapse', `safeTextCollapse${id}`);
            },
            deleteSafeText(){
                const config = {
                    headers: { Authorization: `Bearer ${this.$store.getters.currentUser}`}
                };
                API
                    .delete('admin_pannel/delete_save_text/' + this.safe_text.id, config)
                    .then(response => {
                        this.hideModal();
                        this.$store.dispatch('getAllBlocks', this.$route.params.page_id);
                    })
                    .catch(function (error) {
                        console.log(error)
                        if(error.response.status == 404)
                        {

                        }
                        if(error.response.status == 500)
                        {
                            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if(error.response.status == 401)
                        {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');
                            //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                        }
                    })
            }
        }
    }
</script>

<style scoped>

</style>
