<template>
  <b-modal
    id="modalright"
    ref="modalright"
    title="Добавить персонажа"
    modal-class="modal-right"
  >
    <b-form @submit.prevent="addPersonWithAvatar">
      <b-form-group label="Имя *">
        <b-form-input v-model="newItem.first_name" />
      </b-form-group>
      <b-form-group label="Фамилия *">
        <b-form-input v-model="newItem.last_name" />
      </b-form-group>
      <b-form-group label="Роль *">
        <b-form-input v-model="newItem.default_role" />
      </b-form-group>
      <b-form-group label="Пол">
        <b-form-radio-group
          id="radio-group-1"
          v-model="newItem.male"
          :options="options"
          name="radio-options"
        ></b-form-radio-group>
      </b-form-group>
      <b-form-group label="Изображение (220х220) *">
<!--        <b-form-file-->
<!--          v-model="newItem.avatar"-->
<!--          placeholder="Choose a file or drop it here..."-->
<!--          drop-placeholder="Drop file here..."-->
<!--        ></b-form-file>-->
        <croppa
          style="cursor: pointer;"
          :width="110"
          :height="110"
          :quality="2"
          :image-border-radius="115"
          prevent-white-space
          :disable-drag-to-move="false"
          :disable-scroll-to-zoom="false"
          :disable-pinch-to-zoom="true"
          :disable-rotation="true"
          :canvas-color="'#eee'"
          :remove-button-color="'#008ecc'"
          :remove-button-size="30"
          v-model="myCroppaAvatar">
        </croppa>
      </b-form-group>
    </b-form>
    <div class="mb-2">* обязательные поля</div>

    <template slot="modal-footer">
      <b-button
        variant="outline-secondary"
        @click="hideModal('modalright')"
      >Отменить</b-button>
      <b-button variant="primary" @click="addPersonWithAvatar" class="mr-1">Добавить</b-button>
    </template>
  </b-modal>
</template>

<script>
    import API from 'Api'
    import Croppa from 'vue-croppa';
    import Vue from 'vue'

    Vue.use(Croppa)

    export default {
        name: "addPerson",
        components: {

        },
        data(){
            return {
                newItem: {
                    first_name: '',
                    last_name: '',
                    avatar: null,
                    male: null,
                    default_role: '',
                    is_user: false
                },
                options: [
                    {text: 'Male', value: true},
                    {text: 'Female', value: false}
                ],
                myCroppaAvatar: {}
            }
        },
        methods: {
            addPersonWithAvatar(){
                this.myCroppaAvatar.generateBlob((blob) => {
                    this.newItem.avatar = new File([blob], this.newItem.first_name + '_' + this.newItem.last_name + '.png');
                    this.addPerson();
                }, 'image/png', 0.8);
            },
            addPerson(){
                const config = {
                    headers: { Authorization: `Bearer ${this.$store.getters.currentUser}`, 'Content-Type':'multipart/form-data'}
                };
                if (!this.newItem.first_name || !this.newItem.last_name || !this.newItem.default_role || !this.newItem.avatar){
                    this.$bvToast.toast('Заполните все обязательные поля', {
                        title: 'Уведомление',
                        variant: 'danger',
                        solid: true
                    })
                }
                else{
                    const data = new FormData();
                    data.append('simulator', this.$route.params.id);
                    data.append('first_name', this.newItem.first_name);
                    data.append('last_name', this.newItem.last_name);
                    data.append('default_role', this.newItem.default_role);
                    data.append('avatar', this.newItem.avatar);
                    if (this.newItem.male)
                        data.append('male', this.newItem.male);
                    data.append('is_user', this.newItem.is_user);
                    API
                        .post('admin_pannel/create_character/', data, config)
                        .then(response => {
                            this.$store.dispatch('getAllPersons', this.$route.params.id);
                            this.hideModal('modalright');
                            this.newItem = {
                                first_name: '',
                                last_name: '',
                                avatar: null,
                                male: null,
                                default_role: '',
                                is_user: false
                            }
                        })
                        .catch(function (error) {
                            console.log(error)
                            if(error.response.status == 404)
                            {

                            }
                            if(error.response.status == 400)
                            {
                                this.$bvToast.toast('Симулятор не принадлежит пользователю', {
                                    title: 'Уведомление',
                                    variant: 'info',
                                    solid: true
                                })
                            }
                            if(error.response.status == 500)
                            {
                                this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                    title: 'Уведомление',
                                    variant: 'danger',
                                    solid: true
                                })
                            }
                            if(error.response.status == 401)
                            {
                                this.$store.dispatch('signOut');
                                this.$router.push('/user');
                                //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                            }
                        })
                }
            },
            hideModal(refname) {
                this.$refs[refname].hide();
            }
        }
    }
</script>

<style scoped>
  .croppa-container {
    border-radius: 55px;
  }
</style>
