<template>
  <b-row>
    <b-colxx class="disable-text-selection">
      <h1>Персонажи</h1>
      <div class="top-right-button-container">
        <b-button
          v-b-modal.modalright
          variant="primary"
          size="lg"
          class="top-right-button"
        >Создать</b-button>
      <add-person></add-person>
      </div>
      <div class="separator mb-5" />
      <div v-for="(person, index) in getPersons" :key="index">
        <PersonBlock :person="person"></PersonBlock>
      </div>
    </b-colxx>
  </b-row>
</template>

<script>
    import { mapGetters } from 'vuex';
    import PersonBlock from "./PersonBlock";
    import addPerson from "./addPerson";
    export default {
        name: "AllPersons",
        components: {
            PersonBlock,
            addPerson
        },
        computed: {
            ...mapGetters(['getPersons'])
        },
        methods: {

        },
        mounted() {
            this.$store.dispatch('getAllPersons', this.$route.params.id)
        },
        beforeRouteLeave(to, from, next){
            this.$store.commit('setAllPersons', []);
            next();
        }
    }
</script>

<style scoped>

</style>
