<template>
  <b-collapse :id="`personCollapse${person.id}`" class="question-collapse">
    <div class="card-body pt-4">
      <b-form>
        <b-form-group label="Имя *">
          <b-form-input v-model="person.first_name" />
        </b-form-group>
        <b-form-group label="Фамилия *">
          <b-form-input v-model="person.last_name" />
        </b-form-group>
        <b-form-group label="Роль *">
          <b-form-input v-model="person.default_role" />
        </b-form-group>
        <b-form-group label="Пол">
          <b-form-radio-group
            :id="person.id.toString()"
            v-model="person.male"
            :options="options"
            name="radio-options"
          ></b-form-radio-group>
        </b-form-group>
        <b-form-group label="Изображение (220х220)">
<!--          <b-form-file-->
<!--            v-model="image"-->
<!--            placeholder="Choose a file or drop it here..."-->
<!--            drop-placeholder="Drop file here..."-->
<!--          ></b-form-file>-->
          <croppa
            style="cursor: pointer"
            :width="110"
            :height="110"
            :quality="2"
            :image-border-radius="115"
            prevent-white-space
            :disable-drag-to-move="false"
            :disable-scroll-to-zoom="false"
            :disable-pinch-to-zoom="true"
            :disable-rotation="true"
            :canvas-color="'#eee'"
            :remove-button-color="'#008ecc'"
            :remove-button-size="30"
            v-model="image">
          </croppa>
        </b-form-group>
      </b-form>
      <div class="mb-2">* обязательные поля</div>
      <template>
        <b-button
          variant="outline-secondary"
          @click="toggleItem(person.id)"
        >Отменить</b-button>
        <b-button variant="primary" @click="editPersonWithAvatar()" class="mr-1">Изменить</b-button>
      </template>
    </div>
  </b-collapse>
</template>

<script>
    import API from 'Api'
    import Croppa from 'vue-croppa';
    import Vue from 'vue'

    Vue.use(Croppa)


    export default {
        name: "EditPerson",
        props: ['person'],
        components: {

        },
        data() {
            return {
                options: [
                    {text: 'Male', value: true},
                    {text: 'Female', value: false}
                ],
                image: null,
                avatar: {}
            }
        },
        methods: {
            toggleItem(id){
                this.$root.$emit('bv::toggle::collapse', `personCollapse${id}`);
            },
            editPersonWithAvatar(){
                this.image.generateBlob((blob) => {
                    this.avatar = new File([blob], this.person.first_name + '_' + this.person.last_name + '.png');
                    this.editPerson();
                }, 'image/png', 0.8);
            },
            editPerson(){
                const config = {
                    headers: { Authorization: `Bearer ${this.$store.getters.currentUser}`, 'Content-Type':'multipart/form-data'}
                };
                if (!this.person.first_name || !this.person.last_name || !this.person.default_role){
                    this.$bvToast.toast('Заполните все обязательные поля', {
                        title: 'Уведомление',
                        variant: 'danger',
                        solid: true
                    })
                }
                else{
                    const data = new FormData();
                    data.append('simulator', this.$route.params.id);
                    data.append('first_name', this.person.first_name);
                    data.append('last_name', this.person.last_name);
                    data.append('default_role', this.person.default_role);
                    if (this.image.chosenFile)
                      data.append('avatar', this.avatar);
                    if (this.person.male)
                        data.append('male', this.person.male);
                    data.append('is_user', this.person.is_user);
                    API
                        .put('admin_pannel/character_detail/' + this.person.id, data, config)
                        .then(response => {
                            console.log(999999999)
                            this.$store.dispatch('getAllPersons', this.$route.params.id);
                            this.toggleItem(this.person.id);
                            this.$bvToast.toast('Персонаж изменен', {
                                title: 'Уведомление',
                                variant: 'info',
                                solid: true
                            })
                        })
                        .catch(function (error) {
                            console.log(error)
                            if(error.response.status == 404)
                            {

                            }
                            if(error.response.status == 400)
                            {
                                this.$bvToast.toast('Симулятор не принадлежит пользователю', {
                                    title: 'Уведомление',
                                    variant: 'info',
                                    solid: true
                                })
                            }
                            if(error.response.status == 500)
                            {
                                this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                    title: 'Уведомление',
                                    variant: 'danger',
                                    solid: true
                                })
                            }
                            if(error.response.status == 401)
                            {
                                this.$store.dispatch('signOut');
                                this.$router.push('/user');
                                //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                            }
                        })
                }
            }
        }
    }
</script>

<style scoped>
  .croppa-container {
    border-radius: 55px;
  }
</style>
