<template>
  <b-card no-body class="mb-2 p-3">
    <div class="position-relative d-flex flex-row justify-content-between align-items-center" style="width: 100%">
      <div class="d-flex flex-row justify-content-left m-0">
        <img :src="person.avatar" v-if="person.avatar" style="width: 80px; height: 80px; border-radius: 40px; background-size: cover; margin: 10px 0 20px 10px" :alt="person.first_name"/>
        <div class="ml-4 d-flex flex-column justify-content-center">
          <h4><span class="align-middle responsive">{{ person.first_name }} {{ person.last_name}}</span></h4>
          <h6 v-if="typeof person.male != 'object'"><span class="align-middle responsive">Роль: {{ person.default_role }} Пол: {{ sex }}</span></h6>
          <h6 v-else><span class="align-middle responsive">Роль: {{ person.default_role }}</span></h6>
        </div>
      </div>
      <div class="mr-3">
        <b-button v-if="!person.is_user" variant="outline-theme-3" class="icon-button rotate-icon-click rotate"
                  @click="toggleItem(person.id)"
        >
          <i class="simple-icon-pencil"></i>
        </b-button>
        <b-button variant="outline-theme-3" class="icon-button rotate-icon-click rotate"
                  @click="showModal"
        >
          <i class="simple-icon-trash"></i>
        </b-button>
      </div>
    </div>
  <EditPerson :person="person"></EditPerson>
  <b-modal :id="'my-modal-person' + person.id" centered hide-footer hide-header>
    <div class="d-block text-center">
      <h3>Вы действительно хотите удалить персонажа?</h3>
    </div>
    <div class="d-flex flex-row justify-content-center mt-5">
      <b-button class="mr-2 w-40" variant="outline-secondary" block @click="hideModal">Отменить</b-button>
      <b-button class="m-0 w-40" variant="primary" block @click="deleteItem(person.id)">Удалить</b-button>
    </div>
  </b-modal>
  </b-card>
</template>

<script>
    import EditPerson from "./EditPerson";
    import API from 'Api'
    export default {
        name: "PersonBlock",
        components: {
            EditPerson
        },
        props: ['person'],
        computed: {
            sex(){
                return this.person.male ? 'мужской': 'женский'
            }
        },
        methods: {
            showModal() {
                this.$bvModal.show('my-modal-person' + this.person.id)
            },
            hideModal() {
                this.$bvModal.hide('my-modal-person' + this.person.id)
            },
            toggleItem(id){
                this.$root.$emit('bv::toggle::collapse', `personCollapse${id}`);
            },
            deleteItem(id){
                const config = {
                    headers: { Authorization: `Bearer ${localStorage.getItem('user')}`}
                };
                API
                    .delete('admin_pannel/delete_character/' + id, config)
                    .then(response => {
                        console.log(response);
                        this.hideModal();
                        this.$store.dispatch('getAllPersons', this.$route.params.id)
                    })
                    .catch(function (error) {
                        console.log(error)
                        if(error.response.status == 404)
                        {

                        }
                        if(error.response.status == 500)
                        {
                            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if(error.response.status == 401)
                        {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');
                            //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                        }
                    })
            }
        }
    }
</script>

<style scoped>

</style>
