<template>
<b-row class="h-100">
    <b-colxx xxs="12" md="6" class="mx-auto my-auto">
        <b-card class="auth-card" no-body>
            
            <div class="form-side" style="width:100% !important">
                <router-link tag="a" to="/">
                    <span class="logo-single" />
                </router-link>
                <h6 class="mb-4">Войти</h6>

                <b-form @submit.prevent="formSubmit" class="av-tooltip tooltip-label-bottom">
                    <b-form-group :label="$t('user.email')" class="has-float-label mb-4">
                        <b-form-input type="text" v-model="form.email" />
                        
                    </b-form-group>

                    <b-form-group :label="$t('user.password')" class="has-float-label mb-4">
                        <b-form-input type="password" v-model="form.password"  />
                        
                    </b-form-group>
                    <div class="d-flex justify-content-between align-items-center">
                        <div>
                            <router-link tag="a" to="/user/forgot-password">Забыли пароль?</router-link><br>
                            <router-link tag="a" to="/user/register" >Зарегистрироваться</router-link>
                        </div>
                        
                        <b-button type="submit" variant="primary" size="lg" :disabled="processing" :class="{'btn-multiple-state btn-shadow': true,
                    'show-spinner': processing,
                    'show-success': !processing && loginError===false,
                    'show-fail': !processing && loginError }">
                            <span class="spinner d-inline-block">
                                <span class="bounce1"></span>
                                <span class="bounce2"></span>
                                <span class="bounce3"></span>
                            </span>
                            <span class="icon success">
                                <i class="simple-icon-check"></i>
                            </span>
                            <span class="icon fail">
                                <i class="simple-icon-exclamation"></i>
                            </span>
                            <span class="label">Войти</span>
                        </b-button>
                    </div>
                </b-form>
            </div>
        </b-card>
    </b-colxx>
</b-row>
</template>

<script>
import API from "@/api";
import {
    mapGetters,
    mapActions
} from "vuex";


export default {
    data() {
        return {
            form: {
                email: "",
                password: ""
            },
        };
    },
    mounted(){
        
    },
    computed: {
        ...mapGetters(["currentUser", "processing", "loginError"])
    },
    methods: {
        ...mapActions(["login"]),
        formSubmit() {
            this.login({
                email: this.form.email,
                password: this.form.password
            });
            
        }
    },
    watch: {
        currentUser(val) {
            if (val &&  val.length > 0) {
                setTimeout(() => {
                    this.$router.push("/my/simulators");
                }, 200);
            }
        },
        loginError(val) {
            if (val != null) {
                this.$notify("error", "Login Error", val, {
                    duration: 3000,
                    permanent: false
                });

            }
        }
    }
};
</script>
<style>
.logo-single
{
    background-position: left center !important;
}
</style>