<template>
  <b-row class="h-100">
    <b-colxx xxs="12" md=6  class="mx-auto my-auto">
      <b-card class="auth-card" no-body>

          <div class="form-side" style="width:100%;">
            <router-link tag="a" to="/"><span class="logo-single"/></router-link>
            <h6 class="mb-4">Зарегистрироваться</h6>
            <b-form @submit.prevent="formSubmit">

              <label class="form-group has-float-label mb-4">
                <input type="email" class="form-control" v-model="email">
                <span>{{ $t('user.email') }}</span>
              </label>
              <label class="form-group has-float-label mb-4">
                <input type="password" class="form-control" v-model="password">
                <span>{{ $t('user.password') }}</span>
              </label>
              <div class="d-flex justify-content-between align-items-center">
                <div>
                    <router-link tag="a" to="/user/forgot-password">Забыли пароль?</router-link><br>
                    <router-link tag="a" to="/user/login" >Войти</router-link>
                </div>
                  <b-button type="submit" variant="primary" size="lg" class="btn-shadow">Зарегистрироваться</b-button>
              </div>
          </b-form>
        </div>
      </b-card>
    </b-colxx>
  </b-row>
</template>
<script>
import API from "@/api";
export default {
  data () {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    formSubmit () {

      const data = new FormData();
      data.append("email", this.email);
      data.append("username", this.email);
      data.append("password", this.password);
      if (!this.email || !this.password){
          this.$bvToast.toast('Заполните все поля', {
              title: 'Уведомление',
              variant: 'info',
              solid: true
          })
      }
      API.post("admin_pannel/signup/", data).then(response => {
        this.$bvToast.toast('Вы успешно зарегистрировались', {
            title: 'Теперь вы можете войти!',
            variant: 'success',
            solid: true
        })


      })
      .catch(function (error) {
        if(error.response.status == 404)
        {

        }
        if(error.response.status == 401)
        {


        }
        if(error.response.status == 500)
        {
          this.$bvToast.toast('Такая почта уже есть', {
            title: 'Ошибка',
            variant: 'danger',
            solid: true
        })
        }

      }.bind(this));
    }
  }
}
</script>
