<template>
  <home-layout>
    <p>Тут будет LP</p>
    <b-button variant="success" @click="to_login">Вход</b-button>
    <b-button variant="outline-primary" @click="to_reg">Регистрация</b-button>
  </home-layout>
</template>

<script>
import HomeLayout from "../../layouts/HomeLayout";
import { mapGetters } from 'vuex';

export default {
  components: {
    "home-layout": HomeLayout
  },
  mounted(){
    console.log(this.currentUser)
  },
  computed: {
    // смешиваем результат mapGetters с внешним объектом computed
    ...mapGetters([
      'currentUser'
    ])
  },
  methods:{
    to_login()
    {
      this.$router.push('/user/login')
    }, 
    to_reg()
    {
      this.$router.push('/user/register')
    }
  }
};
</script>
