<template>
  <b-card>
    <h4 v-if="getAddType == 'addQuestion'" class="mb-3">Добавить вопрос</h4>
    <h4 v-else class="mb-3">Добавить вопрос теста</h4>
    <b-form>
      <b-form-group label="Тип вопроса">
        <b-form-input v-model="newItem.title">
        </b-form-input>
      </b-form-group>
      <b-form-group label="Текст *">
        <b-form-input v-model="newItem.text">
        </b-form-input>
      </b-form-group>
      <b-form-group label="Описание">
        <editor
          api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
          v-model="newItem.text_description"
          :init="{
                 height: 250,
                 menubar: false,
                 images_upload_handler: upload_image,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | image | code | help'
               }"
        />
      </b-form-group>
      <b-form-group v-if="getAddType == 'addQuestion'" label="Множественный выбор">
        <b-form-radio-group
          id="radio-m-a"
          v-model="newItem.multiply_answer"
          :options="options_multiply_answer"
          name="radio-m-a">
        </b-form-radio-group>
      </b-form-group>


      <b-form-group v-if="newItem.multiply_answer" label="Комментарий для верного выбора">
        <editor
          api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
          v-model="newItem.all_right_comment"
          :init="{
                 height: 250,
                 menubar: false,
                 images_upload_handler: upload_image,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | image | code | help'
               }"
        />
      </b-form-group>
      <b-form-group v-if="newItem.multiply_answer" label="Комментарий для неверного выбора">
        <editor
          api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
          v-model="newItem.not_all_right_comment"
          :init="{
                 height: 250,
                 menubar: false,
                 images_upload_handler: upload_image,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | image | code | help'
               }"
        />
      </b-form-group>


      <div v-for="(answer, index) in newItem.answers" :key="index">
        <div v-if="index == 0" class="separator mb-3 mt-4" />
        <div class="mb-2">Ответ {{index + 1}}</div>
        <b-form-group label="Текст ответа *">
          <b-form-input v-model="answer.text">
          </b-form-input>
        </b-form-group>
        <b-form-group label="Текст ответа для женского персонажа">
          <b-form-input v-model="answer.female_text">
          </b-form-input>
        </b-form-group>
        <b-form-group>
          <b-form-radio-group
            :id="index.toString()"
            v-model="answer.is_correct"
            :options="options"
            :name="index.toString()"
          ></b-form-radio-group>
        </b-form-group>
        <b-form-group v-if="!newItem.multiply_answer" label="Комментарий *">
          <editor
            api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
            v-model="answer.comment"
            :init="{
                 height: 250,
                 menubar: false,
                 images_upload_handler: upload_image,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | image | code | help'
               }"
          />
        </b-form-group>
        <b-button v-if="newItem.answers.length > 1" variant="outline-secondary" @click.prevent="delAnswer(index)" class="mr-1 mb-4 mt-2">Удалить ответ</b-button>
        <div class="separator mb-3 mt-2" />
      </div>
      <b-button variant="outline-secondary" @click.prevent="appendAnswer" class="mr-1 mb-4 mt-2">Добавить ответ</b-button>
    </b-form>
    <div class="mb-2">* обязательные поля</div>
    <template>
      <b-button
        variant="outline-secondary"
        @click.prevent="changeType"
      >Отменить</b-button>
      <b-button variant="primary" @click="addQuestion" class="mr-1">Добавить</b-button>
    </template>
  </b-card>
</template>

<script>
    import API from 'Api';
    import 'quill/dist/quill.core.css'
    import 'quill/dist/quill.snow.css'
    import 'quill/dist/quill.bubble.css'
    import { quillEditor } from 'vue-quill-editor'
    import Editor from '@tinymce/tinymce-vue'
    import {mapGetters} from 'vuex'

    export default {
        name: "addQuestion",
        components: {
            quillEditor,
            Editor
        },
        data(){
            return{
                newItem: {
                    title: null,
                    text: '',
                    all_right_comment: '',
                    not_all_right_comment: '',
                    multiply_answer: false,
                    text_description: null,
                    female_text:'',
                    answers: [{
                        text: '',
                        female_text: '',
                        is_correct: true,
                        comment: ''
                    }]
                },
                options: [
                    {text: 'Верно', value: true},
                    {text: 'Неверно', value: false}
                ],
                options_multiply_answer: [
                    {text: 'Да', value: true},
                    {text: 'Нет', value: false}
                ],
                editorOption: {
                    modules: {
                        toolbar: [
                            ['bold', 'italic', 'underline', 'strike'],
                            ['blockquote', 'code-block'],
                            [{ 'header': 1 }, { 'header': 2 }],
                            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                            [{ 'script': 'sub' }, { 'script': 'super' }],
                            [{ 'indent': '-1' }, { 'indent': '+1' }],
                            [{ 'direction': 'rtl' }],
                            [{ 'size': ['small', false, 'large', 'huge'] }],
                            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                            [{ 'font': [] }],
                            [{ 'color': [] }, { 'background': [] }],
                            [{ 'align': [] }],
                            ['clean'],
                            ['link', 'image', 'video']
                        ]
                    }
                },
            }
        },
        computed: {
            ...mapGetters(['getAddType', 'upload_image']),
            getQuestion(){
                let finalAnswers = [];
                this.newItem.answers.forEach(item =>{
                    if (item.female_text){
                        finalAnswers.push({
                            text: item.text,
                            female_text: item.female_text,
                            is_correct: item.is_correct,
                            comment: item.comment,
                        })
                    }
                    else{
                        finalAnswers.push({
                            text: item.text,
                            is_correct: item.is_correct,
                            comment: item.comment,
                        })
                    }
                });
                let finalQuestion = {
                    simulator: this.$route.params.id,
                    text: this.newItem.text,
                    page_id: this.$route.params.page_id,
                    // text_description: this.newItem.text_description,
                    // title: this.newItem.title
                };
                if (this.newItem.text_description)
                    finalQuestion.text_description = this.newItem.text_description
                if (this.newItem.title)
                    finalQuestion.title = this.newItem.title
                if (this.getAddType == 'addQuestion'){
                    finalQuestion.multiply_answer = this.newItem.multiply_answer;
                    if (this.newItem.multiply_answer){
                        finalQuestion.all_right_comment = this.newItem.all_right_comment;
                        finalQuestion.not_all_right_comment = this.newItem.not_all_right_comment;
                    }
                }
                finalQuestion.answers = finalAnswers;
                console.log(finalQuestion);
                return finalQuestion
            },
            checkQuestion(){
                let good = true;
                if (!this.getQuestion.text)
                    good = false;
                this.getQuestion.answers.forEach(item => {
                    console.log(item)
                    if (!item.text || typeof is_correct == 'object')
                        good = false
                });
                return good
            }
        },
        methods: {
            changeType(){
                this.$store.dispatch('getNewAddType', '');
            },
            appendAnswer(){
                this.newItem.answers.push({
                    text: '',
                    female_text: '',
                    is_correct: true,
                    comment: ''
                });
            },
            delAnswer(index){
                this.newItem.answers.splice(index, 1);
            },
            addQuestion() {
                const config = {
                    headers: {
                        Authorization: `Bearer ${this.$store.getters.currentUser}`,
                        'Content-Type': 'application/json'
                    }
                };
                if (!this.checkQuestion){
                    this.$bvToast.toast('Заполните все обязательные поля', {
                        title: 'Уведомление',
                        variant: 'danger',
                        solid: true
                    })
                }
                else{
                    const data = JSON.stringify(this.getQuestion);
                    let url_string = '';
                    if (this.getAddType == 'addQuestion')
                        url_string = 'admin_pannel/create_question/';
                    else
                        url_string = 'admin_pannel/create_test/';
                    API
                        .post(url_string, data, config)
                        .then(response => {
                            console.log(response);
                            this.changeType();
                            this.$store.dispatch('getAllBlocks', this.$route.params.page_id);
                        })
                        .catch(function (error) {
                            console.log(error)
                            if(error.response.status == 404)
                            {

                            }
                            if(error.response.status == 400)
                            {
                                this.$bvToast.toast('Симулятор не принадлежит пользователю', {
                                    title: 'Уведомление',
                                    variant: 'info',
                                    solid: true
                                })
                            }
                            if(error.response.status == 500)
                            {
                                this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                    title: 'Уведомление',
                                    variant: 'danger',
                                    solid: true
                                })
                            }
                            if(error.response.status == 401)
                            {
                                this.$store.dispatch('signOut');
                                this.$router.push('/user');
                                //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                            }
                        })
                }
            }
        }
    }
</script>

<style scoped>

</style>
