<template>
  <b-collapse :id="getCollapseId" class="question-collapse">
    <div class="card-body pt-4">
      <b-form>
        <b-form-group label="Тип вопроса">
          <b-form-input v-model="question.title"></b-form-input>
        </b-form-group>
        <b-form-group label="Текст *">
          <b-form-input v-model="question.text"></b-form-input>
        </b-form-group>
        <b-form-group label="Описание">
          <editor
            api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
            v-model="question.text_description"
            :init="{
                 height: 250,
                 menubar: false,
                 images_upload_handler: upload_image,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | image | code | help'
               }"
          />
        </b-form-group>
        <b-form-group v-if="question.type == 'question'" label="Множественный выбор">
          <b-form-radio-group
            :id="'radio-multiply_answer'+question.id"
            v-model="question.multiply_answer"
            :options="options_multiply_answer"
            :name="'radio-multiply_answer'+question.id"
          ></b-form-radio-group>
        </b-form-group>


        <b-form-group v-if="question.multiply_answer" label="Комментарий для верного ответа">
          <editor
            api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
            v-model="question.all_right_comment"
            :init="{
                 height: 250,
                 menubar: false,
                 images_upload_handler: upload_image,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | image | code | help'
               }"
          />
        </b-form-group>
        <b-form-group v-if="question.multiply_answer" label="Комментарий для неверного ответа">
          <editor
            api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
            v-model="question.not_all_right_comment"
            :init="{
                 height: 250,
                 menubar: false,
                 images_upload_handler: upload_image,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | image | code | help'
               }"
          />
        </b-form-group>


        <div v-for="(answer, index) in question.answer_set" :key="index">
          <div v-if="index == 0" class="separator mb-3 mt-4" />
          <div class="mb-2">Ответ {{index + 1}}</div>
          <b-form-group label="Текст ответа *">
            <b-form-input v-model="answer.text">
            </b-form-input>
          </b-form-group>
          <b-form-group label="Текст ответа для женского персонажа">
            <b-form-input v-model="answer.female_text">
            </b-form-input>
          </b-form-group>
          <b-form-group>
            <b-form-radio-group
              :id="index.toString() + question.id.toString()"
              v-model="answer.is_correct"
              :options="options"
              :name="index.toString()"
            ></b-form-radio-group>
          </b-form-group>
          <b-form-group v-if="!question.multiply_answer" label="Комментарий *">
<!--            <quill-editor ref="myTextEditor"-->
<!--                          v-model="answer.comment"-->
<!--                          :options="editorOption">-->
<!--            </quill-editor>-->
            <editor
              api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
              v-model="answer.comment"
              :init="{
                 height: 250,
                 menubar: false,
                 images_upload_handler: upload_image,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | image | code | help'
               }"
            />
          </b-form-group>
          <b-button v-if="question.answer_set.length > 1 && question.type == 'test'" variant="outline-secondary" @click.prevent="delAnswer(question.id)" class="mr-1 mb-4 mt-2">Удалить ответ</b-button>
          <div class="separator mb-3 mt-2" />
        </div>
        <div v-if="appendAnsw">
          <div class="mb-2">Ответ</div>
          <b-form-group label="Текст ответа *">
            <b-form-input v-model="newAnsw.text">
            </b-form-input>
          </b-form-group>
          <b-form-group label="Текст ответа для женского персонажа">
            <b-form-input v-model="newAnsw.female_text">
            </b-form-input>
          </b-form-group>
          <b-form-group>
            <b-form-radio-group
              :id="'newAnsw' + question.id.toString()"
              v-model="newAnsw.is_correct"
              :options="options"
              name="newAnsw"
            ></b-form-radio-group>
          </b-form-group>
          <b-form-group v-if="!question.multiply_answer" label="Комментарий *">
            <!--            <quill-editor ref="myTextEditor"-->
            <!--                          v-model="answer.comment"-->
            <!--                          :options="editorOption">-->
            <!--            </quill-editor>-->
            <editor
              api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
              v-model="newAnsw.comment"
              :init="{
                 height: 250,
                 menubar: false,
                 images_upload_handler: upload_image,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | image | code | help'
               }"
            />
          </b-form-group>
          <b-button variant="outline-secondary" @click.prevent="appendNewAnswer" class="mr-1 mb-4 mt-2">Добавить</b-button>
          <b-button variant="outline-secondary" @click.prevent="declineNewAnswer" class="mr-1 mb-4 mt-2">Отменить</b-button>
        </div>
        <b-button v-if="question.type == 'test' && !appendAnsw" variant="outline-secondary" @click.prevent="appendAnswer" class="mr-1 mb-4 mt-2">Добавить ответ</b-button>
      </b-form>
      <div class="mb-2">* обязательные поля</div>
      <template>
        <b-button
          variant="outline-secondary"
          @click="toggleItem(question.id)"
        >Отменить</b-button>
        <b-button variant="primary" @click="editQuestion(question.id)" class="mr-1">Изменить</b-button>
      </template>
    </div>
  </b-collapse>
</template>

<script>
    import API from 'Api';
    import 'quill/dist/quill.core.css'
    import 'quill/dist/quill.snow.css'
    import 'quill/dist/quill.bubble.css'
    import { quillEditor } from 'vue-quill-editor'
    import Editor from '@tinymce/tinymce-vue'
    import { mapGetters } from 'vuex'

    export default {
        name: "EditQuestion",
        props: ['question'],
        components: {
            quillEditor,
            Editor
        },
        data(){
            return {
                answers: [],
                newAnsw: {
                    text: '',
                    female_text: '',
                    is_correct: true,
                    comment: ''
                },
                appendAnsw: false,
                options: [
                    {text: 'Верно', value: true},
                    {text: 'Неверно', value: false}
                ],
                options_multiply_answer: [
                    {text: 'Да', value: true},
                    {text: 'Нет', value: false}
                ],
                editorOption: {
                    modules: {
                        toolbar: [
                            ['bold', 'italic', 'underline', 'strike'],
                            ['blockquote', 'code-block'],
                            [{ 'header': 1 }, { 'header': 2 }],
                            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                            [{ 'script': 'sub' }, { 'script': 'super' }],
                            [{ 'indent': '-1' }, { 'indent': '+1' }],
                            [{ 'direction': 'rtl' }],
                            [{ 'size': ['small', false, 'large', 'huge'] }],
                            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                            [{ 'font': [] }],
                            [{ 'color': [] }, { 'background': [] }],
                            [{ 'align': [] }],
                            ['clean'],
                            ['link', 'image', 'video']
                        ]
                    }
                },
            }
        },
        computed: {
            ...mapGetters(['getAddType', 'upload_image']),
            getCollapseId(){
                if (this.question.type)
                    return 'qCollapse' + this.question.id;
                else
                    return 'tqCollapse' + this.question.id;
            },
            getQuestion(){
                let finalAnswers = [];
                this.question.answer_set.forEach(item =>{
                    if (item.female_text){
                        finalAnswers.push({
                            id: item.id,
                            text: item.text,
                            female_text: item.female_text,
                            is_correct: item.is_correct,
                            comment: item.comment,
                        })
                    }
                    else{
                        if (this.question.type)
                            finalAnswers.push({
                                id: item.id,
                                text: item.text,
                                is_correct: item.is_correct,
                                comment: item.comment
                            });
                        else
                            finalAnswers.push({
                                id: item.id,
                                text: item.text,
                                is_correct: item.is_correct,
                                comment: item.comment
                            })
                    }

                });
                let finalQuestion = {
                    simulator: this.$route.params.id,
                    text: this.question.text,
                    page_id: this.$route.params.page_id,
                    // text_description: this.question.text_description,
                    // title: this.question.title
                };
                if (this.question.text_description){
                    finalQuestion.text_description = this.question.text_description
                }
                if (this.question.title){
                    finalQuestion.title = this.question.title
                }
                if (this.question.type == 'question'){
                    finalQuestion.multiply_answer = this.question.multiply_answer;
                    if (this.question.multiply_answer){
                        finalQuestion.all_right_comment = this.question.all_right_comment;
                        finalQuestion.not_all_right_comment = this.question.not_all_right_comment;
                    }
                }
                finalQuestion.answers = finalAnswers;
                console.log(finalQuestion);
                return finalQuestion
            },
            checkQuestion(){
                let good = true;
                if (!this.getQuestion.text){
                    good = false;
                }
                this.getQuestion.answers.forEach(item => {
                    if (!item.text || typeof is_correct == 'object'){
                        good = false

                    }
                });
                return good
            }
        },
        methods: {
            toggleItem(id){
                if (this.question.type)
                    this.$root.$emit('bv::toggle::collapse', `qCollapse${id}`);
                else
                    this.$root.$emit('bv::toggle::collapse', `tqCollapse${id}`);
            },
            appendAnswer(){
                // this.question.answer_set.push({
                //     text: '',
                //     female_text: '',
                //     is_correct: true,
                //     comment: ''
                // });
                this.appendAnsw = true;
            },
            declineNewAnswer(){
                this.appendAnsw = false;
                this.newAnsw = {
                    text: '',
                    female_text: '',
                    is_correct: true,
                    comment: ''
                }
            },
            appendNewAnswer(){
                if (this.newAnsw.text && typeof this.newAnsw.is_correct != 'object' && this.newAnsw.comment){
                    const config = {
                        headers: { Authorization: `Bearer ${this.$store.getters.currentUser}`, 'Content-Type':'multipart/form-data'}
                    };
                    const data = new FormData();
                    data.append('simulator', this.$route.params.id);
                    data.append('test', this.question.id);
                    data.append('is_correct', this.newAnsw.is_correct);
                    data.append('comment', this.newAnsw.comment);
                    data.append('text', this.newAnsw.text);
                    if (this.newAnsw.female_text)
                        data.append('female_text', this.newAnsw.female_text)
                    API
                        .post('admin_pannel/create_answer_test/', data, config)
                        .then(response => {
                            console.log(response)
                            this.$store.dispatch('getAllBlocks', this.$route.params.page_id);
                            this.declineNewAnswer();
                        })
                        .catch(function (error) {
                            if(error.response.status == 404)
                            {

                            }
                            if(error.response.status == 401)
                            {
                                this.$store.dispatch('signOut');
                                this.$router.push('/user');
                                //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                            }
                        }.bind(this));
                }
                else {
                    this.$bvToast.toast('Заполните все обязательные поля', {
                        title: 'Уведомление',
                        variant: 'danger',
                        solid: true
                    })
                }
            },
            delAnswer(index){
                // this.question.answer_set.splice(index, 1);
                const config = {
                    headers: { Authorization: `Bearer ${this.$store.getters.currentUser}`}
                };
                API
                    .delete('admin_pannel/delete_answer_test/' + index, config)
                    .then(response => {
                        console.log(response)
                        this.$store.dispatch('getAllBlocks', this.$route.params.page_id);
                    })
                    .catch(function (error) {
                        if(error.response.status == 404)
                        {

                        }
                        if(error.response.status == 401)
                        {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');
                            //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                        }
                    }.bind(this));
            },
            editQuestion(id){
                const config = {
                    headers: {
                        Authorization: `Bearer ${this.$store.getters.currentUser}`,
                        'Content-Type': 'application/json'
                    }
                };
                if (this.appendAnsw) {
                    this.$bvToast.toast('Сначала закончите добавлять ответ', {
                        title: 'Уведомление',
                        variant: 'info',
                        solid: true
                    });
                    return false
                }
                console.log(this.checkQuestion)
                if (!this.checkQuestion){
                    this.$bvToast.toast('Заполните все обязательные поля', {
                        title: 'Уведомление',
                        variant: 'danger',
                        solid: true
                    })
                }
                else{
                    const data = JSON.stringify(this.getQuestion);
                    let url_string = ''
                    if (this.question.type == 'question')
                        url_string = 'admin_pannel/question_detail/';
                    else
                        url_string = 'admin_pannel/test_detail/';
                    API
                        .put(url_string + id, data, config)
                        .then(response => {
                            console.log(response);
                            this.toggleItem(id);
                            this.$store.dispatch('getAllBlocks', this.$route.params.page_id);
                            this.$bvToast.toast('Вопрос изменен', {
                                title: 'Уведомление',
                                variant: 'info',
                                solid: true
                            })
                        })
                        .catch(function (error) {
                            console.log(error)
                            if(error.response.status == 404)
                            {

                            }
                            if(error.response.status == 400)
                            {
                                this.$bvToast.toast('Симулятор не принадлежит пользователю', {
                                    title: 'Уведомление',
                                    variant: 'info',
                                    solid: true
                                })
                            }
                            if(error.response.status == 500)
                            {
                                this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                    title: 'Уведомление',
                                    variant: 'danger',
                                    solid: true
                                })
                            }
                            if(error.response.status == 401)
                            {
                                this.$store.dispatch('signOut');
                                this.$router.push('/user');
                                //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                            }
                        })
                }
            }
        },
        mounted() {

        }
    }
</script>

<style scoped>

</style>
