<template>
  <b-card no-body class="mb-2 p-3">
  <div class="position-relative d-flex flex-row justify-content-between align-items-center w-100">
    <div class="d-flex flex-row justify-content-left m-0">
      <div class="ml-4 d-flex flex-column justify-content-center">
        <h6 v-if="question.type == 'question'" style="font-weight: bold">Вопрос</h6>
        <h6 v-else style="font-weight: bold">Тестовый вопрос</h6>
        <h6><span class="align-middle responsive" v-html="question.text"></span></h6>
<!--        <h4 v-if="question.female_text"><span class="align-middle responsive" v-html="question.female_text"></span></h4>-->
      </div>
    </div>
    <div class="mr-3">
      <b-button variant="outline-theme-3" class="icon-button rotate-icon-click rotate"
                @click="toggleItem(question.id)"
      >
        <i class="simple-icon-pencil"></i>
      </b-button>
      <b-button variant="outline-theme-3" class="icon-button rotate-icon-click rotate"
                @click="showModal"
      >
        <i class="simple-icon-trash"></i>
      </b-button>
    </div>
  </div>
<!--  <div v-for="(answer, index) in question.answer_set" class="pl-4 pr-4" :key="index">-->
<!--    <div v-if="index == 0" class="separator mb-3 mt-4" />-->
<!--    <h4><span class="align-middle responsive">Ответ {{index + 1}}</span></h4>-->
<!--    <h6><span class="align-middle responsive">Текст ответа</span></h6>-->
<!--    <p v-html="answer.text"></p>-->
<!--    <h6 v-if="answer.female_text"><span class="align-middle responsive">Female text</span></h6>-->
<!--    <p v-if="answer.female_text" v-html="answer.female_text"></p>-->
<!--    <h6><span class="align-middle responsive">{{isCorrect(answer.is_correct)}}</span></h6>-->
<!--    <h6><span class="align-middle responsive">Комментарий</span></h6>-->
<!--    <p v-html="answer.comment"></p>-->
<!--    <div class="separator mb-3 mt-2" />-->
<!--  </div>-->
  <EditQuestion :question="question"></EditQuestion>
  <b-modal :id="'my-modal-question' + question.id" centered hide-footer hide-header>
    <div class="d-block text-center">
      <h3 v-if="question.type == 'question'">Вы действительно хотите удалить вопрос?</h3>
      <h3 v-else>Вы действительно хотите удалить тестовый вопрос?</h3>
    </div>
    <div class="d-flex flex-row justify-content-center mt-5">
      <b-button class="mr-2 w-40" variant="outline-secondary" block @click="hideModal">Отменить</b-button>
      <b-button class="m-0 w-40" variant="primary" block @click="deleteItem(question.id)">Удалить</b-button>
    </div>
  </b-modal>
  </b-card>
</template>

<script>
    import EditQuestion from "./EditQuestion";
    import API from 'Api'
    export default {
        name: "QuestionBlock",
        components: {
            EditQuestion
        },
        props: ['question'],
        computed: {

        },
        methods: {
            showModal() {
                this.$bvModal.show('my-modal-question' + this.question.id)
            },
            hideModal() {
                this.$bvModal.hide('my-modal-question' + this.question.id)
            },
            toggleItem(id){
                if (this.question.type)
                    this.$root.$emit('bv::toggle::collapse', `qCollapse${id}`);
                else
                    this.$root.$emit('bv::toggle::collapse', `tqCollapse${id}`);
            },
            isCorrect(i){
                return i ? 'Верный ответ' : 'Неверный ответ'
            },
            deleteItem(id){
                const config = {
                    headers: { Authorization: `Bearer ${localStorage.getItem('user')}`}
                };
                let url_string = '';
                if (this.question.type == 'question') {
                    url_string = 'admin_pannel/delete_question/';
                }
                else
                    url_string = 'admin_pannel/delete_test/';
                API
                    .delete(url_string + id, config)
                    .then(response => {
                        console.log(response);
                        this.hideModal();
                        this.$store.dispatch('getAllBlocks', this.$route.params.page_id)
                    })
                    .catch(function (error) {
                        console.log(error)
                        if(error.response.status == 404)
                        {

                        }
                        if(error.response.status == 500)
                        {
                            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if(error.response.status == 401)
                        {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');
                            //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                        }
                    })
            }
        }
    }
</script>

<style scoped>

</style>
