<template>
  <div>
    <my-layout v-if="getPath">
      <router-view />
    </my-layout>
    <app-layout v-else>
      <router-view></router-view>
    </app-layout>
  </div>
</template>

<script>
import MyLayout from "../../layouts/MyLayout";
import AppLayout from "../../layouts/AppLayout";

export default {
  components: {
      AppLayout,
    "my-layout": MyLayout
  },
  computed: {
      getPath(){
          return this.$route.path == '/my/groups'
      }
  }
};
</script>
