<template>
  <b-row>
    <b-colxx class="disable-text-selection">
      <list-page-heading
        :title="title"
        @reload-sims="reloadSimulators()"
      ></list-page-heading>
      <template v-if="Array.isArray(filtered_simulators)">
        <list-page-listing
          displayMode="thumb"
          :items="filtered_simulators"
          :toggleItem="toggleItem"
        ></list-page-listing>
      </template>
      <template v-else>
        <div class="loading"></div>
      </template>
    </b-colxx>
  </b-row>
</template>

<script>
import ListPageHeading from "../../containers/pages/ListPageHeading";
import ListPageListing from "../../containers/pages/ListPageListing";
import {
    mapGetters,
    mapActions
} from "vuex";
import API from "Api/index";
import router from "@/router";

export default {
  components: {
    "list-page-heading": ListPageHeading,
    "list-page-listing": ListPageListing
  },
  data() {
    return {
      simulators: [],
      filtered_simulators: null
    };
  },
  methods: {
    reloadSimulators(){
      this.filtered_simulators = null;
      this.getSimulators();
    },
    toggleItem(event, itemId) {
      this.$router.push(`/simulator/${itemId}/lessons`)
    },
    getSimulators(){
      const config = {
        headers: { Authorization: `Bearer ${localStorage.getItem('user')}`}
      };
      API
        .get("admin_pannel/simulators/", config)
        .then(response => {
          this.simulators = response.data;
          this.filterSimulators(this.$route.params.group_id);
        })
        .catch(function (error) {
          console.log(error)
          if(error.response.status == 404)
          {

          }
          if(error.response.status == 401)
          {
            this.$store.dispatch('signOut');
            router.push('/user');
          }
          if(error.response.status == 500)
          {
            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
              title: 'Уведомление',
              variant: 'danger',
              solid: true
            })
          }

        }.bind(this))
    },
    filterSimulators(group_id){
      if (group_id){
        if (this.simulators){
          this.filtered_simulators = this.simulators.filter(item => {
            return item.group == group_id
          })
        }
        else
          this.filtered_simulators = [];
      }
      else
        this.filtered_simulators = this.simulators;
      console.log(this.filtered_simulators)
    }
  },
  computed: {
    ...mapGetters([
      'currentUser', 'getSimulatorsList', 'getSimGroup'
    ]),
    title(){
        if (this.$route.params.group_id)
            return `Симуляторы (${this.getSimGroup.name})`;
        else
            return 'Мои симуляторы'
    }
  },
  watch: {
    $route(to, from){
      this.filtered_simulators = null;
      this.filterSimulators(to.params.group_id)
    }
  },
    mounted() {
      if (this.$route.params.group_id)
        this.$store.dispatch('getCurrSimGroup', this.$route.params.group_id);
      this.getSimulators();
    },
    beforeRouteLeave(to, from, next){
      // this.$store.commit('setAllSimulators', []);
      this.filtered_simulators = [];
      next()
    },
};
</script>
