<template>
  <b-card class="mb-4">
    <h4 class="mb-3">Добавить сообщение</h4>
    <b-form>
      <b-form-group label="Текст *">
<!--        <quill-editor ref="myTextEditor"-->
<!--                      v-model="newItem.text"-->
<!--                      :options="editorOption">-->
<!--        </quill-editor>-->
        <editor
          api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
          v-model="newItem.text"
          :init="{
                 height: 250,
                 menubar: false,
                 images_upload_handler: upload_image,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | image | code | help'
               }"
        />
      </b-form-group>
      <b-form-group label="Текст для женского персонажа (если отличается)">
<!--        <quill-editor ref="myTextEditor"-->
<!--                      v-model="newItem.female_text"-->
<!--                      :options="editorOption">-->
<!--        </quill-editor>-->
        <editor
          api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
          v-model="newItem.female_text"
          :init="{
                 height: 250,
                 menubar: false,
                 images_upload_handler: upload_image,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | image | code | help'
               }"
        />
      </b-form-group>
      <b-form-group label="Переопределить роль">
        <b-form-input v-model="newItem.forced_role" />
      </b-form-group>
      <b-form-group label="Персонаж *">
        <v-select v-model="selectedCharacter" :options="options" :reduce="text => text.value" label="text"/>
      </b-form-group>
      <b-form-group label="Сообщение автора">
        <b-form-radio-group
          id="radio-group-1"
          v-model="newItem.is_author_message"
          :options="radio_options"
          name="radio-options-1"
        ></b-form-radio-group>
      </b-form-group>
      <b-form-group label="Положение на экране">
        <b-form-radio-group
          id="radio-group-2"
          v-model="newItem.is_hero"
          :options="radio_options_position"
          name="radio-options-2"
        ></b-form-radio-group>
      </b-form-group>
    </b-form>
    <div class="mb-2">* обязательные поля</div>
    <template>
      <b-button
        variant="outline-secondary"
        @click.prevent="changeType"
      >Отменить</b-button>
      <b-button variant="primary" @click="addMessage" class="mr-1">Добавить</b-button>
    </template>
  </b-card>
</template>

<script>
    import 'quill/dist/quill.core.css'
    import 'quill/dist/quill.snow.css'
    import 'quill/dist/quill.bubble.css'
    import { quillEditor } from 'vue-quill-editor'
    import API from 'Api';
    import vSelect from "vue-select";
    import "vue-select/dist/vue-select.css";
    import { mapGetters } from 'vuex';
    import Editor from '@tinymce/tinymce-vue'

    export default {
        name: "addMessage",
        components: {
            vSelect,
            quillEditor,
            Editor
        },
        data() {
            return {
                selectedCharacter: null,
                newItem: {
                    text: '',
                    female_text: '',
                    forced_role: '',
                    character: null,
                    user: false,
                    is_author_message: false,
                    is_hero: false
                },
                radio_options: [
                    {text: 'Да', value: true},
                    {text: 'Нет', value: false}
                ],
                radio_options_position: [
                    {text: 'Справа', value: true},
                    {text: 'Слева', value: false}
                ],
                editorOption: {
                    modules: {
                        toolbar: [
                            ['bold', 'italic', 'underline', 'strike'],
                            ['blockquote', 'code-block'],
                            [{ 'header': 1 }, { 'header': 2 }],
                            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                            [{ 'script': 'sub' }, { 'script': 'super' }],
                            [{ 'indent': '-1' }, { 'indent': '+1' }],
                            [{ 'direction': 'rtl' }],
                            [{ 'size': ['small', false, 'large', 'huge'] }],
                            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                            [{ 'font': [] }],
                            [{ 'color': [] }, { 'background': [] }],
                            [{ 'align': [] }],
                            ['clean'],
                            ['link', 'image', 'video']
                        ]
                    }
                },
            }
        },
        computed: {
            ...mapGetters(['getPersons', 'upload_image']),
            options(){
                let opt = [];
                this.getPersons.forEach((item) => {
                    if (!item.is_user)
                        opt.push({text: item.first_name + ' ' + item.last_name, value: item.id});
                    else
                        opt.push({text: item.default_role, value: item.id});
                });
                opt.push({text: 'Добавить персонажа', value: 'Добавить персонажа'});
                return opt;
            }
        },
        methods: {
            changeType(){
                this.$store.dispatch('getNewAddType', '')
            },
            addMessage(){
                const config = {
                    headers: { Authorization: `Bearer ${this.$store.getters.currentUser}`, 'Content-Type':'multipart/form-data'}
                };
                if (!this.newItem.text || !this.newItem.character){
                    this.$bvToast.toast('Заполните все обязательные поля', {
                        title: 'Уведомление',
                        variant: 'danger',
                        solid: true
                    })
                }
                else{
                    const data = new FormData();
                    if (this.selectedCharacter != 'Добавить персонажа'){
                        data.append('simulator', this.$route.params.id);
                        data.append('text', this.newItem.text);
                        data.append('page_id', this.$route.params.page_id);
                        data.append('character', this.selectedCharacter);
                        data.append('is_author_message', this.newItem.is_author_message)
                        data.append('is_hero', this.newItem.is_hero)
                        if (this.newItem.female_text)
                            data.append('female_text', this.newItem.female_text);
                        if (this.newItem.forced_role)
                            data.append('forced_role', this.newItem.forced_role);
                        // data.append('user', 1);
                        API
                            .post('admin_pannel/create_message/', data, config)
                            .then(response => {
                                console.log(response);
                                this.changeType();
                                this.$store.dispatch('getAllBlocks', this.$route.params.page_id)
                            })
                            .catch(function (error) {
                                console.log(error)
                                if(error.response.status == 404)
                                {

                                }
                                if(error.response.status == 400)
                                {
                                    this.$bvToast.toast('Симулятор не принадлежит пользователю', {
                                        title: 'Уведомление',
                                        variant: 'info',
                                        solid: true
                                    })
                                }
                                if(error.response.status == 500)
                                {
                                    this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                        title: 'Уведомление',
                                        variant: 'danger',
                                        solid: true
                                    })
                                }
                                if(error.response.status == 401)
                                {
                                    this.$store.dispatch('signOut');
                                    this.$router.push('/user');
                                    //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                                }
                            })
                    }
                }
            }
        },
        watch: {
            selectedCharacter: function (newCharacter) {
                if (newCharacter == 'Добавить персонажа'){
                    this.$store.dispatch('getNewAddType', 'addPerson')
                }
                else{
                    this.newItem.character = newCharacter;
                }
            }
        }
    }
</script>

<style scoped>

</style>
