<template>
  <div>
  <b-collapse :id="`messageCollapse${message.id}`" class="question-collapse">
    <div class="card-body pt-4">
      <b-form>
        <b-form-group label="Текст *">
<!--          <quill-editor ref="myTextEditor"-->
<!--                        v-model="message.text"-->
<!--                        :options="editorOption">-->
<!--          </quill-editor>-->
          <editor
            api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
            v-model="message.text"
            :init="{
                 height: 250,
                 menubar: false,
                 images_upload_handler: upload_image,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | image | code | help'
               }"
          />
        </b-form-group>
        <b-form-group label="Текст для женского персонажа (если отличается)">
<!--          <quill-editor ref="myTextEditor"-->
<!--                        v-model="message.female_text"-->
<!--                        :options="editorOption">-->
<!--          </quill-editor>-->
          <editor
            api-key="oyw6eicxahrn77chp2awrf8cyu6bfyunxva5kvea1s3v0d71"
            v-model="message.female_text"
            :init="{
                 height: 250,
                 menubar: false,
                 images_upload_handler: upload_image,
                 plugins: [
                   'advlist autolink lists link image charmap print preview anchor',
                   'searchreplace visualblocks code fullscreen',
                   'insertdatetime media table paste code help wordcount'
                 ],
                 toolbar:
                   'undo redo | formatselect | bold italic backcolor anchor | link | insertdatetime |\
                   alignleft aligncenter alignright alignjustify | \
                   bullist numlist outdent indent | removeformat | preview | media | image | code | help'
               }"
          />
        </b-form-group>
        <b-form-group label="Переопределить роль">
          <b-form-input v-model="message.forced_role" />
        </b-form-group>
        <b-form-group label="Персонаж">
          <v-select v-model="selectedCharacter" :options="options" :reduce="text => text.value" label="text"/>
        </b-form-group>
        <b-form-group label="Сообщение автора">
          <b-form-radio-group
            :id=getRadioIdAuthor
            v-model="message.is_author_message"
            :options="radio_options"
            name="radio-options-1"
          ></b-form-radio-group>
        </b-form-group>
        <b-form-group label="Положение на экране">
          <b-form-radio-group
            :id=getRadioIdUser
            v-model="message.is_hero"
            :options="radio_options_position"
            name="radio-options-2"
          ></b-form-radio-group>
        </b-form-group>
      </b-form>
      <div class="mb-2">* обязательные поля</div>
      <template>
        <b-button
          variant="outline-secondary"
          @click="toggleItem(message.id)"
        >Отменить</b-button>
        <b-button variant="primary" @click="editMessage(message.id)" class="mr-1">Изменить</b-button>
      </template>
    </div>
  </b-collapse>
  </div>
</template>

<script>
    import vSelect from "vue-select";
    import "vue-select/dist/vue-select.css";
    import 'quill/dist/quill.core.css'
    import 'quill/dist/quill.snow.css'
    import 'quill/dist/quill.bubble.css'
    import { quillEditor } from 'vue-quill-editor'
    import {mapGetters} from 'vuex'
    import API from 'Api'
    import addPersonWithMessage from "../persons/addPersonWithMessage";
    import Editor from '@tinymce/tinymce-vue'

    export default {
        name: "EditMessage",
        props: ['message'],
        components: {
            vSelect,
            quillEditor,
            addPersonWithMessage,
            Editor
        },
        data() {
            return {
                selectedCharacter: null,
                editorOption: {
                    modules: {
                        toolbar: [
                            ['bold', 'italic', 'underline', 'strike'],
                            ['blockquote', 'code-block'],
                            [{ 'header': 1 }, { 'header': 2 }],
                            [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                            [{ 'script': 'sub' }, { 'script': 'super' }],
                            [{ 'indent': '-1' }, { 'indent': '+1' }],
                            [{ 'direction': 'rtl' }],
                            [{ 'size': ['small', false, 'large', 'huge'] }],
                            [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                            [{ 'font': [] }],
                            [{ 'color': [] }, { 'background': [] }],
                            [{ 'align': [] }],
                            ['clean'],
                            ['link', 'image', 'video']
                        ]
                    }
                },
                radio_options: [
                    {text: 'Да', value: true},
                    {text: 'Нет', value: false}
                ],
                radio_options_position: [
                    {text: 'Да', value: true},
                    {text: 'Нет', value: false}
                ],
            }
        },
        computed: {
            ...mapGetters(['getPersons', 'getAddType', 'upload_image']),
            options() {
                let opt = [];
                this.getPersons.forEach((item) => {
                    if (!item.is_user)
                        opt.push({text: item.first_name + ' ' + item.last_name, value: item.id});
                    else
                        opt.push({text: item.default_role, value: item.id});
                });
                opt.push({text: 'Добавить персонажа', value: 'Добавить персонажа'});
                return opt;
            },
            getRadioIdAuthor(){
                return 'radio-group-author' + this.message.id.toString()
            },
            getRadioIdUser(){
                return 'radio-group-user' + this.message.id.toString()
            },
        },
        watch: {
            selectedCharacter: function (newCharacter, event) {
                if (newCharacter == 'Добавить персонажа') {
                    // this.$root.$emit('bv::toggle::collapse', `messageCollapse${this.id}`);
                    this.$store.dispatch('getNewAddType', 'addPersonWithMessage')
                } else {
                    this.message.character = newCharacter;
                }

            }
        },
        methods: {
            toggleItem(id){
                this.$root.$emit('bv::toggle::collapse', `messageCollapse${id}`);
                this.$store.dispatch('getNewAddType', '')
            },
            editMessage(id){
                const config = {
                    headers: { Authorization: `Bearer ${this.$store.getters.currentUser}`, 'Content-Type':'multipart/form-data'}
                };
                if (!this.message.text || !this.message.character){
                    this.$bvToast.toast('Заполните все обязательные поля', {
                        title: 'Уведомление',
                        variant: 'danger',
                        solid: true
                    })
                }
                else{
                    const data = new FormData();
                    if (this.selectedCharacter != 'Добавить персонажа'){
                        data.append('simulator', this.$route.params.id);
                        data.append('text', this.message.text);
                        data.append('page_id', this.$route.params.page_id);
                        data.append('character', this.selectedCharacter);
                        data.append('is_author_message', this.message.is_author_message);
                        data.append('is_hero', this.message.is_hero);
                        if (this.message.female_text)
                            data.append('female_text', this.message.female_text);
                        if (this.message.forced_role)
                            data.append('forced_role', this.message.forced_role);
                        API
                            .put('admin_pannel/message_detail/' + id, data, config)
                            .then(response => {
                                console.log(response);
                                this.toggleItem(id);
                                this.$store.dispatch('getAllBlocks', this.$route.params.page_id);
                                this.$store.dispatch('getNewAddType', '')
                                this.$bvToast.toast('Сообщение изменено', {
                                    title: 'Уведомление',
                                    variant: 'info',
                                    solid: true
                                })
                            })
                            .catch(function (error) {
                                console.log(error)
                                if(error.response.status == 404)
                                {

                                }
                                if(error.response.status == 400)
                                {
                                    this.$bvToast.toast('Симулятор не принадлежит пользователю', {
                                        title: 'Уведомление',
                                        variant: 'info',
                                        solid: true
                                    })
                                }
                                if(error.response.status == 500)
                                {
                                    this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                        title: 'Уведомление',
                                        variant: 'danger',
                                        solid: true
                                    })
                                }
                                if(error.response.status == 401)
                                {
                                    this.$store.dispatch('signOut');
                                    this.$router.push('/user');
                                    //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                                }
                            })
                    }
                }
            }
        },
        mounted() {
            this.$store.dispatch('getAllPersons', this.$route.params.id);
            this.selectedCharacter = this.message.character
        }
    }
</script>

<style scoped>

</style>
