<template>
  <div>
  <b-card no-body class="mb-2 p-3">
  <div class="position-relative d-flex flex-row justify-content-between align-items-center w-100">
    <div class="d-flex flex-row justify-content-left m-0">
      <div class="ml-4 d-flex flex-column justify-content-center">
        <h6 style="font-weight: bold">Сообщение</h6>
        <p style="margin-bottom:5px;">{{ getCurrPerson }}:</p>
        <span v-html='message.text'></span>
      </div>
    </div>
      <div class="mr-3">
        <b-button variant="outline-theme-3" class="icon-button rotate-icon-click rotate"
                  @click="toggleItem(message.id)"
        >
          <i class="simple-icon-pencil"></i>
        </b-button>
        <b-button variant="outline-theme-3" class="icon-button rotate-icon-click rotate"
                  @click="showModal"
        >
          <i class="simple-icon-trash"></i>
        </b-button>
      </div>
  </div>
  <EditMessage :message="message"></EditMessage>
    <b-modal :id="'my-modal-message' + message.id" centered hide-footer hide-header>
      <div class="d-block text-center">
        <h3>Вы действительно хотите удалить сообщение?</h3>
      </div>
      <div class="d-flex flex-row justify-content-center mt-5">
        <b-button class="mr-2 w-40" variant="outline-secondary" block @click="hideModal">Отменить</b-button>
        <b-button class="m-0 w-40" variant="primary" block @click="deleteItem(message.id)">Удалить</b-button>
      </div>
    </b-modal>
  </b-card>
  <add-person-with-message v-if="getAddType == 'addPersonWithMessage' && isEditing"></add-person-with-message>
  </div>
</template>

<script>
    import EditMessage from "./EditMessage";
    import API from 'Api';
    import {mapGetters} from 'vuex'
    import addPersonWithMessage from "../persons/addPersonWithMessage";
    export default {
        name: "MessageBlock",
        components: {
            EditMessage,
            addPersonWithMessage
        },
        props: ['message'],
        data(){
            return{
                isEditing: false
            }
        },
        computed: {
            ...mapGetters(['getPersons', 'getAddType']),
            getCurrPerson(){
                let person = '';
                this.getPersons.forEach(item =>{
                    if (item.id == this.message.character)
                        if (item.is_user)
                            person = item.default_role
                        else
                            person = item.first_name + ' ' + item.last_name;
                });
                return person;
            }
        },
        methods: {
            showModal() {
                this.$bvModal.show('my-modal-message' + this.message.id)
            },
            hideModal() {
                this.$bvModal.hide('my-modal-message' + this.message.id)
            },
            toggleItem(id){
                this.isEditing = true;
                this.$root.$emit('bv::toggle::collapse', `messageCollapse${id}`);
            },
            deleteItem(id){
              console.log(id)
              console.log(this.message)
                const config = {
                    headers: { Authorization: `Bearer ${localStorage.getItem('user')}`}
                };
                API
                    .delete('admin_pannel/delete_message/' + id, config)
                    .then(response => {
                        console.log(response);
                        this.hideModal();
                        this.$store.dispatch('getAllBlocks', this.$route.params.page_id)
                    })
                    .catch(function (error) {
                        console.log(error)
                        if(error.response.status == 404)
                        {

                        }
                        if(error.response.status == 500)
                        {
                            this.$bvToast.toast('Ошибка сервера. Невозможно выполнить запрос.', {
                                title: 'Уведомление',
                                variant: 'danger',
                                solid: true
                            })
                        }
                        if(error.response.status == 401)
                        {
                            this.$store.dispatch('signOut');
                            this.$router.push('/user');
                            //ошибка токена. Пытается ломануть нас. Выкинуть на главную

                        }
                    })
            }
        },
        mounted() {
            this.$store.dispatch('getAllPersons', this.$route.params.id);
        }
    }
</script>

<style scoped>

</style>
