@import "./_mixins.scss";
@import "./_piaf.style.scss";
@import "./_plugins.scss";

/** your custom css code **/
/* 
html {
    background-color: $theme-color-1 !important;
}
*/ 
$logoPath: "/assets/img/logo.svg" !important;
$logoPathMobile: "/assets/img/logo.svg" !important;